<tr>
  <td class="club_name">
    <%= link_to(team.name, team_path(team)) -%>
  </td>
  <td>
    <%= raw team.sponsors %>
  </td>
  <td>
    <%= link_to(team.website, team.website) unless team.website.blank? %>
  </td>
  <td class="contact">
    <%= link_to_contact(team) %>
  </td>
  <td class="contact_phone"><%= team.contact_phone %></td>
</tr>
