<% if version == version.versioned.versions.last -%>

<tr <%= "class='selected'" if version == selected %>>
  <td><%= link_to version.updated_at.to_s(:long), edit_admin_page_path(version.versioned) %></td>
  <td><%= link_to version.user.try(:name), edit_admin_page_path(version.versioned) %></td>
</tr>

<% else -%>

<tr <%= "class='selected'" if version == selected %>>
  <td><%= link_to version.updated_at.to_s(:long), edit_admin_pages_version_path(version) %></td>
  <td><%= link_to version.user.try(:name), edit_admin_pages_version_path(version) %></td>
</tr>

<% end -%>
