<% @page_title = "Admin: Pages: #{@page.title}" %>

<%= error_messages_for :page %>

<%= form_for [:admin, @page] do |f| -%>
  <div class="column_grid_container top_margin">
    <div class="span-2">
      <%= f.labelled_text_field :title, "Title", :label => { :class => "top no_top_margin" } %>
      <%= f.labelled_text_field :slug, "Slug", :label => { :class => "top" } %>
      <%= f.label :parent_id, "Parent", :class => "top" %>
      <%= f.select :parent_id, @page.valid_parents.sort_by(&:path).collect { |p| [ "#{p.title} (#{p.path})", p.id ] }, { :include_blank => true } %>
      <% table :caption => "Versions", :class => "versions box-2 top_margin", :id => :versions, :insert_header => true, :columns => 2 do %>
        <%= render :partial => "version", :collection => @page.versions.sort_by(&:lock_version).reverse, :locals => { :selected => @page.versions.latest } %>
      <% end -%>
    </div>
  
    <div class="span-4 last">
      <%= f.labelled_text_area :body, :class => "box-4 last" %>

      <div class="page_buttons clear span-4 last">
        <div class="updatedon span-2"><%= "Updated: #{updated(@page)}" if @page.updated_at %></div>
        <div class="right span-2 last">
          <%= link_to("Preview", "/#{@page.path}", :target => "_new", :class => "obvious", :id => "preview") %>
          <%= link_to("Delete", 
                      admin_page_path(@page), 
                      :confirm => confirm_destroy_message(@page), 
                      :method => :delete, 
                      :class => "obvious", 
                      :id => "delete") unless @page.new_record? %>
          <%= submit_tag "Save", :id => "save" %>
        </div>
      </div>
    </div>
  </div>

<% end -%>

<script type="text/javascript" charset="utf-8"> 
  <% if @page.new_record? %> 
    Event.observe(window, 'load', function() { 
      $('page_title').focus(); 
    }); 
  <% else -%> 
    Event.observe(window, 'load', function() { 
      $('page_body').focus(); 
    }); 
  <% end -%> 
</script>
