<tr class="<%= cycle("even", "odd") %>" id="promoter_<%= promoter.id %>_row">
  <td class="name span-4">
    <div class="record" id="promoter_<%= promoter.id %>">
      <%= in_place_editor_field(:promoter, :name, promoter) %>
    </div>
  </td>
  <td class="email span-4">
    <%= in_place_editor_field(:promoter, :phone, promoter) %>
  </td>
  <td class="phone span-4">
    <%= in_place_editor_field(:promoter, :email, promoter) %>
  </td>
  <td class="actions span-6 last">
    <%= link_to "Edit", edit_admin_promoter_path(promoter) %>
  </td>
</tr>
