<div id="races_collection">

  <h3>Races</h3>

  <table class="base table table-striped event_nav">
    <thead>
      <tr>
        <th>
          <% if event.any_results_including_children? %>
          <%= link_to event_results_path(event), class: "icon", title: 'View public results web page' do %>
              <span class="glyphicon glyphicon-list"></span>
            <% end %>
          <% end %>
        </th>
        <th class="category">Category</th>
        <th class="numeric">Field Size</th>
        <th class="actions"></th>
        <th class="actions"></th>
      </tr>
    </thead>
    <tbody>
      <%= render event.races.sort %>
      <%- if event.new_record? %>
      <tr>
        <td colspan="5">Save new event to add races.</td>
      </tr>
      <% end -%>
      <% unless event.new_record? || event.races.present? %>
      <tr>
        <td colspan="5" class="empty">No races. Click [+] to add a race.</td>
      </tr>
      <% end %>
      <% unless event.new_record? -%>
      <tr id="create_race_row">
        <td colspan="4">
          <%= link_to(
                "Edit all",
                edit_admin_event_races_collection_path(event),
                remote: true,
                method: :get,
                class: "obvious",
                id: "edit_all",
                title: "Edit all races at once"
              ) %>
        </td>
        <td class="actions">
          <%= link_to(
                admin_event_races_path(event),
                remote: true,
                method: :post,
                class: "icon",
                id: "create_race",
                title: "Add race"
              ) do %>
            <span class="glyphicon glyphicon-plus-sign"></span>
          <% end %>
        </td>
      </tr>
      <tr>
        <td colspan="3">
          <% if administrator? -%>
          <div class="form-group">
            <%= label_tag :results_file, "Import Results", class: "control-label", id: "upload_form_label" %>
            <%= form_tag upload_admin_event_path(event), multipart: true, id: "upload_form" do %>
              <div class="controls">
                <%= file_field_tag "results_file",style: "width: 250px;" %>
              </div>
            <% end -%>
          </div>
          <div id="upload_progress" style="display: none;"><em>Importing Results</em>&nbsp;<span class="glyphicon glyphicon-refresh rotate"></span></div>
          <% end -%>
        </td>
        <td colspan="2" class="actions">
          <span class="glyphicon glyphicon-refresh rotate" id="update_races_progress" style="display: none"></span>
          <%= link_to("Copy to Child Events",
                      propagate_admin_event_races_path(event),
                      remote: true,
                      method: :post,
                      class: "btn btn-default btn-sm",
                      id: "propagate_races",
                      title: "Add same races to all children events"
              ) if event.races.any? && event.children.any?
          %>
          <%= link_to("Delete All",
            destroy_races_admin_event_path(event),
            class: "btn btn-sm btn-default",
            id: "destroy_races",
            title: "Delete all races",
            remote: true,
            method: :delete,
            data: { confirm: "Really delete all races from #{event.name}?" }
          ) if event.races.any? && administrator?
          # Lame workaround for Safari
          %>
        </td>
      </tr>
      <% end -%>
    </tbody>
  </table>
</div>
