<% @page_title = "New Password" %>
<% @show_tabs = false %>

<%= render "shared/errors", :object => @person %>

<h2><%= @person.name %></h2>

<%= form_for :person, :url => password_reset_path, :method => :put do |f| %>
  <div class="row-fluid">
    <div class="span4"></div>
    <div class="span4">
      <%= f.labelled_password_field :password, "New Password", :class => "span12 wants_focus" %>
      <%= f.labelled_password_field :password_confirmation, "Confirm New Password" %>
    </div>
  </div>
  <div class="row-fluid buttons">
    <div class="span4"></div>
    <div class="span4 actions"><%= submit_tag "Save", :class => "btn btn-primary", :id => "save" %></div>
  </div>
<% end %>
