<% @page_title = "Ironman: #{@year}" %>

<% unless @years.empty? %>	
<%= tabs do |tabs|
  for year in @years
	tabs.add(year, :year => year)
  end
end -%>
<% end %>  

<% if @ironman.nil? or @ironman.races.empty? %>
No results for <%= @year %>
<br/>
<% end %>

<p>The Ironman Competition is a 'just for fun' record of the number of events riders do.<br>
There is no prize just identification of riders who need to get a life.</p>

<% unless @ironman.nil? or @ironman.races.empty? or @ironman.races.first.results.empty? %>

<p><%= will_paginate @results %></p>

<div class="updatedon centered">Updated <%= @ironman.updated_at.to_formatted_s(:long) %></div>

<% table :caption => "#{@ironman.date.year} Ironman" do %>
  <tr>
    <td><pre><%- for result in @results %>
<%= result.place.rjust(3) -%>
 <%= link_to(truncate(result.name), 
	 :controller => 'results',
     :action => 'competition',
     :competition_id => result.event.to_param,
     :racer_id => result.racer_id) %><%= ' ' * (30 - truncate(result.name).length) -%>
   <%= truncate(result.racer_team_name, :length => 40).ljust(40) -%>
   <%= number_with_precision(result.points, :precision => 0).rjust(6) -%>
<%- end -%></pre></td>
  </tr>
<% end -%>

<p><%= will_paginate @results %></p>
<% end %>  
