<% @page_title = "Ironman: #{@year}" %>

<% unless @years.empty? %>	
<%= tabs do |tabs|
  for year in @years
	tabs.add(year, :year => year)
  end
end -%>
<% end %>  

<% if @ironman.nil? or @ironman.races.empty? %>
No results for <%= @year %>
<br/>
<% end %>

<p>The Ironman Competition is a 'just for fun' record of the number of events riders do.<br>
There is no prize just identification of riders who need to get a life.</p>

<% unless @ironman.nil? or @ironman.races.empty? or @ironman.races.first.results.empty? %>

<p><%= will_paginate @results %></p>

<div class="updatedon centered">Updated <%= @ironman.updated_at.to_formatted_s(:long) %></div>

<%= table :caption => "#{@ironman.date.year} Ironman", :columns => 4, :class => "event_results" do %>
  <% result_columns = %w{ place name team_name points } %>
  <tr>
    <%- result_columns.map.each do |column| -%>
    <th class="<%= column %>"><%= result_header column %></th>
    <%- end -%>
  </tr>
  <%- @results.sort.each do |result| -%>
  <tr class="<%= cycle "even", "odd" %>">
    <%- result_columns.each do |column| -%>
    <td class="<%= result_cell_class column %>"> %>><%= result_cell result, column %></td>
    <%- end -%>
  </tr>
  <%- end -%>
<%- end -%>

<p><%= will_paginate @results %></p>
<% end %>  
