<% @page_title = "Category 4 Womens Race Series | New Result" %>

<%- if flash[:info] -%>
<div class="info"><%= image_tag "icons/confirmed.gif" %> <%= flash[:info] %></div>
<%- end -%>

<%= error_messages_for "event" -%>
<%= error_messages_for "standings" -%>
<%= error_messages_for "race" -%>
<%= error_messages_for "result" -%>

<% form_for(:result, :url => { :controller => "cat4_womens_race_series", :action => "results" }) do |f| %>

<div>
  <label for="[event]name">Event:</label><%= text_field "event", "name", :size => 60, :autocomplete => 'off' %>
  <%= check_box "event", "sanctioned_by" -%><label 
    for="event[sanctioned_by]"  class="check_box_label"><%= ASSOCIATION.short_name %>?</label>
</div>

<div>
  <label for="[event]date">Date:</label><%= date_select "event", "date", :order => [:month, :day, :year]%>
</div>

<div style="margin-top: 16px;"> 
  <table class="base">
    <tr>
    <th>Place</th>
    <th>Number</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Team</th>
  </tr>
    <tr>
    <td><%= f.text_field :place, :size => grid_columns("place").size, :autocomplete => 'off' %></td>
    <td><%= f.text_field :number, :size => grid_columns("number").size, :autocomplete => 'off' %></td>
    <td><%= f.text_field :first_name, :size => grid_columns("first_name").size, :autocomplete => 'off' %></td>
    <td><%= f.text_field :last_name, :size => grid_columns("last_name").size, :autocomplete => 'off' %></td>
    <td><%= f.text_field :team_name, :size => grid_columns("team_name").size, :autocomplete => 'off' %></td>
  </tr>
  </table>
</div>  

<div style="margin-top: 16px;"> 
  <%= submit_tag "Save" %> <%= link_to "Cancel" %>
</div>  
<% end %>
