<% @page_title = "Category 4 Womens Race Series | New Result" %>

<%= error_messages_for "event" -%>
<%= error_messages_for "race" -%>
<%= error_messages_for "result" -%>

<% form_for(:result, 
            :url => { :controller => "cat4_womens_race_series", :action => "results" },
            :html => { :autocomplete => "off", :class => "cat4_womens_race_series" }) do |f| %>


<div class="column_grid_container">
  <div class="span-6 last">
    <%= label(:event, :name, "Event") %><%= text_field :event, :name, :autocomplete => "off" %><br/>
    <%= label(:event, :date, "Date") %><%= date_select "event", "date", :order => [:month, :day, :year]%>
    <%= label(:event, :sanctioned_by, "#{check_box(:event, :sanctioned_by)} #{RacingAssociation.current.short_name}?", :class => "check_box") %>
  </div>

  <% table :class => "clear people", :id => :people do %>
    <tr>
      <th class="span-1">Place</th>
      <th class="span-1">Number</th>
      <th class="span-3">First Name</th>
      <th class="span-3">Last Name</th>
      <th class="span-3 last">Team Name</th>
    </tr>
    <tr>
      <td class="span-1"><%= f.text_field :place %></td>
      <td class="span-1"><%= f.text_field :number %></td>
      <td class="span-3"><%= f.text_field :first_name %></td>
      <td class="span-3"><%= f.text_field :last_name %></td>
      <td class="span-3 last"><%= f.text_field :team_name %></td>
    </tr>
  <% end -%>

  <div class="page_buttons span-6 last">
    <div class="right span-6 last">
      <%= link_to "Cancel" %>
      <%= submit_tag "Save", :id => "save" %>
    </div>
  </div>
</div>
<% end %>
