<h3 class="events">Events</h3>

<table class="base table table-striped">
  <thead>
    <tr>
      <th colspan="3" class="actions">
        <% if @event.results_present_including_children? %>
        <%= link_to event_results_path(@event),
              class: "icon",
              title: 'View public results web page' do %>
            <span class="glyphicon glyphicon-list"></span>
          <% end %>
        <% end %>
      </th>
    </tr>
  </thead>
  <tbody>
    <%- if @event.new_record? %>
    <tr>
      <td colspan="3">Save new event to add child events.</td>
    </tr>
    <%- end %>
  <%- @event.children.sort.each do |single_day_event| -%>
    <tr id="event_<%= single_day_event.id %>_row">
      <td class='nowrap'><%= link_to single_day_event.date.strftime('%A, %B %-d'), edit_admin_event_path(single_day_event) %></td>
      <td class='link'><%= link_to single_day_event.name, edit_admin_event_path(single_day_event) %></td>
      <td class="actions">
        <% if administrator? %>
          <%= link_to(
                admin_event_path(single_day_event),
                remote: true,
                class: "icon",
                id: "destroy_event_#{single_day_event.id}",
                title: "Delete event",
                method: :delete) do %>
            <span class="glyphicon glyphicon-minus-sign"></span>
          <% end %>
        <% end %>
      </td>
    </tr>
    <%- end -%>
    <tr>
      <td class='nowrap'>
        <% if @event.children.empty? && administrator? && !@event.new_record? -%>
        <span class="weak">No events. Click [+] button to add a new child event.</span>
        <% end -%>
      </td>
      <td class='link'></td>
      <td class="actions">
        <% if administrator? && !@event.new_record?  %>
          <%= link_to(
            new_admin_event_path(event: { parent_id: @event.id, type: @event.is_a?(MultiDayEvent) ? "SingleDayEvent" : "Event" }),
            class: "icon",
            title: "Add child event",
            id: "new_event"
          ) do %>
            <span class="glyphicon glyphicon-plus-sign"></span>
          <% end %>
        <% end %>
      </td>
    </tr>
  </tbody>
</table>
