<% nav_caption = %Q{
  <div>Events</div>
  <div class="right">
  #{link_to(image_tag('icons/page_go.png', :title => 'View public results web page', :alt => 'View public results web page'), 
     event_results_path(@event),
     { :class => "image" }) if @event.has_results_including_children? }  
  </div>
}.html_safe %>
<%= table :caption => nav_caption, :class => "box-3 last", :columns => 3, :insert_header => true do %>
  <%- @event.children_and_child_competitions.each do |single_day_event| -%>
  <tr id="event_<%= single_day_event.id %>_row">
    <td class='nowrap'><%= link_to single_day_event.date.strftime('%A, %B %-d'), edit_admin_event_path(single_day_event) %></td>
    <td class='link'><%= link_to single_day_event.name, edit_admin_event_path(single_day_event) %></td>
    <td class="right"><%= link_to(image_tag('icons/delete.png'),
              admin_event_path(single_day_event),
              :remote => true,
              :class => "image", 
              :id => "destroy_event_#{single_day_event.id}", 
              :title => "Delete event",
              :method => :delete) if administrator?
    %></td>
  </tr>
  <%- end -%>
  <tr>
    <td class='nowrap'>
      <% if @event.children_and_child_competitions.empty? && administrator? && !@event.new_record? -%>
      <span class="weak">No events. Click button to add a new child event.</span>
      <% end -%>
    </td>
    <td class='link'></td>
    <td class="right"><%= link_to(
      image_tag("icons/add.png"),
      new_admin_event_path(:event => { :parent_id => @event.id, :type => @event.is_a?(MultiDayEvent) ? "SingleDayEvent" : "Event" }),
      :class => "image", 
      :id => "new_event"
    ) if administrator? && !@event.new_record? %></td>
  </tr>
<% end -%>
