<% @page_title = "Admin: Events: #{@event.name}" %>

<%= error_messages_for "event" %>

<h2><%= link_to_parents(@event) %><%= @event.name %></h2>

<div class="column_grid_container">
  <div class="box-3">
    <%= render :partial => "parent", :object => @event %>
    <%= render :partial => "events", :object => @event %>
    <%= render :partial => "races", :object => @event %>
  </div>
  <div class="span-3 last">
     <% form_for(:event, 
                 @event, 
                 :url => @event.new_record? ? admin_events_path : admin_event_path(@event), 
                 :html => { :method => form_method_for(@event) }) do |f| -%>
      <div class="span-3 last no_top_margin">
        <%= f.hidden_field :parent_id %>
        <%= f.labelled_text_field :name %>

        <%= f.label :type %>
        <%= f.select(:type, [['Event', nil],
                             ['Single Day Event', 'SingleDayEvent'],
                             ['Multi Day Event', 'MultiDayEvent'], 
                             ['Series', 'Series'], 
                             ['Weekly Series', 'WeeklySeries']], {}, 
           { :title => "Event: placeholder hidden from schedule (combined TT results). 
    \nSingle day event: most events. 
    \nMulti day event: event over consecutive days (stage races, AVC). 
    \nSeries: weekend events with full BAR points (Cross Crusade). 
    \nWeekly series: weeknight, BAR points only for overall (PIR)" }) %><br/>

        <% case @event
           when SingleDayEvent -%>
          <%= f.label :date_1i, "Date" %>
          <%= f.date_select :date, :order => [:month, :day, :year] %>
        <% when MultiDayEvent -%>
          <%- if @event.start_date == @event.end_date -%>
            <%= f.labelled_text(:date, @event.start_date ? @event.start_date.strftime('%A, %B %d, %Y') : "") %>
          <%- else -%>
            <%= f.labelled_text(:date, (@event.start_date && @event.end_date) ? "#{@event.start_date.strftime('%a %m/%d/%Y')} to #{@event.end_date.strftime('%a %m/%d/%Y')}" : "") %>
          <%- end -%>
        <% else -%>
            <%= f.labelled_text(:date, @event.date ? @event.date.strftime('%A, %B %d, %Y') : "") %>
        <% end -%>

        <%= f.label :discipline %>
        <%= f.select :discipline, Discipline.find_all_names.sort %><br/>

        <%= f.label :city, "City, State" %>
        <%= f.text_field :city, :class => "city_no_zip" %> <%= f.text_field :state, :class => "state_no_zip" %>

        <% if ASSOCIATION.show_events_velodrome? -%>
        <%= f.label :velodrome_id, "Velodrome" %>
        <%= f.select(:velodrome_id, 
                 Velodrome.find(:all).sort_by(&:name).collect {|v| [ v.name, v.id ] }, 
                 { :include_blank => true }) %>
        <% end -%>
        
        <%= f.labelled_text_field :time %>
        <%= f.labelled_check_box :cancelled %>
        <%= f.labelled_check_box :instructional %>
        <%= f.labelled_check_box :practice %>
      </div>

      <div class="span-3 last top_margin">
        <%= f.label :promoter_id, "Promoter" %>
        <%= f.select(:promoter_id, 
                 Promoter.find(:all).sort_by{|p| p.name_or_contact_info}.collect {|p| [ p.name_or_contact_info, p.id ] }, 
                 { :include_blank => true }) %>
       </div>
       
      <div class="prepend-1 span-2 last" id="promoter_links">
        <%= link_to_function("Edit", nil, :id => "edit_promoter_link") do |page|
          page << "window.location.href = '/admin/promoters/' + $F('event_promoter_id') + '/edit?event_id=#{@event.id}'; return false;"
        end %>
        <%= link_to("New", new_admin_event_promoter_path(@event)) %>
      </div>

      <div class="span-3 last top_margin">
        <% if SANCTIONING_ORGANIZATIONS.size > 1 -%>
        <%= f.label :sanctioned_by %>
        <%= f.select :sanctioned_by, SANCTIONING_ORGANIZATIONS %>
        <%- end %>

        <%= f.label :number_issuer_id, "Number Issuer" %>
        <%= f.select(:number_issuer_id, NumberIssuer.find(:all, :order => 'name').collect {|i| [i.name, i.id]})  %>
        
        <%= f.labelled_check_box :atra_points_series, "ATRA Points Series" if ASSOCIATION.competitions.include?(:atra_points_series) %>

        <% if ASSOCIATION.competitions.include?(:bar) -%>
        <%= f.label :bar_points, "BAR Points" %>
        <%= f.select(:bar_points, bar_points_and_labels) %>
        <%- end %>
        
        <% if ASSOCIATION.competitions.include?(:rider_rankings) -%>
        <%= f.label :bar_points, "Rankings Pts" %>
        <%= f.select(:bar_points, bar_points_and_labels) %>
        <%- end %>

        <%- if CombinedTimeTrialResults.allows_combined_results?(@event) -%>
          <%= f.labelled_check_box :auto_combined_results, "Auto-calc combined results" %>
        <%- end -%>

        <%= f.labelled_check_box :ironman if ASSOCIATION.competitions.include?(:ironman) %>

        <%= f.labelled_text_field :flyer %>
        <%= f.labelled_check_box :flyer_approved %>

        <%= f.labelled_text_field :pre_event_fees %>
        <%= f.labelled_text_field :post_event_fees %>
        <%= f.labelled_text_field :flyer_ad_fee %>

        <%= f.labelled_text_area :notes %>
      </div>
      
       <div class="span-3 page_buttons last">
        <div class="updatedon span-1"><% unless @event.updated_at.nil? %>Updated: <%= time_ago_in_words(@event.updated_at, true) + " ago" %><% end %></div>
        <div class="right span-2 last">
          <%= link_to("Delete", admin_event_path(@event), :method => :delete, :class => 'obvious', :id => 'delete') unless @event.new_record? %>
          <%= submit_tag "Save", :id => "save" %>
        </div>
      </div>
    <% end -%>

  </div>
</div>

<%= focus("event_name") if @event.new_record? -%>

<%= if !@event.promoter || @event.new_record?
      update_page_tag { |page| page.hide(:edit_promoter_link) }
    end -%>

<% unless @event.new_record? %>
<script type="text/javascript" charset="utf-8">
  new Form.Element.Observer('event_promoter_id', 0, function(element, value) {
    if (value == '') {
      Element.hide('edit_promoter_link');
    }
    else {
      Element.show('edit_promoter_link');
    }
  })
</script>
<% end -%>
