<% @page_title = "Admin: Events: #{@event.name}" %>

<%= error_messages_for "event" %>

<h2><%= link_to_parents(@event) %><%= @event.name %></h2>

<div class="column_grid_container">
  <div class="box-3">
    <%= render :partial => "parent", :object => @event %>
    <%= render :partial => "events", :object => @event %>
    <%= render :partial => "races", :object => @event %>
  </div>
  <div class="span-3 last">
     <% form_for(:event, 
                 @event, 
                 :url => @event.new_record? ? admin_events_path : admin_event_path(@event), 
                 :html => { :method => form_method_for(@event) }) do |f| -%>
      <div class="span-3 last no_top_margin">
        <%= f.hidden_field :parent_id %>
        <%= f.labelled_text_field :name, nil, :editable => administrator?, :class => "wants_focus" %>

        <% if administrator? %>
        <% unless @event.new_record? -%>
        <div class="prepend-1 span-2 last">
          <%= link_to "Duplicate", new_admin_event_path(:event => @event.attributes), :class => "obvious", :id => "duplicate_event" %><br/>
        </div>
        <% end -%>
        <%= f.label :type %>
        <%= f.select(:type, [['Event', nil],
                             ['Single Day Event', 'SingleDayEvent'],
                             ['Multi Day Event', 'MultiDayEvent'], 
                             ['Series', 'Series'], 
                             ['Weekly Series', 'WeeklySeries']], {}, 
           { :title => "Event: placeholder hidden from schedule (combined TT results). 
    \nSingle day event: most events. 
    \nMulti day event: event over consecutive days (stage races, AVC). 
    \nSeries: weekend events with full BAR points (Cross Crusade). 
    \nWeekly series: weeknight, BAR points only for overall (PIR)" }) %><br/>
        <% end -%>
        
        <% case @event
           when SingleDayEvent -%>
           <% if administrator? %>
           <%= f.label :date_1i, "Date" %>
           <%= f.date_select :date, :order => [:month, :day, :year] %>
           <% else %>
            <%= f.labelled_text(:date, @event.date ? @event.date.strftime('%A, %B %d, %Y') : "") %>
           <% end -%>
        <% when MultiDayEvent -%>
          <%- if @event.start_date == @event.end_date -%>
            <%= f.labelled_text(:date, @event.start_date ? @event.start_date.strftime('%A, %B %d, %Y') : "") %>
          <%- else -%>
            <%= f.labelled_text(:date, (@event.start_date && @event.end_date) ? "#{@event.start_date.strftime('%a %m/%d/%Y')} to #{@event.end_date.strftime('%a %m/%d/%Y')}" : "") %>
          <%- end -%>
        <% else -%>
            <%= f.labelled_text(:date, @event.date ? @event.date.strftime('%A, %B %d, %Y') : "") %>
        <% end -%>

        <%= f.labelled_text_field(:time) if administrator? %>
        <%= f.labelled_select(:discipline, @disciplines.sort) if administrator? %><br/>

        <%= f.label :city, "City, State" %>
        <%= f.text_field :city, :class => "city_no_zip" %> <%= f.text_field :state, :class => "state_no_zip" %>

        <% if RacingAssociation.current.show_events_velodrome? && administrator? -%>
        <%= f.labelled_select(:velodrome_id, Velodrome.find(:all).sort_by(&:name).collect {|v| [ v.name, v.id ] }, :include_blank => true) %>
        <% end -%>
        
        <% if administrator? %>
        <%= f.labelled_check_box :cancelled %>
        <%= f.labelled_check_box :postponed %>
        <%= f.labelled_check_box :instructional %>
        <%= f.labelled_check_box :practice %>
        <%= f.labelled_check_box :beginner_friendly %>
        <% end -%>
      </div>

      <% if administrator? %>
      <div class="span-3 last">
        <%= auto_complete f, :event, :promoter, people_path(:format => :json) %>
      </div>
       
      <div class="prepend-1 span-2 last" id="promoter_links">
        <%= link_to_function("Edit", nil, :class => "obvious", :id => "edit_promoter_link") do |page|
          page << "window.location.href = 'http://#{RacingAssociation.current.rails_host}/admin/people/' + $('#event_promoter_id').val() + '/edit?event_id=#{@event.id}'; return false;"
        end %>
      </div>
      <% end -%>
      
      <div class="span-3 last top_margin">
        <fieldset>
          <legend>Contact Information</legend>
          <p>If different than promoter's personal contact information</p>
          <%= f.labelled_text_field :phone %>
          <%= f.labelled_text_field :email %>
        </fieldset>
      </div>
      
      <div class="span-3 last top_margin">
        <%= auto_complete(f, :event, :team, admin_teams_path, "Sponsoring Team") if administrator? %>
        <%= f.labelled_text_field :first_aid_provider, nil, :editable => administrator? %>
        <%= f.labelled_text_field :chief_referee, nil, :editable => administrator? %>
      </div>
      
      <div class="span-3 last top_margin">
        <% if administrator? -%>
        <% if RacingAssociation.current.sanctioning_organizations.many? -%>
        <%= f.labelled_select :sanctioned_by, RacingAssociation.current.sanctioning_organizations %>
        <%- end %>

        <% if RacingAssociation.current.show_events_sanctioning_org_event_id? -%>
          <%= f.labelled_text_field :sanctioning_org_event_id, "Sanctioning Org Event ID" %>
        <% end -%>

        <%= f.labelled_select(:number_issuer_id, NumberIssuer.find(:all, :order => 'name').collect {|i| [i.name, i.id]}) %>
        <br/>
        
        <%= f.labelled_check_box :atra_points_series, "ATRA National Championship Series (NCS)" if RacingAssociation.current.competitions.include?(:atra_points_series) %>
        <% end -%>

        <% if RacingAssociation.current.competitions.include?(:bar) -%>
        <%= f.labelled_select :bar_points, bar_points_and_labels, :label => { :text => "BAR Points"}, :editable => administrator? %>
        <%- end %>
        
        <% if RacingAssociation.current.competitions.include?(:rider_rankings) -%>
        <%= f.labelled_select :bar_points, bar_points_and_labels, :label => { :text => "Rankings Pts"}, :editable => administrator? %>
        <%- end %>

        <% if administrator? -%>
        <%- if CombinedTimeTrialResults.allows_combined_results?(@event) -%>
          <%= f.labelled_check_box :auto_combined_results, "Auto-calc combined results" %>
        <%- end -%>

        <%= f.labelled_check_box(:ironman) if RacingAssociation.current.competitions.include?(:ironman) %>
        <% end -%>
        
        <%= f.labelled_text_field :flyer, nil, :editable => administrator? %>
        <% if administrator? -%>
        <%= f.labelled_check_box :flyer_approved, nil %>
        <%= f.labelled_text_field :website, nil, :editable => administrator? %>
        <%= f.labelled_text_field :registration_link, nil, :editable => administrator? %>

        <%= f.labelled_text_field :pre_event_fees %>
        <%= f.labelled_text_field :post_event_fees %>
        <%= f.labelled_text_field :flyer_ad_fee %>

        <%= f.labelled_text_area :notes %>
        <% end -%>
      </div>
      
       <div class="span-3 page_buttons last">
        <div class="updatedon span-1">
          <% unless @event.updated_at.nil? %>Updated: <%= time_ago_in_words(@event.updated_at, true) + " ago" %><% end %>
          <%= "New" if @event.new_record? %>
        </div>
        <div class="right span-2 last">
          <%= link_to("Delete", admin_event_path(@event), :method => :delete, :class => 'obvious', :id => 'delete') unless @event.new_record? || !administrator? %>
          <%= submit_tag "Save", :id => "save" %>
        </div>
      </div>
    <% end -%>

  </div>
</div>

<%= if (!@event.promoter || @event.new_record?) && administrator?
      update_page_tag { |page| page.hide(:edit_promoter_link) }
    end -%>

<% if !@event.new_record? && administrator? -%>
<% javascript_tag do %>
  $('event_promoter_id').change(function () {
    if ($('event_promoter_id').val() == '') {
      $('edit_promoter_link').hide();
    }
    else {
      $('edit_promoter_link').show();
    }
  });
<% end -%>
<% end -%>