<% @page_title = 'First Aid' %>

<%= render "shared/admin/tabs" %>

<div align="center">
	<div>
		<%= link_to 'Email', :action => 'first_aid_provider_email' %>
	</div>
	<table border="0" cellspacing="0" cellpadding="0" class="base">
		<caption><%= @year %> First Aid</caption>
		<thead>
			<tr class='column_titles'>
				<th>Provider</th>
				<th>Date</th>
				<th>Event</th>
				<th>Location</th>
			</tr>
		</thead>
		<tbody>
	<%- for @event in @events -%>
		<tr class="<%= cycle("even", "odd") %>">
			<%- if @event.first_aid_provider == 'Needed' -%>
			<td style="font-weight: bold;">
			<%- else -%>
			<td>
			<%- end -%>
				<%= in_place_editor_field :event, 'first_aid_provider' %>
			</td>
			<td>
			  <%- if @event.date -%>
			  <%= @event.date.strftime("%a %m/%d") -%>
			  <%- end -%>
		   	</td> 
			<td class="link">
				<%= link_to @event.name, :action => 'show', :id => @event.id %>
	    	</td> 
			<td><%= @event.city_state -%></td>
		</tr>
	<%- end -%>
	</tbody>
	</table>
</div>
