<span id="racer_name_<%= @racer.id %>">
	<% if @existing_racers.size == 1 %>
	<%= form_remote_tag(
		:url => {:action => 'merge', :id => "racer_#{@racer.to_param}", :target_id => @existing_racers.first.id},
	 	:success => 'document.location.reload(true)') %>
		<%= text_field_tag 'name', @racer.name, :size => 40 %>
	<br>
	<%= @existing_racers.first.name %> <%= aka(@existing_racers.first) %> already exists.
	<br>
	Delete <%= @original_name %> and move results to <%= @existing_racers.first.name %>?
	<div align="right" style="padding-right: 2px;">
		<%= link_to_remote image_tag('/images/buttons/small_cancel.gif'), 
			:update => "racer_name_#{@racer.id}", 
			:url => { :action => "cancel", :id => @racer.to_param },
			:height => 44, :width => 22 %>
		<%= image_submit_tag '/images/buttons/small_ok.gif', :height => 22, :width => 44 %>
	</div>
	</form>
	
	<% else %>

	<%= form_remote_tag(:url => {:action => 'merge'}, :success => 'document.location.reload(true)') %>
		<%= text_field_tag 'name', @racer.name, :size => 40 %>
	<br>
	<%= @existing_racers.first.name %> already exists.
	<br>
	Delete <%= @original_name %> and move results to:
	
	<% for existing_racer in @existing_racers %>
	    <br>
		<%= radio_button_tag "id", "racer_#{@racer.to_param}" %> 
		<%= existing_racer.name %> 
		<%= existing_racer.team_name if existing_racer.team %>
		<% unless existing_racer.road_number.blank? %>Road # <%= existing_racer.road_number %><% end %>
		<% unless existing_racer.xc_number.blank? %>MTB # <%= existing_racer.xc_number %><% end %>
		<% unless existing_racer.dh_number.blank? %>DH # <%= existing_racer.dh_number %><% end %>
		<% unless existing_racer.ccx_number.blank? %>CX # <%= existing_racer.ccx_number %><% end %>
	<% end %>
	
	<%= hidden_field_tag "target_id", @existing_racers.first.id %>
	
	<div align="right" style="padding-right: 2px;">
		<%= link_to_remote image_tag('/images/buttons/small_cancel.gif'), 
			:update => "racer_name_#{@racer.id}", 
			:url => { :action => "cancel", :id => @racer.to_param },
			:height => 44, :width => 22 %>
		<%= image_submit_tag '/images/buttons/small_ok.gif', :height => 22, :width => 44 %>
	</div>
	</form>
	
	<% end %>
</span>
