<% if @racer.new_record? 
     racer_name = 'New Racer' 
   else
     racer_name = @racer.name
   end %>
<% @page_title = "Admin: Racers: #{racer_name}" %>

<%= error_messages_for "racer" %>

<h2><%= @racer.name %></h2>

<div class="column_grid_container">
<% form_for [:admin, @racer]  do |f| -%>
  <div class="span-3">
    <%= f.labelled_text_field :first_name %>
    <%= f.labelled_text_field :last_name %>
    <%= f.labelled_text_field :team_name %>
  </div>
  <div class="span-3 last">
    <%= f.label :date_of_birth, "Date of Birth" %>
    <%= date_select 'racer', 'date_of_birth', 
        :order => [:month, :day, :year], 
        :start_year => 1900, :end_year => Date.today.year, 
        :include_blank => true %>
    <br/>

    <%= f.labelled_text(:racing_age,  "#{@racer.racing_age} #{'(Master)' if @racer.master? } #{'(Junior)' if @racer.junior? }") %>
    <%= f.labelled_text :cyclocross_racing_age,  @racer.cyclocross_racing_age %>

    <%= f.label :gender %>
    <%= select('racer', 'gender', ['', 'F', 'M']) %><br/>
  </div>

  <div class="span-3">
    <%= f.labelled_text_field :email %>
    <%= f.labelled_text_field :home_phone %>
    <%= f.labelled_text_field :work_phone %>
    <%= f.labelled_text_field :cell_fax %>
    <%= f.labelled_check_box :wants_mail, "Wants mail?" %>
    <%= f.labelled_check_box :wants_email, "Wants email?" %>
  </div>
  <div class="span-3 last">
    <%= f.labelled_text_field :street %>
    <%= f.label :city, "City, State ZIP" %>
    <%= f.text_field :city, :class => "city" %> <%= f.text_field :state, :class => "state" %> <%= f.text_field :zip, :class => "zip" %>
    <%= f.labelled_text_field :occupation %>

    <%= f.labelled_check_box :volunteer_interest, "Volunteer Interest" %>
    <%= f.labelled_check_box :official_interest, "Official Interest" %>
    <%= f.labelled_check_box :race_promotion_interest, "Racer promotion Interest" %>
    <%= f.labelled_check_box :team_interest, "Team Interest" %>
  </div>

  <hr class="space" />

  <div class="span-3">
    <%= f.label :member_from, "Member From" %>
    <%= date_select 'racer', 'member_from', 
        :order => [:month, :day, :year],
        :start_year => 1999, :end_year => Date.today.year + 1, 
        :include_blank => true %>
    <%= f.label :member_to, "To" %>
    <%= date_select 'racer', 'member_to', 
        :order => [:month, :day, :year],
        :end_year => Date.today.year + 1, 
        :include_blank => true %><br/>
  
    <%= f.labelled_text(:member, "Current", nil, :class => "current") if @racer.member? -%>
    <%= f.labelled_text(:member, "Renewed", nil, :class => "renewed") if @racer.renewed? -%>
    <%= f.labelled_text(:member, "Not current", nil, :class => "not_current") if !@racer.member? && !@racer.renewed? -%>

    <%= f.labelled_check_box :print_card, 
                             "Print card? #{(link_to 'Print one card now', card_admin_racer_path(@racer, :format => "pdf"), 
                             {:class => 'obvious'})}" unless @racer.new_record? %>
  
    <%= f.labelled_check_box :print_mailing_label, "Print mailing label?" %>
  </div>

  <div class="span-3 last">
    <%= f.labelled_text_area :notes %>
  </div>

  <hr class="space" />

  <div class="clear span-6 last">
    <div id="numbers_wrapper"><%= render :partial => 'numbers', :locals => {:year => @year, :years => @years, :racer => @racer, :race_numbers => @race_numbers} %></div>
    <%= render :partial => 'categories', :locals => { :racer => @racer } %>
    <%= render :partial => 'aliases_table', :locals => { :racer => @racer } %>
  </div>

  <div class="page_buttons span-6 last">
    <div class="updatedon span-2">
      <span class="created_at">
        <% if @racer.created_at %>Created <%= time_ago_in_words(@racer.created_at, true) + " ago" %><% end %>
        <% if @racer.created_by %>by <%= truncate_from_end(@racer.created_by.name) %><% end %>
      </span>
      <% if @racer.updated_at %>Updated <%= time_ago_in_words(@racer.updated_at, true) + " ago" %><% end %>
      <% if @racer.updated_by %>by <%= truncate_from_end(@racer.updated_by) %><% end %>
    </div>
    <div class="right span-4 last">
      <%= link_to("Move Results", :controller => '/admin/results', :action => 'racer', :id => @racer.id) unless @racer.new_record? %>  
      <%= link_to("Delete", admin_racer_path(@racer), :method => :delete, :class => 'obvious', :id => 'delete') unless @racer.new_record? %>
      <%= submit_tag "Save", :id => "save" %>
    </div>
  </div>
<% end -%>
</div>

<%= focus('racer_first_name') if @racer.new_record? %>