<% @page_title = 'Admin: Racers' %>

<%= render "shared/admin/tabs" %>

<div style="margin-top: 16px; margin-bottom: 16px;">
<%= form_tag({}, {:method => 'get', :id => 'search_form'}) %>
	<span class="field_label">Name:</span> <%= text_field_tag 'name', @name, :size => 30 %>

	<%# Nasty code required to show consistent messages with and without AJAX. At least it could be in a helper. %>
	<p class="message">
		<%= image_tag('/images/icons/warn.gif', :height => 11, :width => 11, :id => 'warn_icon') %>
		<span id='warn_text'><%= flash[:warn] %></span>
		<%= image_tag('/images/icons/confirmed.gif', :height => 11, :width => 11, :id => 'message_icon') %>
		<span id='message_text'><%= flash[:notice] %></span>
	</p>
	<%= update_page_tag {|page| page.hide('message_icon')} unless flash[:notice] -%>
	<%= update_page_tag {|page| page.hide('warn_icon')} unless flash[:warn] -%>
</form>
</div>

<table>
	<tr>
		<td>
			<table class="base" style="margin-bottom: 2px;">
		        <tr>
					<th></th>
			        <th style="width: 200px;">Name</th>
		            <th>Team</th>
		            <th>Aliases</th>
		            <th align="right">Road</th>
		            <th align="right">MTB</th>
		            <th align="right">DH</th>
		            <th align="right">Cross</th>
					<th align="center">Member</th>
					<th></th>
					<th></th>
		        </tr>
				<%= render :partial => "racer", :collection => @racers %>
				<% if @racers.empty? %>
				<tr valign="top">
					<%- if @name.blank? -%>
					<td colspan="11" width="200" class="not_found">Enter part of a racer's name</td>
					<%- else -%>
					<td colspan="11" width="200" class="not_found">No racers found</td>
					<%- end -%>
				</tr>
				<% end %>
				<tr valign="top" id="new_row">
					<td colspan="11"></td>
				</tr>
			</table>
			<div><%= link_to(image_tag('/images/buttons/add.gif'), :action => 'new') %></div>
			
			<%= render :partial => 'import_export' %>

			<div class="tabs" style="margin-top: 24px;">
				<%= 
					link_to('Print Cards', :action => 'cards') 
				%> | <%= 
					link_to('Print Mailing Labels', :action => 'mailing_labels') 
				%>
			</div>
		</td>
	</tr>
</table>

<script type="text/javascript" charset="utf-8">
	function submit_export() {
		if ($F('format') == 'scoring_sheet') {
			this.location = '/admin/racers.xls?excel_layout=scoring_sheet&include=' + $F('include')
		}
		else {
			this.location = '/admin/racers.' + $F('format') + '?excel_layout=' + $F('format') + '&include=' + $F('include')
		}
	}
</script>

<%- for racer in @racers -%>
	<%= draggable_element("racer_#{racer.id}", :revert => true) %>
	<%= drop_receiving_element("racer_#{racer.id}", 
		:url => { :action => "merge", :target_id => racer.id }, 
		:loading => "new Effect.Fade(element.id + '_row')",
		:complete => evaluate_remote_response) %>
	<%= drop_receiving_element("name_#{racer.id}", 
		:url => { :action => "merge", :target_id => racer.id }, 
		:loading => "new Effect.Fade(element.id + '_row')",
		:complete => evaluate_remote_response) %>
<%- end -%>