<% @page_title = "Admin: Racers" %>

<%= render :partial => "shared/search", :locals => { :name => @name } %>

<% table :class => "racers", :id => :racers do %>
  <tr>
    <th class="name">Name</th>
    <th class="team">Team</th>
    <th class="aliases">Aliases</th>
    <th class="number">Road</th>
    <th class="number">MTB</th>
    <th class="check_box">Member</th>
    <th class="actions last"></th>
  </tr>
  <%= render :partial => "racer", :collection => @racers %>
  <% if @racers.empty? %>
  <tr valign="top">
    <%- if @name.blank? -%>
    <td colspan="8" width="200" class="not_found">Enter part of a racer's name</td>
    <%- else -%>
    <td colspan="8" width="200" class="not_found">No racers found</td>
    <%- end -%>
  </tr>
  <% end %>
<% end -%>

<div class="buttons container">
  <div class="updatedon">
    <%= link_to(image_tag('/images/buttons/add.gif'), { :action => 'new' }, { :class => "image new" }) %>
  </div>
  <div class="right">
    <%= link_to('Print Cards',  cards_admin_racers_path(:format => "pdf")) %> |
    <%= link_to('Print Mailing Labels', mailing_labels_admin_racers_path(:format => "pdf")) %>
  </div>
</div>

<%= render :partial => 'import_export' %>

<% focus('name') %>

<%- for racer in @racers -%>
  <%= draggable_element("racer_#{racer.id}", :revert => true, :delay => 100,
                        :onStart => "function() { Droppables.remove('racer_#{racer.id}_row') }", 
                        :onEnd => "function() { Droppables.add('racer_#{racer.id}_row', {hoverclass:'hovering', onDrop:function(element){new Ajax.Request('/admin/racers/merge?target_id=#{racer.id}', {asynchronous:true, evalScripts:true, parameters:'id=' + encodeURIComponent(element.id)})}})}")
  %>
  <%= drop_receiving_element("racer_#{racer.id}_row", 
    :url => { :action => "merge", :target_id => racer.id },
    :onDrop => "function(element){$('racer_#{racer.id}').src='/images/icons/spinner.gif'; new Ajax.Request('/admin/racers/merge?target_id=#{racer.id}', {asynchronous:true, evalScripts:true, parameters:'id=' + encodeURIComponent(element.id)});Droppables.remove('racer_#{racer.id}_row') }",
    :hoverclass => 'hovering' ) %>
<%- end -%>
