<% @page_title = 'Admin: Racers: Preview Import' %>
<% @show_tabs = false %>

<%= form_tag :action => 'import' %>
<%= check_box_tag 'update_membership', true, true %> Make all imported racers current members for 
<select name="year"><%= options_for_select @years, @year %></select>
<br>
<%= submit_tag 'Cancel' %>
<%= submit_tag 'Import' %>
</form>
<table class="base">
  <thead>
    <tr>
    <%- for column in @racers_file.columns -%>
      <th <%= "class=invalid" unless column.valid? %>><%= column.description %></th>
    <%- end -%>
    </tr>
    <tr>
    <%- for column in @racers_file.columns -%>
      <th><%= column.field %></th>
    <%- end -%>
    </tr>
  </thead>
<%- for row in @racers_file.rows -%>
  <tr class="<%= cycle("even", "odd") %>">
  <%- for cell in row -%>
    <td><%= cell %></td>
  <%- end -%>
  </tr>
<%- end -%>
</table>