<h3><%= RacingAssociation.current.effective_year %> Numbers</h3>
<%= table :class => "numbers",
         :id => "numbers",
         :columns => 2 do %>
  <% if RacingAssociation.current.show_license %>
  <tr>
    <td><%= RacingAssociation.current.short_name %> License/Membership #</td>
    <td><%= @person.license %></td>
  </tr>
  <% end %>

  <% @person.race_numbers.select { |n| n.year == RacingAssociation.current.effective_year }.each do |number| -%>
  <tr>
    <td><%= number.number_issuer.name %> <%= number.discipline.name %></td>
    <td><%= number.value %></td>
  </tr>
  <% end -%>
<% end -%>
