<tr class="<%= cycle("even", "odd") %>" id="person_<%= person.id %>_row" style="position: relative;">
  <td class="name" style="position: relative;">
    <%- @person = person -%>
      <%= link_to person.name, person_results_path(person) %>
  </td>
  <td class="aliases">
    <%= truncate(person.aliases.collect{ |a| a.name }.join(', '), :limit => 200) %>
  </td>
  <td class="member">
    <%= "Yes" if person.member? %>
  </td>
  <td class="license">
    <%= person.license %>
  </td>
  <td class="racing_age">
    <%= person.racing_age %>
  </td>
  <td class="team">
    <%= person.team_name %>
  </td>
  <td class="city">
    <%= person.city_state %>
  </td>
  <td class="right">
    <%= person.road_category %>
  </td>
  <td class="right">
    <%= person.mtb_category %>
  </td>
  <td class="right">
    <%= person.ccx_category %>
  </td>
</tr>
