<tr id="person_<%= person.id %>_row">
  <td class="name">
    <%- @person = person -%>
      <%= link_to person.name, person_results_path(person) %>
    <div class="aliases">
      <%= person.aliases.collect(&:name).join(", ") %>
    </div>
  </td>
  <td class="member">
    <%= "Yes" if person.member? %>
  </td>
  <td class="license">
    <%= person.license %>
  </td>
  <td class="team">
    <%= person.team_name %>
  </td>
  <td class="city">
    <%= person.city_state %>
  </td>
  <td>
    <%= person.road_category %>
  </td>
  <td>
    <%= person.mtb_category %>
  </td>
  <td>
    <%= person.ccx_category %>
  </td>
  <td class="racing_age">
    <%= person.racing_age %>
  </td>
</tr>
