<% @page_title = "People: #{@person.name}" %>
<% @show_tabs = (promoter? || administrator? || official?) -%>

<%= error_messages_for :person %>

<h2><%= @person.name %></h2>

<div class="column_grid_container">
<% form_for @person  do |f| -%>
  <div class="span-3">
    <%= f.labelled_text_field :first_name %>
    <%= f.labelled_text_field :last_name %>

    <%= f.labelled_text_field :team_name %>
  </div>
  <div class="span-3 last">
    <%= f.label :date_of_birth, "Date of Birth" %>
    <%= date_select 'person', 'date_of_birth', 
        :order => [:month, :day, :year], 
        :start_year => 1900, :end_year => Date.today.year, 
        :include_blank => true %>
    <br/>

    <%= f.labelled_text(:racing_age,  "#{@person.racing_age} #{'(Master)' if @person.master? } #{'(Junior)' if @person.junior? }") %><br/>
    <%= f.labelled_text :cyclocross_racing_age, @person.cyclocross_racing_age, "CX Racing Age" %><br/>

    <%= f.label :gender %>
    <%= f.select(:gender, ['', 'F', 'M']) %><br/>
  </div>

  <div class="span-3">
    <%= f.labelled_text_field :email %>
    <%= f.labelled_text_field :home_phone %>
    <%= f.labelled_text_field :work_phone %>
    <%= f.labelled_text_field :cell_fax %>
    <%= f.labelled_text_field :emergency_contact %>
    <%= f.labelled_text_field :emergency_contact_phone %>
    <%= f.labelled_check_box :wants_mail, "It's OK to send me mail" %>
    <%= f.labelled_check_box :wants_email, "It's OK to email me" %>
  </div>
  <div class="span-3 last">
    <%= f.labelled_text_field :street %>
    <%= f.label :city, "City, State ZIP" %>
    <%= f.text_field :city, :class => "city" %> <%= f.text_field :state, :class => "state" %> <%= f.text_field :zip, :class => "zip" %>
    <%= f.labelled_text_field :occupation %>

    <h3>Interests</h3>
    <%= f.labelled_check_box :volunteer_interest, "Volunteer" %>
    <%= f.labelled_check_box :official_interest, "Officiating" %>
    <%= f.labelled_check_box :race_promotion_interest, "Race promotion" %>
    <%= f.labelled_check_box :team_interest, "Team" %>
  </div>

  <hr class="space" />

  <div class="span-3">
    <%= f.labelled_text :member_from, @person.member_from %>
    <%= f.labelled_text :member_to, @person.member_to %><br/>
  
    <%= f.labelled_text(:member, "Current", nil, :class => "current") if @person.member? -%>
    <%= f.labelled_text(:usa_cycling, "Current (#{@person.license})", nil, :class => "current") if @person.member_usac_to && @person.member_usac_to >= Date.today -%>
    <%= f.labelled_text(:member, "Renewed", nil, :class => "renewed") if @person.renewed? -%>
    <%= f.labelled_text(:member, "Not current", nil, :class => "not_current") if !@person.member? && !@person.renewed? -%>  
    <%= f.labelled_text :official, @person.official? %>
  </div>

  <div class="span-3 last">
    <%= f.labelled_text_field :login, nil, :autocomplete => "off" %>
    <%= f.labelled_password_field :password, nil, :autocomplete => "off" %>
    <%= f.labelled_password_field :password_confirmation, "Confirm Password", :autocomplete => "off" %>
  </div>

  <hr class="space" />

  <div class="span-2">
    <%= render :partial => "numbers", :locals => { :person => @person } %>
  </div>

  <div class="span-2 append-2 last">
    <%= render :partial => "categories", :locals => { :person => @person } %>
  </div>

  <hr class="space" />

  <%= render :partial => "people/account_permissions", 
              :locals => { :person => @person, 
                           :account_permissions => @person.account_permissions, 
                           :return_to => @person.new_record? ? nil : edit_admin_person_path(@person)
                         }
  %>
  <%= render(:partial => "people/events", :locals => { :person => @person, :events => @person.events.find(:all, :conditions => [ 
     "parent_id is null and date between ? and ?", ASSOCIATION.now.beginning_of_year, ASSOCIATION.now.end_of_year 
   ]).sort_by(&:date).reverse }) unless @person.events.empty? %>

  <hr class="space" />

  <div class="page_buttons span-6 last">
    <div class="updatedon span-2">
      <%= render :partial => "people/created_updated" %>
    </div>
    
    <div class="right span-4 last">
      <%= link_to "Results", person_results_path(@person) %>
      <%= submit_tag "Save", :id => "save" %>
    </div>
  </div>
<% end -%>
</div>
