<% @page_title = "People: #{@person.name}" %>
<% @show_tabs = (promoter? || administrator? || official?) -%>

<%= render "shared/errors", :object => @person %>

<h2><%= @person.name %></h2>

  <%= form_for @person, :html => { :class => "form-horizontal" } do |f| -%>
    <div class="row-fluid">
      <div class="span6">
        <%= f.labelled_text_field :first_name %>
        <%= f.labelled_text_field :last_name %>
        <%= f.labelled_text_field :team_name %>
      </div>
      <div class="span6">
        <div class="control-group">
          <%= f.label :date_of_birth, "Date of Birth", :class => "control-label" %>
          <div class="controls">
            <%= date_select :person, :date_of_birth, 
                  :order => [:month, :day, :year], 
                  :start_year => 1900, 
                  :end_year => Time.zone.today.year, 
                  :include_blank => true %>
          </div>
        </div>

        <%= f.labelled_text(:racing_age,  "#{@person.racing_age} #{'(Master)' if @person.master? } #{'(Junior)' if @person.junior? }") %>

        <% if RacingAssociation.current.default_sanctioned_by == "USA Cycling" -%>
        <%= f.labelled_text :cyclocross_racing_age, @person.cyclocross_racing_age, "CX Racing Age" %>
        <% end -%>

        <%= f.labelled_select :gender, [ "", "F", "M" ]%>
    </div>
  </div>

  <div class="row-fluid">
    <div class="span6">
      <%= f.labelled_text_field :email %>
      <%= f.labelled_text_field :home_phone %>
      <%= f.labelled_text_field :work_phone %>
      <%= f.labelled_text_field :cell_fax %>
      <%= f.labelled_text_field :emergency_contact %>
      <%= f.labelled_text_field :emergency_contact_phone, "Em. Contact Phone" %>
      <div class="check_boxes">
        <%= f.labelled_check_box :wants_mail, "It's OK to send me mail" %>
        <%= f.labelled_check_box :wants_email, "It's OK to email me" %>
      </div>
    </div>
    <div class="span6">
      <%= f.labelled_text_field :street %>
      <div class="control-group">
        <%= f.label :city, "City, State ZIP", :class => "control-label" %>
        <div class="controls">
          <%= f.text_field :city, :class => "city" %> <%= f.text_field :state, :class => "state" %> <%= f.text_field :zip, :class => "zip" %>
        </div>
      </div>
      <%= f.labelled_text_field :occupation %>

      <h3>Interests</h3>
      <div class="check_boxes">
        <%= f.labelled_check_box :volunteer_interest, "Volunteer" %>
        <%= f.labelled_check_box :official_interest, "Officiating" %>
        <%= f.labelled_check_box :race_promotion_interest, "Race promotion" %>
        <%= f.labelled_check_box :team_interest, "Team" %>
      </div>
    </div>
  </div>

  <div class="row-fluid">
    <div class="span6 membership">
      <%= f.labelled_text :member_from, @person.member_from %>
      <%= f.labelled_text :member_to, @person.member_to %>
  
      <%= f.labelled_text(:member, "Current", nil, :class => "current") if @person.member? -%>
      <%= f.labelled_text(:usa_cycling, "Current (#{@person.license})", nil, :class => "current") if @person.member_usac_to && @person.member_usac_to >= Time.zone.today -%>
      <%= f.labelled_text(:member, "Renewed", nil, :class => "renewed") if @person.renewed? -%>
      <%= f.labelled_text(:member, "Not current", nil, :class => "not_current") if !@person.member? && !@person.renewed? -%>  
      <%= f.labelled_check_box :official, "Official", :editable => false %>
    </div>

    <div class="span6">
      <%= f.labelled_text_field :login, nil, :autocomplete => "off", :class => "span12" %>
      <%= f.labelled_password_field :password, nil, :autocomplete => "off", :class => "span12" %>
      <%= f.labelled_password_field :password_confirmation, "Confirm Password", :autocomplete => "off", :class => "span12" %>
    </div>
  </div>
  
  <hr/>

  <div class="row-fluid">
    <div class="span4">
      <%= render "numbers", :person => @person %>
    </div>
    <div class="span4">
      <%= render "categories", :person => @person%>
    </div>
    <div class="span4">
      <%= render "people/events", :events => @person.administrator? ? @person.events.current_year : Event.editable_by(@person).current_year %>
    </div>
  </div>

  <div class="row-fluid">
    <div class="span12">
    
      <%= render "people/account_permissions", 
            :person => @person, 
            :account_permissions => @person.account_permissions, 
            :return_to => @person.new_record? ? nil : edit_person_path(@person)
      %>
    </div>
  </div>
  
  <div class="row-fluid">
    <div class="span12">
      <%= render "people/orders", :person => @person %>
    </div>
  </div>
  
  <div class="row-fluid control-group">
    <div class="span12">
      <%= submit_tag "Save", :class => "btn btn-primary", :id => "save" %>
      <%= link_to "Results", person_results_path(@person), :class => "btn btn-link" %>
      <div class="pull-right created_updated"><%= render :partial => "people/created_updated" %></div>
    </div>
  </div>
<% end -%>
