<ul>
  <% # Compact HTML to avoid whitespace on suggest. Should just deal with this at the front-end.
   @people[0..5].each do |person| -%>
  <li id="person_<%= person.id %>" person_id="<%= person.id %>" person_name="<%= person.name %>"><%= person.name -%><div class="informal"><%= [ person.team_name.present? ? person.team_name : nil, person.city_state ].compact.join(" | ") -%></div></li>
  <% end -%>
  <% if @name.present? -%>
  <li id="new-<%= @name.parameterize %>" person_name="<%= @name %>">New person named <span class="name">'<%= @name %>'</span></li>
  <% end -%>
</ul>

<% if @people.size >= 6 -%>
<div class="more weak">More than six matches</div>
<% end -%>
