<% @page_title = "People" %>
<% @show_tabs = (promoter? || administrator?) -%>

<%= render_page "people/disciplines", :locals => { :year => @year } %>

<%= form_tag({}, {:method => "get", :id => "search_form"}) do %>
  <div class="centered">
    <%= label_tag "name" %>
    <%= text_field_tag "name", @name, :class => "wants_focus" %>
  </div>
<% end -%>

<em>Enter part of a person's name to search</em>

<%= table :class => "people", :id => :people do %>
  <tr>
    <th class="name">Name</th>
    <th class="aliases">AKA</th>
    <th>Member</th>
    <th>Team</th>
    <th>City</th>
    <th class="right">Road Cat</th>
    <th class="right">MTB Cat</th>
    <th class="right">Cross Cat</th>
  </tr>
  <%= render :partial => "person", :collection => @people %>
  <% if @people.empty? %>
  <tr valign="top">
    <td colspan="8" width="200" class="not_found">No matching people found</td>
  </tr>
  <% else %>
    <%= will_paginate @people %>
  <% end %>
<% end -%>

<% if (promoter? || administrator? || official?) %>
<%= link_to("Export current members to Excel", admin_people_path(:format => "xls", :excel_layout => "scoring_sheet", :include => "members_only"), :id => "export_link") %>
<% end -%>
