<% @page_title = "People" %>
<% @show_tabs = (promoter? || administrator?) -%>

<h2>People</h2>

<div class="container-fluid">
  <%= render_page "people/disciplines", :year => @year %>
  <%= render "shared/search", :name => @name, :placeholder => "Enter name to search" %>

  <div class="row-fluid">
    <div class="span12">
      <%= table :class => "people", :id => :people, :columns => 10, :collection => @people do %>
        <th class="name">Name</th>
        <th class="member">Member</th>
        <th class="license">License</th>
        <th>Team</th>
        <th>City</th>
        <th>Road</th>
        <th>MTB</th>
        <th>Cross</th>
        <th class="racing_age">Racing&nbsp;Age</th>
        <%= render :partial => "person", :collection => @people %>
        <% if @people.present? %>
          <%= will_paginate @people, :renderer => BootstrapPagination::Rails, :page_links => !mobile_request? %>
        <% end %>
      <% end -%>

      <% if (promoter? || administrator? || official?) %>
      <%= link_to("Export current members to Excel", admin_people_path(:format => "xls", :excel_layout => "scoring_sheet", :include => "members_only"), :id => "export_link") %>
      <% end -%>
    </div>
  </div>
</div>
