<%= render "shared/errors", :object => @person %>

<h2>New Login</h2>

<%= form_for :person, :url => create_login_people_path, :html => { :class => "form-horizontal" } do |f| -%>
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span12">
        <%= f.labelled_text_field :login, nil, :class => @person.new_record? ? "span12 wants_focus" : "span12", :help => "Most people use their email address as a login, but it's up to you" %>
        <% if @person.new_record? %>
        <div>
          <%= f.labelled_text_field :email, 
          nil,
              :class => "span12",
              :help => "#{RacingAssociation.current.short_name} respects your privacy and security. If it's OK with you, we will mail and email you about bike racing." %>
        </div>
        <div><%= f.labelled_text_field :name %></div>
        <% end -%>
        <%= f.labelled_password_field :password %>
        <%= f.labelled_password_field :password_confirmation, "Confirm Password" %>
        <%= hidden_field_tag "return_to", @return_to %>
        <%= hidden_field_tag "id", @person.perishable_token %>
      
        <% if @person.new_record? %>
        <%= f.labelled_text_field :license, 
              "License or Bib #", 
              :autocomplete => "off", 
              :class => "span12",
              :help => "Current or past #{RacingAssociation.current.short_name} member? Enter your license number or your bib number—we can link to your account." %>
        <% end -%>
      </div>
    </div>

    <div class="row-fluid buttons">
      <div class="span12 actions"><%= submit_tag "Save", :class => "btn btn-primary", :id => "save" %></div>
    </div>
  </div>
<% end -%>
