<% if photo %>
<div class="row">
  <% if photo.widescreen? %>
    <div class="col-sm-12">
      <%= image_tag photo.image_url, :title => photo.title, :class => "hero_photo", :height => photo.height, :width => photo.width %>
      <%= markdown photo.caption %>
    </div>
    <% elsif photo.portrait? %>
    <div class="col-sm-6">
      <%= image_tag photo.image_url, :title => photo.title, :class => "hero_photo", :height => photo.height, :width => photo.width %>
      <%= markdown photo.caption %>
    </div>
    <% else %>
    <div class="col-sm-8">
      <%= image_tag photo.image_url, :title => photo.title, :class => "hero_photo", :height => photo.height, :width => photo.width %>
      <%= markdown photo.caption %>
    </div>
  <% end %>
</div>
<% end %>
