<div class="table_container<%= " #{style_class}" if style_class %>"<%= " id='#{id}'" if id %>>
  <div class="caption"><%= caption %></div>
  <table cellspacing="0" class="base<%= " #{style_class}" if style_class %>"<%= " id='#{id}_table'" if id %>>
    <%- if insert_header -%>
    <tr>
      <% columns.times do -%><th>&nbsp;</th><%- end %>
    </tr>
    <%- end -%>
<%= body -%>
    <%- if body.blank? || (collection && collection.empty?) -%>
    <tr>
      <td class="empty">None</td>
    </tr>
    <%- end -%>
  </table>
  <%= link_to_remote(image_tag("/images/buttons/add.gif"), :url => { :action => new_action }, :html => { :class => "image" }) if new_action -%>
</div>

<% if id %>
<script type="text/javascript" charset="utf-8">
  // Otherwise, in-place editing jumps table around
  fixTableColumnWidths('<%= "#{id}_table" %>');
</script>
<% end -%>