<table class="base table table-striped<%= " #{style_class}".html_safe if style_class %>"<%= " id='#{id}_table'".html_safe if id %><%= " data-id='#{dataid}'".html_safe if dataid %>>
  <%- if insert_header -%>
  <thead>
    <tr>
      <% columns.times do -%><th>&nbsp;</th><%- end -%>
    </tr>
  </thead>
  <%- end -%>
<%= body -%>
    <%- if body.blank? || collection.try(:empty?) -%>
  <tbody>
    <tr>
      <td colspan="<%= columns %>" class="empty">None</td>
    </tr>
  </tbody>
    <%- end -%>
</table>
