<table class="base" id="<%= table.collection_symbol %>">
  <caption><%= table.caption %></caption>
  <tr>
    <%- table.columns.each do |column| %>
    <th><%= link_to_function(column.title) do |page|
      page.redirect_to(eval("admin_#{controller.controller_name}_path(:order => '#{column.order_param}')"))
    end %></th>
    <% end -%>
  </tr>

  <% table.collection.each do |record| %>
  <tr class="<%= cycle("even", "odd") %>">
    <%- table.columns.each do |column| -%>
    <td><%= if column.format
              record.send(column.attribute).to_s(column.format)
            else
              if column.link? || column.attribute == :name
                link_to(record.send(column.attribute), eval("admin_#{table.record_symbol}_path(record)"))
              elsif column.editable?
                eval("@#{table.record_symbol} = record"); in_place_editor_field table.record_symbol, column.attribute
              else
                record.send(column.attribute)
              end
            end -%></td>
    <%- end -%>
  </tr>
  <% end -%>

  <%- if table.collection.empty? %>
  <tr>
    <td colspan="<%= table.columns.size %>">Empty</td>
  </tr>
  <% end -%>

</table>
