<% @page_title = "Schedule: #{@year}" %>

<h2><%= @year %> Schedule</h2>

<%= render_page "shared/years", :year => @year, :discipline => @discipline %>
<%= render_page "shared/disciplines", :year => @year, :discipline => @discipline %>
<%= render "tabs", :calendar_tab => @calendar_tab %>
<%= render_page "schedule/tentative" %>

<%= table :collection => @events, :columns => 2 do %>
  <thead>
    <tr>
      <th class="date">Date</th>
      <th>Event</th>
    </tr>
  </thead>
  <tbody>
<%- @events.select { |e| e.date >= Time.zone.today }.each do |event| -%>
  <tr>
    <td class="date">
      <%= event.date.strftime("%a %-m/%-d") if event.date -%>
    </td>
    <%- if event.cancelled %>
    <td><span class="cancelled"><%= event.full_name -%></span> <em>cancelled</em></td>
    <%- elsif event.postponed? %>
    <td><span class="postponed"><%= event.full_name -%></span> <em>postponed</em></td>
    <%- else -%>
    <td class="link">
      <%- if event.flyer.present? && event.flyer_approved? -%>
          <a href="<%= event.flyer -%>" class="obvious"<%= " target='_blank'" if RacingAssociation.current.flyers_in_new_window? %>><%= event.full_name -%><%- if (!event.full_name.include?("MTB") and event.discipline == "Mountain Bike") -%>
          MTB
            <%- end -%></a>
            <%- else -%>
          <%= event.full_name -%><%= " MTB" if !event.full_name.include?("MTB") && event.discipline == "Mountain Bike" -%>
      <%- end -%>
      </td> 
  <%- end -%>
</tr>
  <%- end -%>
<% end -%>
</tbody>
