<div class="span-6 last">
  <%= f.error_messages %>
  <%= f.labelled_text_field :title %>

  <%= f.label :category %>
  <%= tree_select(ArticleCategory.all( :conditions => "parent_id = 0"), 'article', 'article_category_id', @article, false) %>
  <hr/>

  <%= f.cktext_area(:body, :toolbarSet => 'Simple', :width => '90%', :height => '400px') %>
  <%= f.label :article %>

  <%= f.labelled_text_field :position %>
  <%= f.labelled_check_box :display %>
</div>

<div class="span-6 last">
  <%= f.submit action_button %>
</div>

<hr/>
