<h3><%= [person.name, (person.team.blank? ? nil : person.team.name), person.city, person.racing_age].compact.join(', ') %></h3>
<%= table :class => "results",
         :dataid => person.id,
         :id => "person_#{person.id}" do %>
  <tr>
    <th></th>
    <th class="place">Place</th>
    <th>Race</th>
    <th>Category</th>
    <th class="date">Date</th>
    <th class="points">Pts</th>
    <th></th>
  </tr>
  <%- results.sort_by(&:date).each do |result| -%>
    <%= render result %>
  <%- end -%>

  <%- if results.empty? -%>
  <tr>
    <td colspan="8">No results</td>
  </tr>
  <%- end -%>
<% end -%>

<%= javascript_tag do %>
  $(document).ready(function() {
    $('.disclosure').click(function() {
      toggle_disclosure(this);
    });

    $('#person_<%= person.id %>_table').droppable({
      hoverClass: 'hovering',
      drop: function(event, ui) {
        ui.draggable.hide('scale');
        $('#find_progress_icon').show();
        $('#people').fadeTo(1, 0.4);
        $.ajax({
          url: '/admin/people/' + $(this).attr('data-id') + '/results/' + ui.draggable.attr('data-id') + '/move.js',
          type: 'POST'
        });
      }
    });

    $('.drag').draggable({ revert: 'invalid', zIndex: 10000, opacity: 0.7 });
  });
<% end -%>
