<% table :caption => [person.name, (person.team.blank? ? nil : person.team.name), person.city, person.racing_age].compact.join(', '), :id => "person_#{person.id}" do %>
  <tr>
    <th>&nbsp;</th>
    <th>&nbsp;</th>
    <th>&nbsp;</th>
    <th>Race</th>
    <th>Category</th>
    <th class="right">Date</th>
    <th class="right">Pts</th>
  </tr>
  <%- results.sort { |x, y| y.date <=> x.date }.each do |result| -%>
  <tr class="<%= cycle("even", "odd") %>" id="result_<%= result.id %>">
    <td class="disclosure"><%= 
    link_to_function(image_tag('icons/play_blue.png', :class => "collapsed", :id => "disclosure_#{result.id}"), 
    "toggle_disclosure(#{result.id})",
    :class => 'disclosure image', :alt => "") if result.competition_result? %></td>
    <td class="right"><%= result.place %></td>
    <td><%= link_to(image_tag('/images/icons/page_go.png', :title => 'View public results web page', :alt => 'View public results web page'),
      event_results_path(result.event, :anchor => "race_#{result.race.id}"), :class => "image") %>&nbsp;<%= link_to(image_tag('/images/icons/table_edit.png', :title => 'Edit race results', :alt => 'Edit race results'),
      edit_admin_race_path(result.race), :class => "image") %>
    </td>
    <td><%= result.event.full_name %></td>
    <td><%= result.race.name %></td>
    <td class="right"><%= result.race.event.date.strftime("%D") %></td>
    <td class="right"><%= number_with_precision(result.points, :precision => 1) if result.points > 0%></td>
  </tr>
  <%- end -%>

  <%- if results.empty? -%>
  <tr>
    <td colspan="7">No results</td>
  </tr>
  <%- end -%>
<% end -%>

<%- for result in results -%>
  <%= draggable_element("result_#{result.id}", :revert => true, :ghosting => true, :scroll => 'window') -%> 
<%- end -%>

<%= drop_receiving_element(
  "person_#{person.id}", 
  :onDrop => 'function(dragged, dropped){dropped_result(dragged, dropped)}')
%>

<script type="text/javascript" charset="utf-8">
  function toggle_disclosure(id) {
    var disclosure = $('disclosure_' + id);
    if (disclosure.className == 'collapsed') {
      disclosure.src='/images/icons/spinner.gif';
      new Ajax.Request('/admin/results/' + id + '/scores', 
        {asynchronous:true, 
          evalScripts:true, 
          onComplete:function(request){expand(id)}}); 
      return false;      
    }
    else {
      disclosure.src = '/images/icons/play_blue.png';
      disclosure.className = 'collapsed';
      $$('tr.scores_' + id).each(function(e) {
    e.remove();
      });
  }
  }
  
  function expand(id) {
    var disclosure = $('disclosure_' + id);
    disclosure.src = '/images/icons/down_blue.png';
    disclosure.className = 'expanded';
  }
</script>
