<tr id="result_<%= result.id %>_row">
  <td>
    <% if result.competition_result? %>
      <span class="disclosure glyphicon collapsed" id="disclosure_<%= result.id %>"></span>
    <% end %>
  </td>
  <td class="place"><%= result.place %></td>
  <td class="result">
    <div class="drag" data-id="<%= result.id %>">
      <div class="event"><%= result.event_full_name %></div>
    </div>
  </td>
  <td><%= result.race.name %></td>
  <td class="date"><%= result.event_date_range_s %></td>
  <td class="points"><%= number_with_precision(result.points, precision: 0) if result.points > 0 %></td>
  <td>
    <%= link_to event_results_path(result.event, anchor: "race_#{result.race.id}"),
                class: "btn btn-link btn-xs",
                title: 'View public results web page' do %>
      <span class="glyphicon glyphicon-list"></span>
    <% end %>
    <%= link_to edit_admin_race_path(result.race),
                class: "btn btn-link btn-xs",
                title: 'Edit race results' do %>
      <span class="glyphicon glyphicon-edit"></span>
    <% end %>
  </td>
</tr>
