<tr id="result_<%= result.id %>_row">
  <td>
    <% if result.competition_result? %>
      <i class="disclosure collapsed" id="disclosure_<%= result.id %>"></i>
    <% end %>
  </td>
  <td class="place"><%= result.place %></td>
  <td class="result">
    <div class="drag" data-id="<%= result.id %>">
      <div class="event"><%= result.event_full_name %></div>
    </div>
  </td>
  <td><%= result.race.name %></td>
  <td class="date"><%= result.event_date_range_s %></td>
  <td class="points"><%= number_with_precision(result.points, :precision => 0) if result.points > 0 %></td>
  <td class="page_links">
    <%= link_to event_results_path(result.event, :anchor => "race_#{result.race.id}"), 
               :title => 'View public results web page' do %>
      <i class="icon-list"></i>
    <% end %>
    <%= link_to edit_admin_race_path(result.race),
    :title => 'Edit race results' do %>
      <i class="icon-edit"></i>
    <% end %>
  </td>
</tr>
