<%= error_messages_for 'result' %>
<% @show_tabs = false %>

<%= form_tag({:controller => 'results', :action => 'update', :id => @result.to_param}) %>
<%= hidden_field 'result', 'id' %>
<table class="base" cellspacing="0" cellpadding="0">
  <tr>
    <% for column in @result.race.result_columns_or_default %>
    <th><%= column %></th>
    <% end %>
  </tr>
  <tr>
    <% for column in @result.race.result_columns_or_default %>
    <td><%= text_field('result', column, :size => grid_columns(column).size, :autocomplete => 'off') if @result.respond_to?(grid_columns(column).field) %></td>
    <% end %>
  </tr>
  <tr>
    <td colspan="<%= @result.race.result_columns_or_default.size %>" align="right">
      <%= submit_tag "Save" %>
    </td>
  </tr>
</table>
</form>

<p>To remove a racer from the result, erase both the first name and last name.</p>
<p>If you change the racer name to an existing racer or alias, the result will move to that racer. 
This <strong>will</strong> create an alias for the old name.</p>
<p>If the new racer name doesn't exist, a new racer will be created.</p>
<p>Team names work the same way.<p>
