<% @page_title = "Admin: Results: #{@racer.name}" %>

<%= form_remote_tag( 
  :url => {:action => :find_racer, :ignore_id => @racer.id}, 
  :update => 'right_racer',
  :before => "Element.show('find_progress_icon')",
  :complete => "$('left_racer').scrollTo(); $('left_racer').removeClassName('full_width'); $('left_racer').addClassName('half_width'); Element.show('right_racer'); Element.hide('find_progress_icon')"
) %>
  <div class="buttons centered">
    <%= label_tag :name, "Move Results to Racer" %>
    <%= text_field_tag :name %>
    <%= image_tag 'icons/spinner.gif', :id => 'find_progress_icon' %>
  </div>
</form>

<div class="racers clear last" id="racers">
  <div class="full_width" id="left_racer">
    <%= render :partial => 'racer', :locals => {:racer => @racer, :results => @results} %>
  </div>

  <div class="half_width last" id="right_racer"></div>
</div>

<script type="text/javascript">
  function dropped_result(dragged, dropped) {
    Element.show('find_progress_icon');
    new Effect.Fade($('racers'), {duration:1.0, from:1.0, to:0.4});
    new Ajax.Request('/admin/results/move_result?racer_id=' + encodeURIComponent(dropped.id), {asynchronous:true, evalScripts:true, parameters:'id=' + encodeURIComponent(dragged.id)});
  }
</script>
