<% @page_title = "#{@event.name} | #{@year}" %>

<h3><%= @event.name %></h3>

<% if !@event.races.empty? %>
<% if @event.races.size > 1 -%>
<%# TODO Encapsulate in a helper method %>
<table cellspacing="0" class="centered">
<% index = 0 %>
<% while index < @event.races.size %>
  <tr valign="top">
    <% if index < @event.races.size %>
    <td><a href="#<%= index %>"><span class="type"><%= @event.races[index].name %></span></a></td>
      <% index += 1 %>
      <% if index < @event.races.size %>
    <td width="16">&nbsp;</td>
    <td><a href="#<%= index %>"><span class="type"><%= @event.races[index].name %></span></a></td>
      <% end %>
    <% end %>
  </tr>
  <% index += 1 %>
<% end %>
</table>
<% end -%>

<span class="updatedon">Updated <%= @event.updated_at.to_formatted_s(:long) %></span>
<%- @event.races.each do |race| -%>
  <%- if race.results.present? -%>
    <%= results_table race %>
  <%- end -%>
<%- end -%>

<%- else -%>
<% if @event.is_a?(RiderRankings) && @year.to_i > 2011 %>
<p class="centered">The WSBA is using the default USA Cycling ranking system from 2012 onward. Please see <%= link_to "http://www.usacycling.org/events/rr.php",  "http://www.usacycling.org/events/rr.php" %>.</p>
<%- else -%>
No results for <%= @year %>.
<%- end -%>
<br/>
<%- end -%>
