<div style="text-align: center;">
	<table class="yellow">
		<tr>
			<td class="tablehead">Bidder</td>
			<td class="tablehead"></td>
			<td class="tablehead"></td>
			<td class="tablehead">Amount</td>
			<td class="tablehead">Date</td>
			<td class="tablehead">Approved?</td>
		</tr>
	<% for bid in @bids.sort {|x, y| y.amount <=> x.amount} %>
		<tr>
			<td><%= bid.name %></td>
			<td><%= bid.email %></td>
			<td><%= bid.phone %></td>
			<td class="right"><%= bid.amount %></td>
			<td><%= bid.created_at.to_formatted_s(:long) %></td>
			<td><%= attribute(bid, 'approved') %></td>
		</tr>
	<% end %>
	</table>
</div>