<% @page_title = "Admin: Pages: #{@page.title}: #{@version.number}" %>

<div class="column_grid_container top_margin">
  <div class="span-2">
    <%= labelled_text :page, :title, "Title", @page.title, {:class => "left no_top_margin"}, "no_top_margin" %>
    <%= labelled_text :page, :slug, "Slug", @page.slug, {:class => "left"} %>
    <%= labelled_text :page, :parent_id, "Parent", ("#{@parent.title} (#{@parent.path})" if @parent), {:class => "left"} %>

    <%= table :caption => "Versions", :class => "versions box-2 top_margin", :id => :versions, :insert_header => true, :columns => 2 do %>
      <%= render :partial => "admin/pages/version", 
                 :collection => @page.versions.sort_by(&:number).reverse, 
                 :locals => { :selected => @version } %>
    <% end -%>
  </div>
  
  <div class="span-4 last">
<<<<<<< HEAD
    <%# FIXME Maybe we do want to escape? %>
    <textarea readonly="true" id="page_body"><%= @version.body.html_safe %></textarea>
  </div>

  <div class="page_buttons clear full_width last">
    <div class="updatedon span-3"><%= "Updated: #{updated(@version.page)}".html_safe if @version.page.updated_at %></div>
=======
    <textarea readonly="true" id="page_body"><%= @page.body %></textarea>
  </div>

  <div class="page_buttons clear full_width last">
    <div class="updatedon span-3"><%= "Updated: #{updated(@page)}" if @page.updated_at %></div>
>>>>>>> 60bbaa10cda6699ee229f6c59e688d8b4c26dac1
    <div class="right full_width last">
      <%= link_to("Preview", admin_pages_version_path(@version), :target => "_new", :class => "obvious", :id => "preview") %>
      <%= link_to("Delete", 
                  admin_pages_version_path(@version),
                  :confirm => "Really delete this version?", 
                  :method => :delete, 
                  :class => "obvious", 
                  :id => "delete") %>
      <%= link_to "Revert", revert_admin_pages_version_path(@version), :confirm => "Really revert the current page to this version?" %>
    </div>
  </div>
</div>