<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title><%= page_title %></title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= csrf_meta_tags %>
 
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <%= render "layouts/stylesheets" %>
  <%= render "layouts/javascripts" %>
  <%= javascript_include_tag "admin" %>
  
  <link rel="shortcut icon" href="/assets/favicon.ico">
  <link rel="apple-touch-icon" href="/assets/apple-touch-icon.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/assets/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/assets/apple-touch-icon-114x114.png">
  <%= yield :head %>
  <%= render "shared/google" %>
</head>
<body>
  <%= render "layouts/nav" %>
  <div class="container-fluid">
    <div class="flash_messages">
      <% [ :warn, :notice ].each do |key| %>
        <% if flash[key] %>
        <%= render "layouts/flash_message", :message => flash[key], :alert_class => alert_class(key) %>
        <% end %>
      <% end %>
    </div>

<div class="content">
<%= render :partial => "shared/tabs" %>
<%= yield %>
</div>

  </div>
  <div class="container-fluid nav">
    <footer>
      <ul>
        <li><%= link_to "Account", account_path, :class => "account_link" %></li><li><%= 
                link_to "Login", new_person_session_path, :class => "login_link" %></li>
      </ul>
    </footer>
  </div>
</body>
</html>
