<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>
      <%- if @page_title -%>
      <%= ASSOCIATION.short_name %>: <%= @page_title -%>
      <%- else -%>
      <%= ASSOCIATION.name %>
      <%- end %>
    </title>
    <%= stylesheet_link_tag "reset" %>
    <%= stylesheet_link_tag "jquery-ui/jquery-ui-1.8.2.custom" %>
    <%= stylesheet_link_tag "application", "grid", "tabs", "forms", "tables", "pages", "admin" %>
    <!--[if IE]>
    <%= stylesheet_link_tag "ie" %>
    <![endif]-->
    <!--[if IE 6]>
    <%= stylesheet_link_tag "ie_6" %>
    <![endif]-->
    <%= javascript_include_tag :defaults %>
    <%= javascript_include_tag :fckeditor %>
    <%= javascript_include_tag "tabs" %>
  </head>

  <body>
  <div class="shadow_2">
    <div class="shadow_1">
      <div class="frame" id="frame">
        <div class="nav" id="top">
          <h1><%= link_to ASSOCIATION.name, '/' %></h1>
          <div class="breadcrumb"><%= link_to ASSOCIATION.short_name, :controller => '/' %></div>
        </div>
        <div class="content container">
        <%= render :partial => "shared/tabs" %>
        <%= render :partial => "shared/flash_messages", :locals => { :flash => flash } %>
<%= yield %>
        </div>
        <div class="nav" id="bottom">
          <div class="breadcrumb">
            <%= link_to ASSOCIATION.short_name, '/' %> | 
      <%= link_to "Logout", person_session_path, :method => :delete, :id => "account_link" %>
      </div>
        </div>
      </div>
    </div>
  </div>
  <%= render :partial => "shared/auto_complete" %>
  </body>
</html>