<tr id="race_<%= race.id %>_row">
  <td class="icon"><span class="glyphicon glyphicon-star"></span></td>
  <td class="race">
    <%= editable race, :category_name %>
  </td>
  <td class="numeric">
    <%= race[:field_size] if race[:field_size] %>
  </td>
  <td class="actions">
    <%= link_to "Edit", edit_admin_race_path(race), :id => "edit_race_#{race.id}" %>
  </td>
  <td class="actions delete">
    <%= link_to(
          admin_race_path(race),
          :remote => true,
          :class => "icon",
          :id => "destroy_race_#{race.id}",
          :title => "Delete race",
          :data => { :confirm => (Rails.env.acceptance? || !promoter?) ? nil : "Really delete #{race.name}?" },
          :method => :delete) do %>
      <span class="glyphicon glyphicon-minus-sign"></span>
    <% end %>
  </td>
</tr>
