<tr id="race_<%= race.id %>_row">
  <td class="race">
    <%= editable race, :category_name %>
  </td>
  <td class="field_size right">
    <%= race[:field_size] if race[:field_size] %>
  </td>
  <td class="right">
    <%= link_to "Edit", edit_admin_race_path(race), :id => "edit_race_#{race.id}" %>
  </td>
  <td class="right delete">
    <%= link_to(image_tag("icons/delete.png"),
          admin_race_path(race),
          :remote => true,
          :class => "image", :id => "destroy_race_#{race.id}", :title => "Delete race",
          :data => { :confirm => (Rails.env.acceptance? || !promoter?) ? nil : "Really delete #{race.name}?" },
          :method => :delete
        )
    %>
  </td>
</tr>
