<tr class="<%= cycle("even", "odd") %>" id="result_<%= result.id %>_row" style="position: relative;">
  <% result.race.result_columns_or_default_for_editing.each do |column| %>
  <td><%= 
    # FIXME I doubt this works
    if result.respond_to?(column) && !result.new_record?
      if column == "bar"
        check_box_tag "result_#{result.id}_bar", "1", result.bar?, 
                :onchange => "newjQuery.get('/admin/results/set_result_bar/#{result.id}?value=#{result.bar? ? "0" : "1"}')"
      else
        in_place_editor_field(:result, ResultColumn[column].display_method, result) 
      end
    end
    -%></td>
  <% end %>
  <td class="actions last">
    <%= link_to_remote image_tag("/images/icons/add.png"),
          :url => create_result_admin_race_path(:before_result_id => result.id), 
          :html => { :class => "image", :id => "result_#{result.id}_add" }, 
          :method => "post"
    %><%= link_to_remote(image_tag("/images/icons/delete.png"), 
            :url => destroy_result_admin_race_path(result.race, :result_id => result.id), 
            :html => { :class => "image", :id => "result_#{result.id}_destroy" }, 
            :method => "delete") unless result.new_record? %>
  </td>
</tr>
