<tr class="<%= cycle("even", "odd") %>" id="result_<%= result.id %>_row" style="position: relative;">
  <% columns = result.race.result_columns_or_default.dup
  columns.map! do |column| 
    if column == "first_name" || column == "last_name"
      "name"
    else
      column
    end
  end
  columns.uniq! -%>
  <% columns.map { |column_string| grid_columns(column_string) }.each do |column| %>
  <td><%= in_place_editor_field(:result, column.field, result) if result.respond_to?(column.field) &&  !result.new_record? -%></td>
  <% end %>
  <td class="actions last">
    <%= link_to_remote image_tag("/images/buttons/small_add.png"),
          :url => create_result_admin_race_path(:before_result_id => result.id), 
          :html => { :class => "image", :id => "result_#{result.id}_add" }, 
          :method => "post"
    %><%= link_to_remote(image_tag("/images/buttons/small_remove.png"), 
            :url => destroy_result_admin_race_path(result.race, :result_id => result.id), 
            :html => { :class => "image", :id => "result_#{result.id}_destroy" }, 
            :method => "delete") unless result.new_record? %>
  </td>
</tr>
