<% @page_title = "Admin: Race: #{@race.name}" %>

<%= error_messages_for "race" %>

<h2>Race: <%= @race.name %></h2>

<div class="column_grid_container">
  <div class="box-3">
    <%= render :partial => "admin/events/nav", :locals => { :event => @race.event, :race => @race } %>
  </div>

  <div class="span-3 last">
    <% form_for [:admin, @race] do |f| -%>
      <div class="span-3">
        <%= f.labelled_text :bar_category, (@race.category.parent ? @race.category.parent.name : @race.category.name), "BAR Category" %>
        <%= f.label :bar_points, "BAR Points" %>
        <%= f.select :bar_points, bar_points_and_labels %>
        <%= f.labelled_text_field :notes %>
        <%= f.labelled_text_field :field_size, "Field Size (#{@race.results.size})" %>    
        <%= f.labelled_text_field :distance %>
        <%= f.labelled_text_field :laps %>
      </div>

      <div class="span-3 page_buttons last">
        <div class="updatedon span-1">Updated: <%= time_ago_in_words(@race.updated_at, true) + " ago" unless @race.updated_at.nil? %></div>
        <div class="right span-2 last">
          <%= submit_tag "Save", :id => "save" %>
        </div>
      </div>
    <% end -%>
  </div>
</div>

<div class="container">
  <%= render :partial => "results", :locals => { :race => @race } %>
</div>
