<% @page_title = "Schedule: #{@year}" %>

<%= render :partial => "years" %>
<%= tabs do |tabs|
  @schedule.months.each do |month|
    tabs.add(month.name, :anchor => month.name)
  end
end -%>
<%= render :partial => "disciplines", :locals => { :year => @year } %>

<% if Date.today < Date.new(@year, 2) %>
<div>Tentative. Dates are subject to change.</div>
<% end %>

<p class="centered"><%= link_to "Schedule in list format", {:action => 'list'}, {:class => 'obvious'} %> with race organizer contact information</p>

<div class="container">
  <%- for month in @schedule.months -%>
  <% table :class => "calendar", :caption => "<a name='#{month.name}'>#{month.name} #{@year}</a>" do %>
      <tr>
        <th>Sunday</th>
        <th>Monday</th>
        <th>Tuesday</th>
        <th>Wednesday</th>
        <th>Thursday</th>
        <th>Friday</th>
        <th>Saturday</th>
      </tr>
    <%- for week in month.weeks -%>
      <tr class="month">
      <%- for day in week.days -%>
        <%- if day.other_month? -%>
        <td class="day_from_other_month"><div class="number"><%= day.day_of_month -%></div>
        <%- else -%>
        <td class="day">
          <div class="number"><%= day.day_of_month -%></div>
          <%- for event in day.events -%>
          <div class="event">
      <%- if event.cancelled %>
        <span class="cancelled"><%= event.name -%></span> <i>cancelled</i>
      <%- else -%>
              <%- if (!event.flyer.blank? and event.flyer_approved?) -%>
            <a href="<%= event.flyer -%>" class="obvious" <%= "target='_blank'" if ASSOCIATION.flyers_in_new_window? %>><%= event.name -%><%- if (!event.name.include?("MTB") and event.discipline == "Mountain Bike") -%>
            MTB
              <%- end -%></a>
              <%- else -%>
            <%= event.name -%><%- if (!event.name.include?("MTB") and event.discipline == "Mountain Bike") -%>
            MTB
              <%- end -%>
              </div>
              <%- end -%>
      <%- end -%>
          
          <%- end -%>
        <%- end -%>
        </td>
      <%- end -%>
      </tr>
      <%- end -%>
  <% end -%>
<% end %>
</div>
