<% @page_title = "Schedule: #{@year}" %>

<% if RacingAssociation.current.show_calendar_view? -%>
<p class="centered"><%= link_to 'Schedule in calendar format', {:action => 'index'}, {:class => 'obvious'} %></p>
<hr class="space" />
<% end -%>

<%= render :partial => "years" %>
<%= render :partial => "disciplines", :locals => { :year => @year } %>

<% if Date.today < Date.new(@year, 2) %>
<div>Tentative. Dates are subject to change.</div>
<% end %>

<%= table :caption => @year do %>
  <tr>
    <th class="date">Date</th>
    <th></th>
    <th>Event</th>
    <th>Promoter</th> 
    <th>Phone</th>
    <th>Discipline</th>
    <th>Location</th>
  </tr>
<%- @schedule.months.each do |month| -%>
  <%- month.weeks.each do |week| -%>
    <%- week.days.each do |day| -%>
      <%- day.events.each do |event| -%>
  <tr class="<%= cycle("even", "odd") %>">
    <td class="date">
      <%= event.date.strftime("%a %m/%d") if event.date -%>
    </td>
    <td class="beginner_friendly"><%= image_tag("icons/star_green.png") if event.beginner_friendly? %></td>
    <%- if event.cancelled %>
    <td><span class="cancelled"><%= event.full_name -%></span> <i>cancelled</i></td>
    <%- elsif event.postponed? %>
    <td><span class="postponed"><%= event.full_name -%></span> <i>postponed</i></td>
    <%- else -%>
    <td class="link">
      <%- if event.flyer.present? && event.flyer_approved? -%>
          <a href="<%= event.flyer -%>"<%= "target='_blank'" if RacingAssociation.current.flyers_in_new_window? %>><%= event.full_name -%><%- if (!event.full_name.include?("MTB") and event.discipline == "Mountain Bike") -%>
          MTB
            <%- end -%></a>
            <%- else -%>
          <%= event.full_name -%><%= " MTB" if !event.full_name.include?("MTB") && event.discipline == "Mountain Bike" -%>
      <%- end -%>
      </td> 
  <%- end -%>
    <td><%= link_to_event_email event %></td> 
    <td class="contact_phone"><%= link_to_event_phone event %></td> 
    <td><%= event.discipline -%></td> 
    <td><%= event.city -%></td>
  </tr>
  <%- end -%>
    <%- end -%>
  <%- end -%>
<%- end -%>
<% end -%>
