<div class="form-group" id="registration_ends_at_group">
  <label class="control-label col-sm-4" for="<%= object_name %>_human_<%= method %>_on">Registration Ends At</label>
  <div class="col-sm-6 date_time_picker">
    <div class="input-group">
      <%= f.text_field "human_#{method}_on", :size => 28, :class => "form-control" %>
      <span class="input-group-btn">
        <%= content_tag(
              :a,
              :class => "btn btn-default",
              :data => {
                "behaviour" => "datepicker",
                "date-format" => "yyyy-mm-dd",
                "date" => object.send("#{method}_at") ? object.send("#{method}_at").to_s(:db_date_only) : nil,
                "target" => "#{object_name}_human_#{method}_on"
              }
            ) do %><span class="glyphicon glyphicon-calendar"></span><% end %>
      </span>
    </div>
  </div>
  <div class="col-sm-2">
    <%= f.text_field "human_#{method}_at_time",
                   :value => object.send("human_#{method}_at_time"),
                   :size => 4,
                   :class => "form-control" %>
  </div>
</div>
