<p class="message" id="info" <%= "style='display: none;'" unless flash[:info] %>><span id="info_span"><%= flash[:info] %></span></p>
<p class="message" id="notice" <%= "style='display: none;'" unless flash[:notice] %>><span id="notice_span"><%= flash[:notice] %></span></p>
<p class="message" id="warn" <%= "style='display: none;'" unless flash[:warn] %>><span id="warn_span"><%= flash[:warn] %></span></p>
