<div class="in_place_editable" id="<%= "#{record_symbol}_#{record.id}_#{attribute_symbol}" %>"><%= 
  if value
    value
  else
    if truncate_to
      truncate(record.send(attribute_symbol), :length => truncate_to)
    else
      record.send(attribute_symbol)
    end
  end
%></div>
<script type="text/javascript">
//<![CDATA[
var td = $('#<%= "#{record_symbol}_#{record.id}_#{attribute_symbol}" %>').closest('td');
td.css('width', td.width() + 'px');

var editable = $('#<%= "#{record_symbol}_#{record.id}_#{attribute_symbol}" %>').editable('<%= "/admin/#{record_symbol}s/set_#{record_symbol}_#{attribute_symbol}/#{record.id}" %>', {
  method: 'PUT',
  name: 'value',
  select: true,
  placeholder: '',
  cssclass: 'editor_field',
  width: '100%',
  height: '16px',
  onedit: function() {
    $('#<%= "#{record_symbol}_#{record.id}_#{attribute_symbol}" %>').closest('td').addClass('editing');
    return true;
  },
  onblur: function(value, settings) {
    $('#<%= "#{record_symbol}_#{record.id}_#{attribute_symbol}" %>').closest('td').removeClass('editing');
    this.reset();
    return true;
  },
  onreset: function() {
    $('#<%= "#{record_symbol}_#{record.id}_#{attribute_symbol}" %>').closest('td').removeClass('editing');
    return true;
  },
  callback: function(value, settings) {
    $('#<%= "#{record_symbol}_#{record.id}_#{attribute_symbol}" %>').closest('td').removeClass('editing');
    <%= "$.globalEval(value);" if script %>
  }
});
<% if enter_edit_mode.present? && enter_edit_mode == true -%>
editable.click();
<% end -%>
// ]]>
</script>
