    <% if !current_page?({:controller => "mailing_lists", :action => "index"}) %>
    <td>
        <%= link_to "View Mailing Lists", mailing_lists_path %>
    </td>
    <% end %>
    
    <td class="link_spacer">|</td>
    <td><a href="/mailman/listinfo/<%= mailing_list.name %>">Subscribe</a></td>
    
    <td class="link_spacer">|</td>
    <td><a href="/mailman/listinfo/<%= mailing_list.name %>#subscribers">Subscription Options</a></td>
    
    <% unless current_page?({:controller => "posts", :action => "new"}) %>
    <td class="link_spacer">|</td>
    <td>
        <%= link_to "New Post", new_mailing_list_post_path(mailing_list) %>
    </td>
    <% end %>
    
    <% if !(current_page?({:controller => "posts", :action => "new"})) && @post && @post.topica_message_id.nil? %>
    <td class="link_spacer">|</td>
    <td>
        <%= link_to "Reply Privately", new_mailing_list_post_path(mailing_list, :reply_to_id => @post.id) %>
    </td>
    <% end %>
    
    <% if mailing_list.present? %>
    <td class="link_spacer">|</td>
    <td>
        <%= link_to_unless_current "View Posts", mailing_list_posts_path(mailing_list) %>
    </td>
    <% end %>
