<% @page_title = "Mailing Lists" %>

<%= table :insert_header => true, :columns => 6 do %>
  <% @mailing_lists.each do |mailing_list| %>
  <tr valign="top">
    <td style="padding-right: 12px;"><b><%= link_to mailing_list.friendly_name, mailing_list_posts_path(mailing_list) %><b></td>
    <td width="300" style="padding-right: 16px;"><%= mailing_list.description %></td>
    <td><a href="/mailman/listinfo/<%= mailing_list.name %>">Subscribe</a></td>
    <td><a href="/mailman/listinfo/<%= mailing_list.name %>#subscribers">Subscription Options</a></td>
    <td><%= link_to "New Post", new_mailing_list_post_path(mailing_list) %></td>
    <td><%= link_to_unless_current "View Posts", mailing_list_posts_path(mailing_list) %></td>
  </tr>
  <% end %>
<% end -%>

<p>Having trouble? Please don't email the entire list. Contact the 
<a href="mailto:mailman@list.obra.org">administrator</a> at mailman@list.obra.org.</p>

<p>Forgot your password?
  <ol>
    <li>Go to the <a href="http://list.obra.org/mailman/listinfo/obra">subscriber options</a> page</li>
    <li>Enter your email address and click the 'Unsubscribe or edit options' button</li>
    <li>Click the 'Remind' button -- your password will be emailed to you</li>
  </ol>
</p>

<p>You must subscribe and <b>confirm</b> before you can post. The system may 
take a few minutes to process your confirmation.</p>

<p><b>AOL and Netscape Subscribers</b><br>
  AOL is unfriendly towards mailing lists like OBRA. Occasionally, AOL will 
  stop accepting OBRA list email. In the future, AOL may attempt to charge us 
  to deliver mail to you. Consider <a href="http://mail.yahoo.com">Yahoo!</a> or 
  <a href="http://gmail.com">Google GMail</a> for free email.
</p>

<p><%= link_to "Privacy Policy", "/privacy_policy" %></p>
