<% if photo %>
<div class="row-fluid">
  <% if photo.widescreen? %>
    <div class="span12">
      <%= image_tag photo.image_url, :title => photo.title, :class => "hero_photo", :height => photo.height, :width => photo.width %>
      <%= markdown photo.caption %>
    </div>
    <% elsif photo.portrait? %>
    <div class="span6">
      <%= image_tag photo.image_url, :title => photo.title, :class => "hero_photo", :height => photo.height, :width => photo.width %>
      <%= markdown photo.caption %>
    </div>
    <div class="span6">
      <%= render "most_recent_event_with_recent_result", :event => most_recent_event_with_recent_result %>
    </div>
    <% else %>
    <div class="span8">
      <%= image_tag photo.image_url, :title => photo.title, :class => "hero_photo", :height => photo.height, :width => photo.width %>
      <%= markdown photo.caption %>
    </div>
    <div class="span4">
      <%= render "most_recent_event_with_recent_result", :event => most_recent_event_with_recent_result %>
    </div>
  <% end %>
</div>
<% end %>
