<% if photo %>
<div class="row">
  <% if photo.widescreen? %>
    <div class="col-sm-12">
      <%= render "home/photo", :photo => photo %>
    </div>
    <% elsif photo.portrait? %>
    <div class="col-sm-6">
      <%= render "home/photo", :photo => photo %>
    </div>
    <div class="col-sm-6">
      <%= render "most_recent_event_with_recent_result", :event => most_recent_event_with_recent_result %>
    </div>
    <% else %>
    <div class="col-sm-8">
      <%= render "home/photo", :photo => photo %>
    </div>
    <div class="col-sm-4">
      <%= render "most_recent_event_with_recent_result", :event => most_recent_event_with_recent_result %>
    </div>
  <% end %>
</div>
<% end %>
