<% @show_tabs = true %>
<%= render "shared/errors", :object => @home %>

<h2>Home</h2>

<%= form_for @home, :url => home_path, :html => { :class => "form-horizontal", :role => "form" } do |f| %>
  <div class="row">
    <div class="col-sm-12">
      <%= f.labelled_select :photo_id,
            Photo.order("updated_at desc").map { |photo| [ photo.caption, photo.id ] },
            :include_blank => true
      %>
      <div class="form-group">
        <label class="col-sm-4 control-label"></label>
        <div class="col-sm-8">
          <%= link_to "Edit photos", photos_path, :class => "obvious" %>
        </div>
      </div>
      <%= f.labelled_text_field :weeks_of_recent_results, "Results (weeks)" %>
      <%= f.labelled_text_field :weeks_of_upcoming_events, "Upcoming (weeks)" %>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <%= submit_tag "Save", :class => "btn btn-default", :id => "save" %>
    </div>
  </div>
<% end %>
