<% @page_title = "Results: #{@event.date.year}: #{@event.full_name}" %>

<h2><%= link_to_flyer(@event) %></h2>

<div class="centered">
  <%= @event.city_state %><br/>

  <%- if @event.multiple_days? -%>
    <%= @event.date_range_long_s %>
  <%- else -%>
    <%= @event.date.to_formatted_s(:long) %>
  <%- end -%>

  <%- if @event.parent -%>
  <p>Part of the <%= link_to @event.parent.name, :id => @event.parent.to_param %></p>
  <%- end -%>
  
  <% unless @event.children_with_results.select { |child| child.is_a?(SingleDayEvent) }.empty? -%>
  <br />
  <table class="top_margin child_single_day_events">
    <% @event.children_with_results.select { |child| child.is_a?(SingleDayEvent) }.each do |child| -%>
    <tr>
      <td class="right"><%= link_to child.date.strftime('%A, %B %d'), :id => child.to_param %></td>
      <td><%= link_to child.name, :id => child.to_param %></td>
    </tr>
    <% child.children_with_results.each do |child_child| -%>
      <tr>
        <td></td>
        <td class="child"><%= link_to child_child.name, :id => child_child.to_param %></td>
      </tr>
      <% end -%>
    <% end -%>
  </table>
  <% end -%>

  <%= render :partial => "races", :object => @event %>

  <%- unless @event.children_with_results.select { |child| !child.is_a?(SingleDayEvent) }.empty? -%>
  <br />
  <table class="top_margin child_events">
  <%- @event.children_with_results.select { |child| !child.is_a?(SingleDayEvent) }.each do |child| -%>
    <tr>
      <td class="centered"><%= link_to child.name, :id => child.to_param %></td>
    </tr>
  <%- end -%>
  </table>
  <%- end -%>

  <%- if !@event.notes.blank? -%>
  <p><%= @event.notes -%></p>
  <%- end -%>

  <% unless @event.races_with_results.empty? -%>
  <p class="updatedon">Updated <%= @event.updated_at.to_formatted_s(:long) %></p>
  <%= render :partial => "questions", :locals => { :event => @event } %>
  <% end -%>

  <% @event.races_with_results.sort.each do |race| %>
  <a name="race_<%= race.id %>" id="race_<%= race.id %>" class="anchor" />
  <% table :caption => race.name, :class => "event_results" do %>
    <tr><th>&nbsp;</th></tr>
    <tr>
      <td>
    <%= results_grid(race) -%>
      </td>
    </tr>
  <%- end -%>
<%- end -%>
</div>
