<% @page_title = "Results: #{@event.date.year}: #{@event.full_name}" %>

<% cache cache_key(@event) do %>
  <%- if @event.all_year? || @event.calculation -%>
    <h2><%= @event.year %> <%= @event.full_name %></h2>
  <%- else -%>
    <h2><%= public_link_to_flyer @event %></h2>
  <%- end -%>

  <%= render partial: "results/date_and_parent", locals: { event: @event } %>
  <%= render partial: "results/source_events", locals: { source_events: @source_events } %>
  <%= render partial: "results/calculation", locals: { calculation: @event.calculation } %>
  <%= render partial: "calculations/years", locals: { calculation: @event.calculation } %>
  <%= render partial: "calculations/group_events", locals: { calculation: @event.calculation } %>
  <%= render partial: "results/event_teams", locals: { event: @event } %>
  <%= render partial: "results/single_day_event_children", locals: { single_day_event_children: @single_day_event_children } %>
  <%= render partial: "results/races", locals: { races: @races } %>
  <%= render partial: "results/children", locals: { children: @children } %>

  <% if @children.none?(&:any_results?) && @races.none?(&:any_results?) && @start_list.present? %>
  <%= render partial: "start_list", locals: { start_list: @start_list } %>
  <% end %>

  <%= content_tag(:div, @event.notes.html_safe, class: notes_class(@event)) if @event.notes.present? -%>

  <%- if @races.empty? && @event.is_a?(Competitions::Competition) -%>
  <p class="event_notes">No results for <%= @event.year %></p>
  <%- end -%>

  <% if @start_list.present? && (@event.updated_at.nil? || @event.updated_at < @start_list.map(&:updated_at).max) %>
  <p class="created_updated">Updated <%= @start_list.map(&:updated_at).max.to_formatted_s :long_and_friendly_date_and_time %></p>
  <% elsif @event.updated_at %>
  <p class="created_updated">Updated <%= @event.updated_at.to_formatted_s :long_and_friendly_date_and_time %></p>
  <% end %>

  <% ActiveSupport::Notifications.instrument "@event.results.racing_on_rails", event_id: @event.id, event_name: @event.name do %>
    <% @races.select(&:any_results?).select(&:visible?).reject(&:rejected?).sort.each do |race| %>
      <h3 class="race" id="race_<%= race.id %>"><%= link_to race.name, category_races_path(race.category) %><% if race.distance.present? && race.distance > 0 %> (<%= race.distance %> miles)<% end %></h3>
      <%- if @event.calculation -%>
        <%= results_table @event, race, race.results.select(&:finished?) %>
      <%- else -%>
        <%= results_table @event, race %>
      <%- end -%>
    <% end -%>

    <% if @races.none?(&:any_results?) && @event.overall.present? && @event.overall.races_with_results.present? %>
    <%= render partial: "races", locals: { races: @event.overall.races_with_results } %>
      <% @event.overall.races_with_results.select(&:visible?).reject(&:rejected?).sort.each do |race| %>
      <h3 class="race" id="race_<%= race.id %>"><%= link_to race.name, category_races_path(race.category) %></h3>
      <%- if @event.calculation -%>
        <%= results_table @event, race, race.results.select(&:finished?) %>
      <%- else -%>
        <%= results_table @event, race %>
      <%- end -%>
      <% end %>
    <% end %>
  <%- end -%>

<% end %>
