<% @page_title = "Results: #{@event.date.year}: #{@event.full_name}" %>

<% cache cache_key(@event) do %>
  <h2><%= public_link_to_flyer @event %></h2>

  <div class="row event_info">
    <%= @event.city_state %><br/>
    <%- if @event.multiple_days? -%>
      <%= @event.date_range_long_s %>
    <%- else -%>
      <%= @event.date.to_formatted_s(:long) %>
    <%- end -%>

    <%- if @event.parent -%>
    <p>Part of the <%= link_to @event.parent.name, event_results_path(@event.parent) %></p>
    <%- end -%>
  </div>

  <%= render partial: "results/source_events", locals: { source_events: @source_events } %>
  <%= render partial: "results/event_teams", locals: { event: @event } %>
  <%= render partial: "results/single_day_event_children", locals: { single_day_event_children: @single_day_event_children } %>
  <%= render partial: "results/races", locals: { races: @races } %>
  <%= render partial: "results/children", locals: { children: @children } %>

  <% if @children.none?(&:any_results?) && @races.none?(&:any_results?) && @start_list.present? %>
  <%= render partial: "start_list", locals: { start_list: @start_list } %>
  <% end %>

  <%= content_tag(:div, @event.notes.html_safe, class: notes_class(@event)) if @event.notes.present? -%>

  <%- if @races.empty? && @event.is_a?(Competitions::Competition) -%>
  <p class="event_notes">No results for <%= @event.year %></p>
  <%- end -%>

  <% if @event.updated_at %>
  <p class="created_updated">Updated <%= @event.updated_at.to_formatted_s :long_and_friendly_date_and_time %></p>
  <% end %>

  <% ActiveSupport::Notifications.instrument "@event.results.racing_on_rails", event_id: @event.id, event_name: @event.name do %>
    <% @races.select(&:any_results?).select(&:visible?).sort.each do |race| %>
  <h3 class="race" id="race_<%= race.id %>"><%= race.name %></h3>
      <%= render "results/competition_debugging", event: @event %>
      <%= results_table @event, race %>
    <% end -%>

    <% if @races.none?(&:any_results?) && @event.overall.present? && @event.overall.races_with_results.present? %>
    <%= render partial: "races", locals: { races: @event.overall.races_with_results } %>
      <% @event.overall.races_with_results.select(&:visible?).sort.each do |race| %>
      <h3 class="race" id="race_<%= race.id %>"><%= race.name %></h3>
      <%= results_table @event, race %>
      <% end %>
    <% end %>
  <%- end -%>

<% end %>
