<% @page_title = "Results: #{@year}" %>

<table class="base">
  <tr>
    <td>
<%= tabs do |tabs|
    tabs.add(Date.today.year, :controller => 'results', :year => nil)
    (Date.today.year - 1).downto(2007) do |year|
      tabs.add(year, :controller => 'results', :year => year)
    end
  end  %>

<%= render :partial => 'disciplines' %>

    </td>
  </tr>
</table>

<% table :caption => "#{@year}&nbsp;Results" do %>
  <%- for event in @events.sort {|x, y| y.date <=> x.date} -%>
  <tr class="<%= cycle('even', 'odd') %>">
    <td class="right"><%= event.short_date %></td>
    <td><%= link_to event.name, :action => 'event', :id => event.id %></td>
  </tr>
  <% end -%>
<% end -%>
