<% @page_title = "Results: #{@year}" %>

<table class="base">
  <tr>
    <td>
<%= tabs do |tabs|
    tabs.add('2008', :controller => 'results', :year => nil)
    tabs.add('2007', :controller => 'results', :year => 2007)
  end  %>

<%= render :partial => 'disciplines' %>

    </td>
  </tr>
</table>

<p>

<table class="base">
  <caption><%= @year %> Results</caption>
    <% unless @events.empty? %> 
      <%- for event in @events.sort {|x, y| y.date <=> x.date} -%>
  <tr class="<%= cycle('even', 'odd') %>">
    <td class="right"><%= event.short_date %></td>
    <td><%= link_to event.name, :action => 'event', :id => event.id %></td>
  </tr>
      <% end %>
    <% else %>
  <tr><td>Results will be posted when available</td></tr>
    <%- end -%>
</table>
