<% @page_title = "Results: #{@year}" %>

<h2><%= @year %> Results</h2>

<%= render_page "shared/years", year: @year, discipline: @discipline %>
<%= render 'shared/disciplines', year: @year, discipline: @discipline %>

<% if RacingAssociation.current.result_questions_url %>
  <div class="questions">
    <%= link_to "Results questions?", RacingAssociation.current.result_questions_url, class: "obvious" %>
  </div>
<% end %>

<% cache [ @year, @today, @discipline, RacingAssociation.current.updated_at, mobile_request? ] do %>
  <%= table do %>
    <%- @events.sort_by(&:date).reverse.each do |event| -%>
      <tr>
        <td class="date"><%= event.short_date %></td>
        <td><%= link_to event.name, event_results_path(event) %></td>
      </tr>
    <% end -%>
  <% end -%>
<% end %>
