<% @page_title = "Results: #{@person.name}: #{@event.full_name}" %>

<h2><%= link_to @person.name, person_results_path(@person) %></h2>

<div class="container-fluid">

  <%- @results.sort_by(&:date).reverse.each do |result| -%>

  <h3><%= result.place.to_i.ordinalize %> &mdash; <%= 
    link_to result.race_full_name, event_results_path(@event, :anchor => "race_#{result.race_id}") 
  %></h3>

  <%= scores_table result %>

  <% end %>

  <p>
    See all results for <%= link_to(@person.name, person_results_year_path(@person, @event.date.year), :class => 'obvious') %> or the
    <% if @event.is_a?(Ironman) %>
      <%= link_to(@event.name, {:controller => 'ironman', :action => 'index', :year => @event.date.year}, :class => 'obvious') %>.
    <% else %>
      <%= link_to(@event.full_name, event_results_path(@event), :class => 'obvious') %>.
    <% end %>
  </p>

</div>
