<% @page_title = "Results: #{@person.name}: #{@event.full_name}" %>

<%# TODO Use helper/partial? %>
<h2><%= link_to(@person.name, person_results_path(@person)) %></h2>

<%- @results.sort { |x, y| y.date <=> x.date }.each do |result| -%>
<%= table :caption => %Q{#{result.place.to_i.ordinalize} &mdash;
                        #{link_to(result.race_full_name, event_results_path(@event, :anchor => "race_#{result.race_id}"))}
} do %>
  <tr>
    <th>&nbsp;</th>
    <th>Race</th>
    <th>Category</th>
    <th>Team</th>
    <th>Date</th>
    <th class="right">Points</th>
  </tr>
  <% result.scores.sort { |x, y| y.source_result.date <=> x.source_result.date }.each do |score| %>
  <tr class="<%= cycle "even", "odd" %>">
    <td class="right" width="24"><%= score.source_result.place %></td>
    <td width="400">
      <%= link_to(score.source_result.event_full_name, 
                  event_results_path(
                    :event_id => score.source_result.event_id, 
                    :anchor => "race_#{score.source_result.race_id}")
                  ) unless score.source_result.competition_result? %>
      <%= link_to(score.source_result.race_full_name, 
                  event_person_results_path(
                    :event_id => score.source_result.event_id, :person_id => @person.id, :anchor => "race_#{score.source_result.race_id}")
                  ) if score.source_result.competition_result? %></td>
    <td width="200"><%= score.source_result.race_name %></td>
    <td width="200">
      <%- if RacingAssociation.current.unregistered_teams_in_results? || 
             score.source_result.team.try(:member?) || 
             score.source_result.year < RacingAssociation.current.year -%>
      <%= score.source_result.team_name %>
      <%- end -%>
    </td>
    <td width="100"><%= score.source_result.event.date.strftime("%D") %></td>
    <td class="right"><%= number_with_precision(score.points, :precision => 1) %></td>
  </tr>
  <% end %>
  <tr>
    <td width="24"></td>
    <td width="400"></td>
    <td width="200"></td>
    <td width="200"></td>
    <td width="100"></td>
    <td class="total_points"><span class="total">TOTAL</span><%= number_with_precision(result.points, :precision => 1) %>&nbsp;&nbsp;<%= result.notes %></td>
  </tr>
<% end -%>
<%- end -%>

<%# TODO Add year param %>
<p class= "centered">
  See all results for <%= link_to(@person.name, person_results_path(@person), :class => 'obvious') %> or the
  <% if @event.is_a?(Ironman) %>
    <%= link_to(@event.name, {:controller => 'ironman', :action => 'index', :year => @event.date.year}, :class => 'obvious') %>.
  <% else %>
    <%= link_to(@event.full_name, event_results_path(@event), :class => 'obvious') %>.
  <% end %>
</p>
