<% @page_title = "Results: #{@racer.name}" %>

<% table :caption => @racer.name, :class => "racer_results" do %>
  <tr>
    <th>&nbsp;</th>
    <th>Race</th>
    <th>Category</th>
    <th>Date</th>
  </tr>
  <% @event_results.sort { |x, y| y.event.end_date <=> x.event.end_date }.each do |result| -%>
  <tr class="<%= cycle("even", "odd") %>">
    <td class="place right"><%= result.place %></td>
    <td class="standings"><%= link_to(result.event.full_name, :controller => 'results', :action => 'event', :id => result.event.id, :anchor => "race_#{result.race.id}") %></td>
    <td class="category"><%= result.race.name %></td>
    <td class="dates"><%= result.event.date_range_s(:long) %></td>
  </tr>
  <%- end -%>
<% end -%>

<% for result in @competition_results.sort {|x, y| y.event.end_date <=> x.event.end_date } %>
<br/><br/>
<% table :caption => "#{result.place.to_i.ordinalize} &mdash; #{result.race.full_name}" do %>
  <tr>
    <th>&nbsp;</th>
    <th>Race</th>
    <th>Category</th>
    <th>Date</th>
    <th class="right">Points</th>
  </tr>
  <% for score in result.scores.sort {|x, y| y.source_result.event.date <=> x.source_result.event.date } %>
  <tr class="<%= cycle("even", "odd") %>">
    <td class="place right" width="24"><%= score.source_result.place %></td>
    <td class="standings">
      <%= link_to(score.source_result.event.full_name, :controller => 'results', :action => 'event', :id => score.source_result.event.id, :anchor => "race_#{score.source_result.race.id}") unless score.source_result.event.is_a?(Competition) %>
      <%= link_to(score.source_result.race.full_name, :controller => 'results', :action => 'competition', :competition_id => score.source_result.event.id, :racer_id => @racer.id) if score.source_result.event.is_a?(Competition)%></td>
    <td class="category"><%= score.source_result.race.name %></td>
    <td class="dates"><%= score.source_result.event.date_range_s(:long) %></td>
    <td class="right"><%= number_with_precision(score.points, :precision => 1) %></td>
  </tr>
  <% end %>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td class="total_points"><span class="total">TOTAL</span><%= number_with_precision(result.points, :precision => 1) %></td>
  </tr>
<% end -%>
<% end %>

<% if @racer.member? %>
<p class="updatedon centered">
  Member since <%= @racer.member_from.to_s(:long) %>
</p>
<% end -%>