<li>
<% if administrator? %>
  <%= link_to event_team_membership.person.name, edit_admin_person_path(event_team_membership.person) %>
<% elsif editor_for?(event_team_membership.person) %>
  <%= link_to event_team_membership.person_name, person_edit_path(event_team_membership.person) %>
<% else %>
  <%= link_to event_team_membership.person_name, person_results_path(event_team_membership.person) %>
<% end %>

<% if current_person == event_team_membership.person %>
  <%= link_to "Leave", event_team_membership_path(event_team_membership), method: :delete %>
<% elsif editor_for?(event_team_membership.person) || event_team_membership.event.editable_by?(current_person) %>
  <%= link_to "Remove", event_team_membership_path(event_team_membership), method: :delete %>
<% end %>
</li>
