<%= content_tag :tr, id: "velodrome_#{velodrome.id}_row" do %>
  <td class="icon"><span class="icon-flag" id="velodrome_<%= velodrome.id %>" ></span></td>
  <td class="name">
    <%= editable velodrome, :name %>
  </td>
  <td class="website not_editable">
    <%= editable velodrome, :website %>
  </td>
  <td class="actions">
    <%= link_to "Edit", edit_admin_velodrome_path(velodrome), id: "edit_#{velodrome.id}" %>
  </td>
<% end -%>
