<tr class="<%= cycle("even", "odd") %>" id="velodrome_<%= velodrome.id %>_row">
  <td class="name">
    <div class="record" id="velodrome_<%= velodrome.id %>">
      <%= in_place_editor_field(:velodrome, :name, velodrome) %>
    </div>
  </td>
  <td class="website">
    <%= in_place_editor_field(:velodrome, :website, velodrome) %>
  </td>
  <td class="actions last">
    <%= link_to "Edit", edit_admin_velodrome_path(velodrome), :id => "edit_#{velodrome.id}" %>
  </td>
</tr>
