<% if @velodrome.new_record? 
     velodrome_name = 'New Velodrome' 
   else
     velodrome_name = @velodrome.name
   end %>
<% @page_title = "Admin: Velodromes: #{@velodrome.name}" %>

<%= render "shared/errors", :object => @velodrome %>

<h2><%= @velodrome.name %></h2>

<%= form_for([:admin, @velodrome], :html => { :class => "form-horizontal" }) do |f| -%>
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span12">
      <%= f.labelled_text_field :name, nil, :class => "wants_focus span12" %>
      <%= f.labelled_text_field :website %>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span12">
      <%= submit_tag "Save", :class => "btn btn-primary", :id => "save" %>
      <%= link_to("Delete", admin_velodrome_path(@velodrome), :method => :delete, :class => 'btn', :id => 'delete') unless @velodrome.new_record? %>
      <div class="pull-right created_updated"><%= "Updated: " + time_ago_in_words(@velodrome.updated_at, true) + " ago" unless @velodrome.updated_at.nil? || mobile_request? %></div>
    </div>
  </div>
</div>
<% end -%>
