<% if @velodrome.new_record? 
     velodrome_name = 'New Velodrome' 
   else
     velodrome_name = @velodrome.name
   end %>
<% @page_title = "Admin: Velodromes: #{@velodrome.name}" %>

<%= error_messages_for "velodrome" %>

<h2><%= @velodrome.name %></h2>

<div class="column_grid_container">
  <%= form_for([:admin, @velodrome]) do |f| -%>
  <div class="prepend-1 span-3 append-2 last">
    <%= f.labelled_text_field :name %>
    <%= f.labelled_text_field :website %>
  </div>

  <div class="page_buttons clear span-4 last">
    <div class="updatedon span-2"><%= "Updated: " + time_ago_in_words(@velodrome.updated_at, true) + " ago" unless @velodrome.updated_at.nil? %>&nbsp;</div>
    <div class="right span-2 last">
      <%= link_to("Delete", admin_velodrome_path(@velodrome), :method => :delete, :class => 'obvious', :id => 'delete') unless @velodrome.new_record? %>
      <%= submit_tag "Save", :id => "save" %>
    </div>
  </div>
  <% end -%>
</div>

<%= focus('velodrome_name') %>