<tr class="<%= cycle("even", "odd") %>" id="event_<%= event.id %>_row">
  <td class="name">
    <div class="record" id="event_<%= event.id %>">
      <% if administrator? -%>
      <%= in_place_editor_field(:event, :first_aid_provider, event, nil, 40) %>
      <% else -%>
      <%= event.first_aid_provider %>
      <% end -%>
    </div>
  </td>
  <td class="chief_referee">
    <div class="record" id="event_<%= event.id %>">
      <% if administrator? -%>
      <%= in_place_editor_field(:event, :chief_referee, event, nil, 40) %>
      <% else -%>
      <%= event.chief_referee %>
      <% end -%>
    </div>
  </td>
  <td class="date">
    <% if administrator? -%>
      <%= link_to event.date.to_s(:short_with_week_day), edit_admin_event_path(event) %>
    <% else -%>
    <%= event.date.to_s(:short_with_week_day) %>
    <% end -%>
  </td>
  <td>
    <% if administrator? -%>
      <%= link_to event.name, edit_admin_event_path(event) %>
    <% else -%>
      <%= event.name %>
    <% end -%>
  </td>
  <td>
    <% if administrator? -%>
      <%= link_to(event.promoter.name_or_contact_info, edit_admin_person_path(event.promoter)) if event.promoter %>
    <% else -%>
      <%= event.promoter.name_or_contact_info if event.promoter %>
    <% end -%>
  </td>
  <td>
    <% if administrator? -%>
      <%= event.city_state %>
    <% else -%>
    <%= event.city_state %>
    <% end -%>
  </td>
</tr>
