  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </p>

  <p>
    <%= f.label :position %><br />
    <%= f.text_field :position %>
  </p>

  <p>
    <%= f.label :parent_id %><br />
    <%= tree_select(ArticleCategory.find.all( :conditions => "parent_id = 0"),
                        'article_category', 'parent_id', @article_category) %>
</p>

  <p>
    <%= f.submit action_button %>
  </p>
