<% @page_title = "Admin: Article Categories" %>

<h2>Article Category Tree</h2>
<%= display_categories(@article_categories, 0) %>

<table class="base" id="article_categories">
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Position</th>
    <th>ID</th>
    <th>Parent ID</th>
    <th>?</th>
    <th>!</th>
  </tr>
  <p><b><%= link_to 'New article category', new_admin_article_category_path %></b></p>

  <% for article_category in @article_categories %>
    <tr class="<%= cycle("even", "odd") %>" id="article_category_<%= article_category.id %>_row">
      <td><%=h article_category.name %></td>
      <td><%=h article_category.description %></td>
      <td><%=h article_category.position %></td>
      <td><%=h article_category.id %></td>
      <td><%=h article_category.parent_id %></td>
      <td><%= link_to 'Edit', edit_admin_article_category_path(article_category) %></td>
      <td><%= link_to 'Destroy', [:admin, article_category], :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<br />

