<tr>
  <td class="icon"><i class="icon-envelope"></i></td>
  <td class="date"><%= post.date.to_s :short %></td>
  <td class="subject">
    <%= link_to post.subject, edit_admin_mailing_list_post_path(post.mailing_list, post) %>
  </td>
  <td class="sender"><%= mail_to post.sender, post.sender %></td>
  <td class="actions">
    <%= link_to "Edit", edit_admin_mailing_list_post_path(post.mailing_list, post)%>
    <%= link_to "Delete", admin_mailing_list_post_path(post.mailing_list, post), :method => :delete, :class => "btn", :id => "delete" %>
</td>
</tr>
