<% @page_title = "Admin: Posts" %>

<h2><%= @mailing_list.friendly_name %></h2>

<div class="container">
  <%= form_tag receive_admin_mailing_list_posts_path(@mailing_list), 
     :method => :post,
     :multipart => true, 
     :id => "mailing_list_form"  do |f| -%>
    <%= file_field_tag "raw", :onchange => "$('#mailing_list_form').submit();" %>
  <% end -%>
</div>

<%= table :class => "posts top_margin clear", :id => :people do %>
  <tr>
    <th class="date">Date</th>
    <th class="subject">Subject</th>
    <th class="from">From</th>
    <th class="delete right"></th>
    <th class="edit right"></th>
  </tr>
  <%= render @posts %>
<% end -%>

<%= will_paginate(@posts) if @posts.present? %>

<div class="buttons container">
  <%= link_to image_tag("/images/icons/email_add.png"),  new_admin_mailing_list_post_path(@mailing_list) %>
</div>
