<% @page_title = "Mailing Lists: #{@mailing_list.friendly_name}" %>

<div class="post_search_header">
  <div class="post_search">
    <%= form_tag({}, {:method => "get", :id => "post_search_form"}) do %>
      <%= label_tag :subject, "Subject" %>
      <%= text_field_tag "subject", @subject, :id => "search_text" %>
      <%= submit_tag "Search", :id => "search" %>
      <%= link_to("Clear", mailing_list_posts_path(@mailing_list), :class => "obvious") if @subject.present? %>
    <% end -%>
  </div>
  <div class="post_search_pagination">
    <%= will_paginate(@posts, :page_links => false) if @posts.present? %>
  </div>
</div>
<div class="clear"></div>

<% if @posts.empty? %>
  <strong>No posts found.</strong>
<% end %>

<% if @posts.present? %>
<%= table do %>
  <tr>
    <th>Date</th>
    <th>Subject</th>
    <th>From</th>
  </tr>
  <% for post in @posts %>
  <tr class="<%= cycle('even', 'odd') %>">
    <td><%= link_to post.date.strftime("%m/%d/%Y"), post_path(post, :page => @posts.current_page) %></td>
    <td>
      <%= link_to h(truncate(post.subject, :length => 50)), post_path(post, :page => @posts.current_page) %>
    </td>
    <td><%= h(post.sender_obscured) %></td>
  </tr>
  <% end %>
<% end -%>
<% end -%>

<%= will_paginate(@posts, :page_links => false) if @posts.present? %>

<table class="top_margin centered">
  <tr>
    <%= render("mailing_lists/links", :mailing_list => @mailing_list) %>
  </tr>
</table>
