<% changes = version.changes.select { |key, change| change.first.present? || change.last.present? } -%>
<% reset_cycle -%>

<% table :caption => "Updated by #{version.user_without_name.try(:name_or_login)} on #{version.updated_at.to_s(:long)}", :class => "version", :insert_header => true, :columns => 3, :collection => changes do %>
  <tr>
    <th class="what">What</th>
    <th class="from">From</th>
    <th class="to">To</th>
  </tr>
  <% changes.sort_by(&:first).each do |key, change| -%>
    <% if key == "crypted_password" %>
  <tr class="<%= cycle("even", "odd") %>">
    <td class="what">Password</td>
    <td class="from"></td>
    <td class="to"></td>
  </tr>
    <% elsif key == "team_id" -%>
  <tr class="<%= cycle("even", "odd") %>">
    <td class="what"><%= key.humanize %></td>
    <td class="from"><%= Team.exists?(change.first) ? Team.find(change.first).name : "Deleted" %></td>
    <td class="to"><%= Team.exists?(change.last) ? Team.find(change.last).name : "Deleted" %></td>
  </tr>
    <% else -%>
  <tr class="<%= cycle("even", "odd") %>">
    <td class="what"><%= key.humanize %></td>
    <td class="from"><%= change.first %></td>
    <td class="to"><%= change.last %></td>
  </tr>
    <% end -%>
  <% end -%>
<% end -%>
