<% @show_tabs = (promoter? || administrator? || official?) -%>

<h2><%= @person.name %></h2>

<p>
  <% if @person.versions.empty? %>
    <strong>No other versions</strong>
  <% end -%>
</p>

<%= render :partial => "version", :collection => @person.versions.sort_by(&:updated_at).reverse %>

<div class="span12">
  <div class="created_updated span4">
    <span class="created_at">
      <%= render :partial => "people/created_updated" %>
    </span>
  </div>

  <div class="right span8">
    <%= link_to("Edit Account", edit_admin_person_path(@person), :class => "obvious") if administrator? %>
    <%= link_to("Edit Account", edit_person_path(@person), :class => "obvious") unless administrator? %>
  </div>
</div>
