<table class="yellow" id="results" border="0" cellspacing="0" cellpadding="0" width="100%">
  <tr bgcolor="#ffde14">
    <th><%= @oregon_cup.date.year %> Races</th>
  </tr>
  <tr>
    <td>
		<%  unless @oregon_cup.new_record? or @oregon_cup.nil? %>
<pre><%- for event in @oregon_cup.events.sort -%>
<%- if event.standings.empty? -%>
<%- if event.flyer_approved? and !event.flyer.blank? -%>
<%= event.date.strftime("%B %d").ljust(15) %><%= flyer_link_from_app_server(event) %>
<%- else -%>
<%= event.date.strftime("%B %d").ljust(15) %><%= event.name %>
<%- end -%>
<%- else -%>
<%= event.date.strftime("%B %d").ljust(15) %><%= link_to event.name, :controller => 'results', :action => 'event', :year => @year, :discipline => event.discipline, :id => event.id  %>
<%- end -%>
<%- end -%></pre>
<% else %>
Not scheduled
<%- end -%>
    </td>
  </tr>
</table>
