<% @page_title = "Press: Subscribe"%>

<div class="span-12 prepend-6 append-6 last subscribe column_grid_container">
  <p>Please join our ATRA email list to receive important announcements about track racing in North America.</p>

  <%= error_messages_for :subscription %>

  <% form_for(:subscription, @subscription, :url => { :action => "create" }) do |f| %>
    <%= f.label :name, "Name" %><%= f.text_field :name %><br/>
    <%= f.label :email, "Email" %><%= f.text_field :email %><br/>
    <%= f.label :phone, "Phone" %><%= f.text_field :phone %><br/>
    <%= f.label :address, "Address" %><%= f.text_field :address %><br/>
    <%= f.label :city, "City" %><%= f.text_field :city %><br/>
    <%= f.label :state, "State" %><%= f.text_field :state %><br/>
    <%= f.label :zip, "ZIP" %><%= f.text_field :zip %><br/>
    <%= f.label :comments, "Comments" %><%= f.text_area :comments %><br/>
    
    <p style="top_margin clear">Please check the boxes that best correspond to your interests.</p>
    <fieldset class="check_boxes top_margin">
      <legend>Information</legend>
      <%= f.check_box :youth_programs %><%= f.label :youth_programs, "Youth Programs" %><br/>
      <%= f.check_box :racer_info %><%= f.label :racer_info, "Racer Info" %><br/>
      <%= f.check_box :race_results %><%= f.label :race_results, "Race Results" %><br/>
    </fieldset>

    <fieldset class="check_boxes">
      <legend>Help Out</legend>
      <%= f.check_box :volunteer %><%= f.label :volunteer, "Volunteer" %><br/>
      <%= f.check_box :sponsorship %><%= f.label :sponsorship, "Sponsorship" %><br/>
      <%= f.check_box :contribution %><%= f.label :contribution, "Contribution" %><br/>
    </fieldset>
    
    <%= f.submit "Send", :disable_with => 'Sending...', :class => "submit" %>
  <% end -%>
</div>
