<% @page_title = "Login" %>
<% @show_tabs = false %>

<div class="column_grid_container top_margin login">
  <div class="span-3">
    <%= form_for @person_session, :url => person_session_path do |f| %>
      <%= f.error_messages :header_message => nil, :message => nil %>
      <div>
        <%= f.labelled_text_field :login %>
        <%= f.label :password %>
        <%= f.password_field :password %>
      </div>
      <div class="page_buttons span-3 last right">
        <%= submit_tag "Login", :id => "login_button" %>
      </div>
    <% end -%>
  </div>
  <div class="span-3 last">
    <p class="options">
      <strong>Don't Have a Login Yet?</strong>
      <%= link_to "Create a login", 
            new_login_people_path(:return_to => session[:return_to]), 
            { :class => "obvious", :id => "new_login" } %>
    </p>

    <p class="options">
      <strong>Forgot Your Password?</strong>
      <%= link_to "Request a reminder", new_password_reset_path, { :class => "obvious forgot", :id => "forgot" } %>
    </p>
    
    <% if @person_session.errors.any? %>
    <p class="options">
      You'll need to allow cookies to login
    </p>
    <% end -%>
  </div>
</div>

<%= focus("person_session_login") if @person_session.login.blank? %>
<%= focus("person_session_password") unless @person_session.login.blank? %>
