<% @page_title = "Logged-in as #{current_person.login}" %>

<h2>You are logged in as <%= current_person.login %></h2>

<ul class="page-links">
  <li><%= link_to("#{RacingAssociation.current.short_name} Homepage", root_url(protocol: "http")) %></li>
  <li><%= link_to("Your Account", account_url) %></li>
  <% if administrator? -%>
  <li><%= link_to('Admin Pages', admin_events_path) %></li>
  <% end -%>
  <li><%= link_to "Logout", person_session_path, method: :delete %></li>
</ul>
