<% @page_title = "Admin: Standings: #{@standings.full_name}" %>

<%= error_messages_for "standings" %>

<h2>Standings: <%= @standings.full_name %></h2>

<div class="column_grid_container">
  <div class="box-3">
    <%= render :partial => "admin/events/nav", :locals => { :event => @standings.event } %>
  </div>
  <div class="span-3 last">
    <% form_for([:admin, @standings], @standings, :url => admin_standings_path(@standings)) do |f| -%>
      <div class="span-3 last no_top_margin">

        <%= f.labelled_text_field :name %>

        <%= f.label :discipline %>
        <%= f.select :discipline, Discipline.find_all_names.sort %><br/>
        
        <% if ASSOCIATION.competitions.include?(Bar) -%>
        <%= f.label :bar_points, "BAR Points" %>
        <%= f.select(:bar_points, bar_points_and_labels) %>
        <%- end %>
        
        <% if ASSOCIATION.competitions.include?(RiderRankings) -%>
        <%= f.label :bar_points, "Rider Rankings Points" %>
        <%= f.select(:bar_points, bar_points_and_labels) %>
        <%- end %>

        <%- if @standings.requires_combined_standings? -%>
          <%= f.labelled_check_box :auto_combined_standings, "Auto-calc combined standings" %>
        <%- end -%>

        <%= f.labelled_check_box :ironman if ASSOCIATION.competitions.include?(Ironman) %>
        <%= f.labelled_text_area :notes %>

        <div class="span-3 page_buttons last">
          <div class="updatedon span-1">Updated: <%= time_ago_in_words(@standings.updated_at, true) + " ago" unless @standings.updated_at.nil? %></div>
          <div class="right span-2 last">
            <%= submit_tag "Save", :id => "save" %>
          </div>
        </div>
      </div>
    <% end -%>
  </div>
</div>
