<% @page_title = @post.subject %>
<% @back_path = mailing_list_posts_path(@post.mailing_list) %>

<article class="post">
  <summary>
    From: <%= @post.from_name.present? ? @post.from_name : @post.sender_obscured %>
    <h3><%= @post.subject %></h3>
    <time><%= @post.date.strftime("%m/%d/%Y %I:%M %p") %></time>
  </summary>

  <details>
    <% if @post.topica? || @post.body["<html>"] %>
      <%= sanitize(simple_format(@post.body)) %>
    <% else %>
      <%= sanitize(simple_format(@post.body)) %>
    <% end -%>
  </details>
</article>
