<% @page_title = "BAR: Categories" %>


<% @bar.children.each do |event| %>
<% reset_cycle %>

<%= table :caption => event.name do %>
  <% event.races.each do |race| %>
  <tr class="<%= cycle("even", "odd") %>">
    <td>
      <h3><%= race.name %></h3>
      <% for category in race.category.children.sort{|x, y| x.name <=> y.name }.select {|c| c.parent_id} %>
        <%= link_to category.name, :controller => 'races', :action => 'category', :id => category.id %>
        <br>
      <% end %>
    </td>
    <% end %>
  </tr>
<% end %>
<% end %>

<% reset_cycle %>
<%= table :caption => "Excluded From BAR"do  %>
  <% for category in @excluded_categories %>
  <tr class="<%= cycle("even", "odd") %>">
    <td>
      <%= link_to category.name, :controller => 'races', :action => 'category', :id => category.id %>
    </td>
  </tr>
  <% end %>
<% end %>
