<% @page_title = "BAR: #{@year}: #{@discipline.name}: #{@category.name}" %>

<%= tabs do |tabs|
  @all_disciplines.each do |discipline|
    tabs.add(discipline.name, :action => 'show', :discipline => discipline, :year => @year, :category => @category.friendly_param)
  end
end -%>

<%= render :partial => 'years' %>

<%- if @discipline.bar_categories.sort.size > 1 %>
<table class="centered top_margin">
  <%- @discipline.bar_categories.sort.each_row_with_index do |row, row_index| -%>
  <tr>
    <td style="margin-right: 18px;">
    <%= link_to row.first.name, :action => 'show', :category => row.first.friendly_param, :year => @year, :discipline => @discipline %>
    </td>
    <td style="margin-left: 18px;">
    &nbsp;
    <%- if row.size == 2 -%>
      <%= link_to row.last.name, :action => 'show', :category => row.last.friendly_param, :year => @year, :discipline => @discipline %></a>
    <%- end -%>
    </td>
  </tr>
<%- end -%>  
</table>
<%- end -%>  

<h2><%= @year %> <%= @discipline.name %> BAR</h2>

<% if @race.nil? || @race.results.empty? %>
No results for <%= @year %>
<% else %>

<div class="updatedon centered">Updated <%= @race.updated_at.to_formatted_s(:long) %></div>

<% table :caption => @race.name do %>
  <tr><th>&nbsp;</th></tr>
  <tr>
    <% if @discipline == Discipline[:team] %>

    <td><pre><%- for result in @results.sort %>
<%= result.place.rjust(3) -%>
   <%= link_to(truncate(result.team_name, :length => 40),
       :controller => 'results',
       :action => 'competition',
       :competition_id => @race.standings.event.to_param,
       :team_id => result.team.id) %><%= ' ' * (40 - (truncate(result.team_name, :length => 40).length)) -%>
   <%= number_with_precision(result.points, :precision => 1).rjust(6) -%>
<%- end -%></pre></td>

    <% else %>

    <td><pre><%- 
  previous_place = nil
  for result in @results.sort %>
<%= 
  if previous_place != result.place 
    result.place.rjust(3) 
  else
    '   '
  end
-%>
 <%- previous_place = result.place -%>
 <%= link_to(truncate(result.name), 
   :controller => 'results',
     :action => 'competition',
     :competition_id => @race.standings.event.to_param,
     :racer_id => result.racer_id) %><%= ' ' * (30 - truncate(result.name).length) -%>
   <%= truncate(result.team_name, :length => 40).ljust(40) -%>
   <%= number_with_precision(result.points, :precision => 1).rjust(6) -%>
<%- end -%></pre></td>

    <% end %>
  </tr>
  <% end %>  

<% end %>  
