<% if @race
     @page_title = "BAR: #{@race.year}: #{@race.discipline}: #{@race.category.name}"
   else
     @page_title = "BAR"
   end  -%>

<%= render :partial => "years", :locals => { :overall_bar => @overall_bar, :race => @race } %>
<%= render :partial => "disciplines", :locals => { :overall_bar => @overall_bar, :race => @race } %>

<% if @race && @race.results.any? -%>
<h2><%= @race.year %> <%= @race.discipline %> BAR</h2>
<div class="updatedon centered">Updated <%= @race.updated_at.to_formatted_s(:long) %></div>
<% end -%>

<%= render :partial => "races", :locals => { :race => @race } %>

<%= results_table @race %>
