<% @page_title = "#{@event_team_membership.person.name}: #{@event_team_membership.event_name}: Team" %>

<h2><%= @event_team_membership.person.name %>—<%= @event_team_membership.event_name %> Team</h2>

<%= render "shared/errors", object: @event_team_membership %>

<div class="row">
  <div class="col-sm-6">
    <%= form_for @event_team_membership, html: { class: "form-horizontal", role: "form" } do |f| -%>
      <%= f.hidden_field :event_team_id %>
      <%= f.hidden_field :person_id %>
      <h3>Join a Team</h3>
      <%= f.collection_radio_buttons(:event_team_id, @event_team_membership.event.event_teams.uniq.sort_by(&:name), :id, :name) do |b|
        content_tag(:div, class: "radio col-sm-offset-4 col-sm-8") { b.label { b.radio_button + b.text } }
      end %>

      <%= submit_tag "Save", class: "btn btn-default", id: "save" %>
    <% end %>
  </div>
  <div class="col-sm-6">
    <%= form_for @event_team_membership, html: { class: "form-horizontal", role: "form" } do |f| -%>
      <%= f.hidden_field :person_id %>
      <h3>Start a Team</h3>
      <%= f.fields_for :event_team do |event_team| %>
        <%= event_team.hidden_field :event_id %>
        <%= event_team.fields_for :team do |team| %>
          <%= team.labelled_text_field :name, "Team Name" %>
        <% end %>
      <% end %>
      <%= submit_tag "Save", class: "btn btn-default", id: "save" %>
    <% end %>
  </div>
</div>
