<% @page_title = "#{@event_team_membership.person.name}: #{@event_team_membership.event_name}: Team" %>

<h2><%= @event_team_membership.person.name %>—<%= @event_team_membership.event_name %></h2>

<%= render "shared/errors", object: @event_team_membership %>

<h3>You're a member of <%= @event_team_membership.team_name %></h3>

<ul class="page-links">
  <li><%= link_to "Leave this team", event_team_membership_path(@event_team_membership), method: :delete, class: "obvious" %></li>
  <li><%= link_to "Go to your account", account_path, class: "obvious" %></li>
</ul>
