<% @page_title = "#{@event_team_membership.person.name}: #{@event_team_membership.event.full_name}: Team" %>

<h2><%= @event_team_membership.person.name %>—<%= @event_team_membership.event.full_name %> Team</h2>

<%= render "shared/errors", object: @event_team_membership %>

<div class="row">
  <div class="col-sm-6">
    <p>You're a member of <%= @event_team_membership.team.name %></p>
    <p>
      <%= link_to "Leave this team", event_team_membership_path(@event_team_membership), method: :delete %> |
      <%= link_to "Go to your account", account_path %>
    </p>
  </div>
</div>
