<div class="category" id="category_<%= category.id %>_row">
    <div class="disclosure category<%= " collapsed" unless category.children.empty? %>" id="disclosure_<%= category.id %>" data="20">&nbsp;</div>
    <div class="record category_name" id="category_<%= category.id %>"><%= category.name %></div>
    <%= link_to(image_tag('/images/icons/table.png'), 
      category_races_path(category), 
      {:title => 'View races', :class => "image"}) unless category.races.empty? %>
    <div class="children" id="category_<%= category.id %>_children"></div>
</div>

<script type="text/javascript" charset="utf-8">
  $(document).ready(function() {
    $(<%= "'#disclosure_#{category.id}'" %>).click(function(e) {
      toggle_disclosure(<%= category.id %>);
    });
    $('#category_<%= category.id %>').draggable({ revert: 'invalid' });
  });
</script>
<%= drop_receiving_element("category_#{category.id}_row", :url => {:action => "add_child", :parent_id => category.id}, :hoverclass => 'hovering') %>
