<% @page_title = "Admin: Categories" %>

<% #We're small enough we can recompute competitions on demand. alp -%>
<% if RacingAssociation.current.competitions.include?(:mbra_bar) -%>
  <div class="left">
    <p><%= form_tag "/admin/categories/recompute_bar" do -%>
      <%= submit_tag "Recompute MBRA BAR", :id => "recompute_bar" %>
    <% end -%></p>
    <p><%= form_tag "/admin/categories/recompute_team_bar" do -%>
      <%= submit_tag "Recompute MBRA BAT", :id => "recompute_bar" %>
    <% end -%></p>
  </div>
<%- end %>

<div class="column_grid_container">
  <div class="table_container box-3">
    <div class="caption"><%= RacingAssociation.current.short_name %></div>
    <div class="category category_root association_category_root" id="category_<%= @category.id %>_row" data-id="<%= @category.id %>">
      <%= render :partial => "category", :collection => @category.children.sort %>
    </div>
  </div>

  <div class="table_container box-3 last">
    <div class="caption">Unknown</div>
    <div class="category category_root unknown_category_root" id="category__row" data-id="">
      <%= render :partial => "category", :collection => @unknowns.sort %>
    </div>
  </div>
</div>

<% content_for :javascript_include_tag do -%>
  <%= javascript_include_tag "categories" %>
<% end -%>
