<% @page_title = "Admin: Categories" %>

<h2>Categories</h2>

<%# We're small enough we can recompute competitions on demand. alp -%>
<% if RacingAssociation.current.competitions.include?(:mbra_bar) -%>
<div class="row-fluid">    
  <%= form_tag "/admin/categories/recompute_bar" do -%>
      <%= submit_tag "Recompute MBRA BAR", :id => "recompute_bar" %>
    <% end -%>
    <%= form_tag "/admin/categories/recompute_team_bar" do -%>
      <%= submit_tag "Recompute MBRA BAT", :id => "recompute_bar" %>
    <% end -%>
  </div>
<%- end %>
</div>

<div class="row-fluid">
  <div class="span6">
    <h3><%= RacingAssociation.current.short_name %></h3>
    <div class="category category_root association_category_root well" id="category_<%= @category.id %>_row" data-id="<%= @category.id %>">
      <%= render :partial => "category", :collection => @category.children.sort %>
    </div>
  </div>

  <div class="span6">
    <h3>Unknown</h3>
    <div class="category category_root unknown_category_root well" id="category__row" data-id="">
      <%= render :partial => "category", :collection => @unknowns.sort %>
    </div>
  </div>
</div>
