<% @page_title = "Admin: Categories" %>

<% #ugly I know. Refactor if/when another LA wants to compute BAR on demand. alp -%>
<% if ASSOCIATION.competitions.include?(:mbra_bar) -%>
  <% form_tag '/admin/categories/recompute_bar' do -%>
    <div class="content">
      <%= submit_tag "Recompute MBRA Competitions", :id => "recompute_bar" %>
    </div>
  <% end -%>
<%- end %>


<div class="column_grid_container">
  <div class="table_container box-3">
    <div class="caption"><%= ASSOCIATION.short_name %></div>
    <div class="category" id="category_root">
      <%= render :partial => "category", :collection => @category.children.sort %>
    </div>
  </div>

  <div class="table_container box-3 last">
    <div class="caption">Unknown</div>
    <div class="category" id="unknown_category_root">
      <%= render :partial => "category", :collection => @unknowns.sort %>
    </div>
  </div>
</div>

<%= drop_receiving_element("category_root", :url => {:action => "add_child", :parent_id => @category.id}, :hoverclass => "hovering") %>
<%= drop_receiving_element("unknown_category_root", :url => {:action => "add_child"}, :hoverclass => "hovering") %>
