<%= render "shared/errors", :object => @photo %>

<div class="container-fluid">
  <%= form_for @photo, :html => { :multipart => true, :class => "form-horizontal" } do |f| %>
    <div class="row-fluid">
      <div class="span6">
        <%= f.labelled_text_area :caption, 
          :class => "span12",
          :rows => 8,
          :help => "Use <a href=\"https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet\" class=\"obvious\">Markdown</a> for formatting and links." %>

        <hr />
        <%= f.labelled_text_field :title, "Title", :class => "span12", :help => "Shown in place of missing image and when hovered over" %>
      </div>
      <div class="span6">
        <div class="control-group">
          <%= image_tag(@photo.image_url) if @photo.image? %>
        </div>
        <div class="control-group">
          <label class="control-label" for="image">Upload File</label>
          <div class="controls">
            <%= f.file_field :image %>
            <%= f.hidden_field :image_cache %>
          </div>
        </div>
        <% if @photo.image? %>
        <%= f.labelled_text :height %>
        <%= f.labelled_text :width %>
        <% end %>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span12">
        <%= submit_tag "Save", :class => "btn btn-primary", :id => "save" %>
        <%= link_to "New", new_photo_path, :class => "btn" %>
      </div>
    </div>
  <% end %>
</div>
