<% cache [ post, current_page ] do %>
	<tr class="post">
	  <td class="badges">
	    <% if post.replies_count > 0 -%>
	    <%= link_to post_path(post, page: current_page), class: "image" do %><span class="badge"><%= post.replies_count %></span><% end %>
	    <% end -%>
	  </td>
	  <td class="subject">
	    <%= link_to post.subject, post_path(post, page: current_page) %>
	  </td>
	  <td class="from hidden-xs"><%= post.last_reply_from_name || post.from_name %></td>
	  <td class="date hidden-xs"><%= link_to last_reply_at(post), post_path(post, page: current_page) %></td>
	</tr>
<% end %>
