<div class="post">
  <div class="row-fluid">
    <div class="span8">
      <h4><%= reply.from_name %></h4>
    </div>
    <div class="span3 date">
      <%= reply.date.to_s :long_and_friendly_date_and_time %>
    </div>
    <div class="span1">
      <div class="btn-group">
        <%= link_to new_mailing_list_post_path(reply.mailing_list_id), :class => "btn" do %>Reply<% end %>
        <button class="btn dropdown-toggle" data-toggle="dropdown">
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li>
            <%= link_to "Reply privately to sender", new_mailing_list_post_path(reply.mailing_list_id, :reply_to_id => reply) %>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="row-fluid">
    <div class="span12">
      <%= sanitize simple_format(reply.body) %>
    </div>
  </div>
</div>

<hr />
