<% @page_title = "Mailing Lists: #{@mailing_list.friendly_name}" %>

<div class="post_search_header">
  <div class="post_search">
    <%= form_tag({}, {:method => "get", :id => "post_search_form"}) do %>
      <%= label_tag :subject, "Subject" %>
      <%= text_field_tag "subject", @subject, :id => "search_text" %>
      <%= submit_tag "Search", :id => "search" %>
      <%= link_to("Clear", mailing_list_posts_path(@mailing_list), :class => "obvious") if @subject.present? %>
    <% end -%>
  </div>
  <div class="post_search_pagination">
    <%= will_paginate(@posts, :page_links => false) if @posts.present? %>&nbsp;
  </div>
  <div class="post_dates">
  <% if @start_date && @end_date %>
    <%= @start_date.to_s(:long_and_friendly) %> to <%= @end_date.to_s(:long_and_friendly)%>. 
    <%= link_to "Clear", mailing_list_posts_path(@mailing_list), :class => "obvious" %>
  <% end %>
  </div>
</div>
<div class="clear"></div>

<% if @posts.empty? %>
  <strong>No posts found.</strong>
  <p class="centered"><%= link_to @mailing_list.friendly_name, mailing_list_posts_path(@mailing_list), :class => "obvious" %></p>
<% end %>

<% if @posts.present? %>
<%= table do %>
  <tr>
    <th>Date</th>
    <th>Subject</th>
    <th>From</th>
  </tr>
  <% @posts.each do |post| %>
  <tr class="<%= cycle('even', 'odd') %>">
    <td><%= link_to post.date.strftime("%-m/%-d/%Y"), post_path(post, :page => @posts.current_page) %></td>
    <td>
      <%= link_to h(truncate(post.subject, :length => 50)), post_path(post, :page => @posts.current_page) %>
    </td>
    <td><%= h(post.sender_obscured) %></td>
  </tr>
  <% end %>
<% end -%>
<% end -%>
<div class="clear"></div>

<div class="top_margin centered">
  <%= will_paginate(@posts, :page_links => false) if @posts.present? %>
</div>

<% if @first_post_at %>
<ul class="top_margin centered posts_navigation links">
  <% Time.zone.now.year.downto(@first_post_at.year).each do |year| %>
  <li><%= link_to year, mailing_list_posts_path(@mailing_list, :year => year, :month => params[:month]) %></li>
  <% end %>
</ul>
<ul class="centered posts_navigation links">
  <% (1..12).each do |month| %>
  <li><%= link_to Date::MONTHNAMES[month], mailing_list_posts_path(@mailing_list, :year => params[:year], :month => month) %></li>
  <% end %>
</ul>
<% end %>

<table class="top_margin centered">
  <tr>
    <%= render("mailing_lists/links", :mailing_list => @mailing_list) %>
  </tr>
</table>

<% content_for :head do -%>
<%= auto_discovery_link_tag :atom, :format => :atom %>
<% end %>
