<% @page_title = "Mailing Lists: #{@mailing_list.friendly_name}" %>

<h2><%= @mailing_list.friendly_name %></h2>

<%= form_tag({}, { :method => "get", :id => "search_form", :class => "form-horizontal form-search" }) do %>
  <div class="row-fluid">
    <div class="span3"></div>
    <div class="span6 input-append">
      <%= search_field_tag("subject", @subject, :class => "wants_focus search-query span12", :placeholder => "Search by subject") %>
      <button type="submit" class="btn"><i class="icon-search"></i></button>
    </div>
  </div>
<% end -%>

<%= will_paginate @posts,
                  :renderer => BootstrapPagination::Rails,
                  :page_links => false,
                  :previous_label => "&larr; Newer",
                  :next_label => "Older &rarr;" %>

<%= table :collection => @posts, :columns => 3 do %>
  <tr>
    <th class="date">Date</th>
    <th class="subject">Subject</th>
    <th class="from hidden-phone">From</th>
  </tr>
  <%= render :collection => @posts, :partial => "post", :locals => { :current_page => @posts.current_page } %>
<% end -%>

<%= will_paginate @posts,
                  :renderer => BootstrapPagination::Rails,
                  :page_links => false,
                  :previous_label => "&larr; Newer",
                  :next_label => "Older &rarr;" %>

<% if @first_post_at %>
<div class="pills">
  <ul class="nav nav-pills">
    <% Time.zone.now.year.downto(@first_post_at.year).each do |year| %>
    <li><%= link_to year, mailing_list_posts_path(@mailing_list, :year => year, :month => params[:month]) %></li>
    <% end %>
  </ul>
</div>

<div class="pills">
  <ul class="nav nav-pills">
    <% (1..12).each do |month| %>
    <li><%= link_to Date::MONTHNAMES[month], mailing_list_posts_path(@mailing_list, :year => params[:year], :month => month) %></li>
    <% end %>
 </ul>
</div>
<% end %>

<%= render("mailing_lists/links", :mailing_list => @mailing_list) %>

<% content_for :head do -%>
<%= auto_discovery_link_tag :atom, :format => :atom %>
<% end %>
