<% @page_title = "Mailing Lists: #{@mailing_list.friendly_name}" %>

<%= archive_navigation(@mailing_list, @month, @year) %>

<% table do %>
  <tr>
    <th>Date</th>
    <th>Subject</th>
    <th>From</th>
  </tr>
  <% for post in @posts %>
  <tr class="<%= cycle('even', 'odd') %>">
    <td><%= post.date.strftime("%m/%d/%Y") %></td>
    <td>
      <%= link_to h(truncate(post.subject, :length => 50)), {:action => "show", :mailing_list_name => @mailing_list.name, :id => post.id } %>
    </td>
    <td><%= h(post.sender_obscured) %></td>
  </tr>
  <% end %>
  <% if @posts.empty? %>
  <tr>
    <td colspan = "3" class="centered" height="40">
      No posts for <%= Date::MONTHNAMES[@month] %> <%= @year %>
    </td>
  </tr>
  <% end %>
<% end -%>

<%= archive_navigation(@mailing_list, @month, @year) %>

<table class="top_margin centered">
  <tr>
    <%= render("mailing_lists/links", :mailing_list => @mailing_list) %>
  </tr>
</table>
