<% @page_title = "Mailing Lists: #{@mailing_list.friendly_name}" %>

<%= render "shared/errors", object: @post %>

<%= form_for [ @mailing_list, @post ], html: { class: "form-horizontal", role: "form" } do |f| %>
  <%= hidden_field_tag("reply_to_id", @reply_to.id) if @reply_to %>

  <div class="row">
    <div class="col-sm-6">
      <% if @reply_to %>
      <%= f.labelled_text :to, @reply_to.from_name %>
      <% else %>
      <%= f.labelled_text :to, @mailing_list.friendly_name %>
      <% end %>

      <%= f.labelled_text_field :subject %>
    </div>
    <div class="col-sm-6">
      <%= f.labelled_text_field :from_name, "Your Name" %>
      <%= f.labelled_text_field :from_email, "Your Email Address" %>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <%= f.labelled_text_area :body, class: "col-sm-12", rows: 12 %>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <% if @reply_to %>
        <%= submit_tag("Send", class: "btn btn-default") %>
      <% else %>
        <%= submit_tag("Post", class: "btn btn-default", id: "post") %>
        <% end %>
      <div class="help-block pull-right"><% unless @reply_to %>You must be a subscriber to post<% end %></div>
    </div>
  </div>
<% end -%>

<%= render "mailing_lists/links", mailing_list: @mailing_list %>
