<% @page_title = "Mailing Lists: #{@mailing_list.friendly_name}" %>

<div class="column_grid_container top_margin">
<%= error_messages_for :post %>

  <%= form_for @post do |f| %>
    <%= hidden_field_tag("reply_to_id", @reply_to.id) if @reply_to %>

    <div class="span-3">
      <% if @reply_to %>
      <%= f.labelled_text :to, h(@reply_to.sender_obscured) %>
      <% else %>
      <%= f.labelled_text :to, @mailing_list.friendly_name %>
      <% end %>

      <%= f.labelled_text_field(:from_name, "Your Name", :size => "40") %>
      <%= f.labelled_text_field(:from_email_address, "Your Email Address", :size => "40") %>
      <%= f.labelled_text_field(:subject, nil, :size => "40") %>
    </div>
    <div class="span-3 last">
      <%= f.labelled_text_area(:body) %>
    </div>
    
    <div class="page_buttons clear span-6 last">
      <div class="updatedon span-5 right"><% unless @reply_to %>You must be a subscriber to post<% end %></div>
      <div class="right span-1 last">
    <% if @reply_to %>
        <%= submit_tag("Send") %>
    <% else %>
      <%= submit_tag("Post", :id => "post") %>
    <% end %>
      </div>
    </div>
  <% end -%>
</div>

<table class="top_margin centered">
  <tr>
    <%= render("mailing_lists/links", :mailing_list => @mailing_list) %>
  </tr>
</table>
