<% @page_title = "#{@post.mailing_list.friendly_name}: #{truncate(@post.subject)}" %>
<h2><%= @post.subject %></h2>

<%= render "show_pagination", post: @post %>
<% cache [ @post, params[:current_page] ] do %>
  <%= render collection: @post.replies.sort_by(&:position).reverse.to_a << @post, partial: "posts/reply", locals: { current_page: params[:current_page] } %>
<% end %>
<%= render "show_pagination", post: @post %>

<div class="row">
  <div class="col-sm-12">
    <%= render "mailing_lists/links", mailing_list: @post.mailing_list %>
  </div>
</div>
