<% @page_title = "Mailing Lists: #{@post.mailing_list.friendly_name}" %>

<%= post_navigation(@post) %>

<%= labelled_text :post, :subject, nil, h(@post.subject) %>
<%= labelled_text :post, :date, nil, @post.date.strftime("%m/%d/%Y %I:%M %p") %>
<%= labelled_text :post, :from, nil, h(@post.sender_obscured) %>
<%= labelled_text :post, :body, "", h(@post.body) %>

<% if @post.topica? || @post.body["<html>"] %>
  <%= sanitize(simple_format(@post.body)) %>
<% else %>
  <%= sanitize(@post.body) %>
<% end -%>

<table>
  <tr>
    <%= render("shared/mailing_list_links", :mailing_list => @post.mailing_list) %>
  </tr>
</table>
