<% @page_title = "Mailing Lists: #{@post.mailing_list.friendly_name}" %>

<%= post_navigation(@post) %>

<%= labelled_text :post, :subject, nil, h(@post.subject) %>
<%= labelled_text :post, :date, nil, @post.date.strftime("%m/%d/%Y %I:%M %p") %>
<%= labelled_text :post, :from, nil, h(@post.sender_obscured) %>

<br/>

<div class="clear top-margin" id="post_body">
<% if @post.topica? || @post.body["<html>"] %>
  <%= sanitize(simple_format(@post.body)) %>
<% else %>
  <%= sanitize(simple_format(@post.body)) %>
<% end -%>
</div>

<table class="archive_navigation">
  <tr>
    <%= render("shared/mailing_list_links", :mailing_list => @post.mailing_list) %>
  </tr>
</table>
