<% @page_title = "#{@post.mailing_list.friendly_name}: #{truncate(@post.subject)}" %>

<h2><%= @post.subject %></h2>

<div class="row-fluid">
  <div class="span12">
    <div class="pagination">
      <ul>
        <% if @post.lower_item %>
        <li class="prev"><%= link_to "&larr; Newer".html_safe, post_path(@post.lower_item), :rel => "previous" %></li>
        <% else %>
        <li class="prev disabled"><span>&larr; Newer</span></li>
        <% end %>
        <li class="next"><%= link_to @post.mailing_list.friendly_name, mailing_list_posts_path(@post.mailing_list, :page => params[:page] ) %></li>
        <% if @post.higher_item %>
        <li class="next"><%= link_to "Older &rarr;".html_safe, post_path(@post.higher_item), :rel => "next" %></li>
        <% else %>
        <li class="next disabled"><span>Older &rarr;</span></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<div class="row-fluid">
  <div class="span8">
    <h4><%= @post.from_name %></h4>
    <%= sanitize simple_format(@post.body) %>
  </div>
  <div class="span4 date">
    <%= @post.date.to_s :long_and_friendly_date_and_time %>
  </div>
</div>

<div class="row-fluid">
  <div class="span12">
    <%= render("mailing_lists/links", :mailing_list => @post.mailing_list) %>
  </div>
</div>
