<% @page_title = "#{@post.mailing_list.friendly_name}: #{truncate(@post.subject)}" %>

<h2><%= @post.subject %></h2>

<div class="row-fluid">
  <div class="span12">
    <div class="pagination">
      <ul>
        <% if @post.newer %>
        <li class="prev"><%= link_to "&larr; Newer".html_safe, post_path(@post.newer), :rel => "previous" %></li>
        <% else %>
        <li class="prev disabled"><span>&larr; Newer</span></li>
        <% end %>
        <li class="next"><%= link_to @post.mailing_list.friendly_name, mailing_list_posts_path(@post.mailing_list, :page => params[:page] ) %></li>
        <% if @post.older %>
        <li class="next"><%= link_to "Older &rarr;".html_safe, post_path(@post.older), :rel => "next" %></li>
        <% else %>
        <li class="next disabled"><span>Older &rarr;</span></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<%= render :collection => @post.replies.sort_by(&:position).reverse.to_a << @post, :partial => "posts/reply" %>

<div class="row-fluid">
  <div class="span12">
    <%= render "mailing_lists/links", :mailing_list => @post.mailing_list %>
  </div>
</div>
