<%= table :caption => "Aliases", :class => "box-2 last aliases", :insert_header => true, :columns => 2 do %>
  <%- @person.aliases.each do |name_alias| -%>
  <tr id="alias_<%= name_alias.id %>">
    <td><%= name_alias.name %></td>
    <td>
      <%= link_to(image_tag('/images/icons/delete.png'), 
           admin_person_alias_path(@person, name_alias),
           :method => "delete",
           :remote => true,
           :class => "image") %>
    </td>
  </tr>
  <%- end -%>
  <%- if @person.aliases.empty? %>
  <tr>
    <td colspan="2">None</td>
  </tr>
  <%- end -%>
<% end -%>

<% unless @person.names.empty? -%>
<%= table :caption => "Names", :class => "box-2 last names", :insert_header => true, :columns => 3 do %>
  <%- @person.names.each do |name| -%>
  <tr id="name_<%= name.id %>">
    <td><%= name.name %></td>
    <td class="right"><%= name.year %></td>
    <td>
    </td>
  </tr>
  <%- end -%>
<% end -%>
<% end -%>
