<h3>Categories</h3>
<%= table :class => "person_categories", :columns => 2 do %>
  <%- if RacingAssociation.current.bmx_numbers? -%>
  <tr>
    <td>BMX</td>
    <td><%= text_field 'person', 'bmx_category' %></td>
  </tr>
  <%- end -%>
  <tr>
    <td>Cyclocross</td>
    <td><%= text_field 'person', 'ccx_category' %></td>
  </tr>
  <tr>
    <td>Downhill</td>
    <td><%= text_field 'person', 'dh_category' %></td>
  </tr>
  <tr>
    <td>Mountain Bike</td>
    <td><%= text_field 'person', 'mtb_category' %></td>
  </tr>
  <tr>
    <td>Road</td>
    <td><%= text_field 'person', 'road_category' %></td>
  </tr>
  <tr>
    <td>Track</td>
    <td><%= text_field 'person', 'track_category' %></td>
  </tr>
<% end -%>
