<h3>Categories</h3>
<%= table class: "person_categories", columns: 2 do %>
  <%- if RacingAssociation.current.bmx_numbers? -%>
  <tr>
    <td>BMX</td>
    <td><%= f.text_field :bmx_category, class: "form-control" %></td>
  </tr>
  <%- end -%>
  <tr>
    <td>Cyclocross</td>
    <td><%= f.text_field :ccx_category, class: "form-control" %></td>
  </tr>
  <tr>
    <td>Downhill</td>
    <td><%= f.text_field :dh_category, class: "form-control" %></td>
  </tr>
  <tr>
    <td>Mountain Bike</td>
    <td><%= f.text_field :mtb_category, class: "form-control" %></td>
  </tr>
  <tr>
    <td>Road</td>
    <td><%= f.text_field :road_category, class: "form-control" %></td>
  </tr>
  <tr>
    <td>Track</td>
    <td><%= f.text_field :track_category, class: "form-control" %></td>
  </tr>
<% end -%>
