<% if @existing_people.size == 1 %>

<td>
  <%= form_remote_tag(:url => {:action => 'merge', :id => @person.id, :target_id => @existing_people.first.id}) %>
    <div style=" background-image: url(/images/icons/error.png); background-position: 2px 2px; background-repeat: no-repeat; padding-left: 24px; width: 300px; white-space: normal;">
      <%= @existing_people.first.name %> <%= aka(@existing_people.first) %> already exists.
    </div>
    <div style="padding-left: 24px; width: 300px; white-space: normal;">
      Delete <%= @original_name %> and move results to <%= @existing_people.first.name %>?
    </div>
    <div style="padding-right: 2px; width: 300px; margin-left: auto; text-align: right;">
      <%= link_to_remote( 
            image_tag('/images/buttons/cancel.gif', :height => 22, :width => 44), 
            :url => { :action => "cancel_in_place_edit", :id => @person.to_param },
            :html => { :class => "image" }
          )
       %>
      <%= image_submit_tag '/images/icons/confirm.png', :height => 22, :width => 44, :class => "button" %>
    </div>
  </form>
</td>
<td colspan="9">&nbsp;</td>

<% else %>

<td>
  <%= form_remote_tag(:url => {:action => 'merge'}) %>
    <div style=" background-image: url(/images/icons/error.png); background-position: 2px 2px; background-repeat: no-repeat; padding-left: 24px; width: 300px; white-space: normal;">
      <%= @existing_people.first.name %> already exists.
    </div>
    <div style="padding-left: 24px; width: 300px; white-space: normal;">
      Delete <%= @original_name %> and move results to:
    </div>
  <% for existing_person in @existing_people %>
    <%= radio_button_tag "id", "person_#{@person.to_param}", false, :style => "width: auto;" %> 
    <%= existing_person.name %> 
    <%= existing_person.team_name if existing_person.team %>
    <% unless existing_person.road_number.blank? %>Road # <%= existing_person.road_number %><% end %>
    <% unless existing_person.xc_number.blank? %>MTB # <%= existing_person.xc_number %><% end %>
    <% unless existing_person.dh_number.blank? %>DH # <%= existing_person.dh_number %><% end %>
    <% unless existing_person.ccx_number.blank? %>CX # <%= existing_person.ccx_number %><% end %>
    <br>
  <% end %>

  <%= hidden_field_tag "target_id", @existing_people.first.id %>

  <div align="right" style="padding-right: 2px;">
    <%= link_to_remote( 
      image_tag('/images/buttons/cancel.gif', :height => 22, :width => 44), 
      :url => { :action => "cancel_in_place_edit", :id => @person.to_param },
      :html => { :class => "image" }
      )
     %>
    <%= image_submit_tag '/images/icons/confirm.png', :height => 22, :width => 44, :class => "button" %>
  </div>
  </form>
</td>
<td colspan="9">&nbsp;</td>

<% end %>
