<h3>Numbers</h3>
<%= table :class => "numbers form-inline", :id => "numbers", :columns => 3 do %>
  <tbody>
    <tr>
      <td class="number_year" colspan="3">
        <select name="number_year" data-person-id="<%= person.id %>" class="input-small" id="number_year">
          <%= options_for_select years, year %>
        </select>
      </td>
    </tr>
    <% if RacingAssociation.current.show_license? %>
    <tr>
      <td class="number_issuer8"><%= RacingAssociation.current.short_name %> Membership</td>
      <td class="number"><%= text_field :person, :license, :class => "input-small" %></td>
      <td></td>
    </tr>
    <% end %>

    <% person.race_numbers.each do |race_number| %>
      <% if race_number.new_record? %>
    <tr class="new_number">
      <td colspan="2">
        <%= f.fields_for :race_numbers, race_number do |race_number_fields| %>
          <%= race_number_fields.select :number_issuer_id, number_issuers.sort_by(&:name).map { |i| [ i.name, i.id ]} %>
          <%= race_number_fields.select :discipline_id, disciplines.sort_by(&:name).map { |d| [ d.name, d.id ]} %>
          <%= race_number_fields.hidden_field :year, :id => "new_number_year" %>
          <%= race_number_fields.text_field :value, :class => "number input-small" %>
        <% end %>
      </td>
      <td class="actions"></td>
    </tr>
    <% else %>
    <%= content_tag :tr, 
                    :class => "number year-#{race_number.year}", 
                    :id => "number_#{race_number.id}_row", 
                    :style => race_number.year == year ? "" : "display: none" do %>
      <td class="number_issuer">
        <%= race_number.number_issuer.name %>
        <%= race_number.discipline.name %>
      </td>
      <td>
        <%= f.fields_for :race_numbers, race_number do |race_number_fields| %>
          <%= race_number_fields.text_field :value, :class => "number input-small" %>
        <% end %>
      </td>
      <td class="actions">
        <%= link_to(
              "#", 
              :rel => "tooltip",
              :title => "Updated #{time_ago_in_words(race_number.updated_at, include_seconds: true)} ago #{"by #{race_number.updated_by_person_name}"}", 
              :class => "icon"
            ) do %><i class="icon-info-sign"></i><% end %>
        <%= link_to(
          admin_person_race_number_path(person, race_number),
            :remote => true,
            :method => :delete,
            :id => "destroy_number_#{race_number.id}", 
            :class => "icon"
          ) do %><i class="icon-minus-sign"></i><% end %>
      </td>
      <% end %>
    <% end %>
  <% end -%>
  </tbody>
<% end -%>
