<h3>Numbers</h3>
<%= table :class => "numbers form-linline",
         :id => "numbers",
         :columns => 3 do %>
  <tr>
    <td class="number_year span6">
      <select name='number_year' data-person-id="<%= person.id %>" class="input-small" id='number_year'>
        <%= options_for_select years, year %>
      </select>
    </td>
    <td colspan="2"></td>
  </tr>
  <% if RacingAssociation.current.show_license? %>
  <tr>
    <td class="number_issuer span6"><%= RacingAssociation.current.short_name %> Membership</td>
    <td class="number span5"><%= text_field :person, :license, :class => "input-small" %></td>
    <td class="span1"></td>
  </tr>
  <% end %>
  <% race_numbers.each do |number| %>
  <% @number = number %>
  <tr id="<%= "number_#{number.id}_row" %>">
    <td class="number_issuer span6">
      <%= number.number_issuer.name %> <%= number.discipline.name %>
    </td>
    <td class="span5">
      <%= text_field 'number[]', 'value', :class => "number input-small" %>
    </td>
    <td class="actions span1">
      <%= link_to(
            "#", 
            :rel => "tooltip",
            :title => "Updated #{time_ago_in_words(number.updated_at, true)} ago #{"by #{number.updated_by_name}"}", 
            :class => "icon"
          ) do %><i class="icon-info-sign"></i><% end %>
      <%= link_to(
            admin_person_race_number_path(person, number),
            :remote => true,
            :method => :delete,
            :id => "destroy_number_#{number.id}", 
            :class => "icon"
      ) do %><i class="icon-minus-sign"></i><% end %>
    </td>
  </tr>
  <% end %>
  <% if @person.new_record? %>
    <%= render :partial => "/admin/race_numbers/new" %>
  <% else %>
  <tr id="new_number_button_row">
    <td colspan="2"></td>
    <td class="actions span1">
      <%= link_to(
            new_admin_person_race_number_path(person),
            :remote => true,
            :title => "Add new number",
            :class => "icon") do %><i class="icon-plus-sign"></i><% end %>
    </td>
  </tr>
  <% end %>
<% end -%>
