<% content_tag :tr, :class => cycle("even", "odd"), :id => "person_#{person.id}_row" do %>
  <td class="icon"><%= image_tag "icons/user.png", :id => "person_#{person.id}", "data-name" => person.name %></td>
  <td class="name">
    <%= in_place_editor_field :person, :name, person, true %>
  </td>
  <td class="team">
    <%= in_place_editor_field :person, :team_name, person %>
  </td>
  <td class="aliases not_editable">
    <%= render :partial => "aliases", :locals => { :person => person } %>
  </td>
  <td class="number not_editable">
    <%= person.road_number false, @current_year %>
  </td>
  <td class="number not_editable">
    <%= person.xc_number false, @current_year %>
  </td>
  <td class="check_box not_editable">
    <%= render :partial => "shared/member", :locals => { :record => person } %>
  </td>
  <td class="actions not_editable last">
    <%= link_to 'Results', admin_person_results_path(person) %> |
    <%= link_to 'Edit', edit_admin_person_path(person) %>
  </td>
<% end %>

