<% @page_title = "Admin: People" %>

<h2>People</h2>

<div class="container-fluid">
  <%= render "shared/search", :name => @name, :placeholder => "Enter name to search" %>

  <div class="row-fluid">
    <%= table :class => "people", :collection => @people, :columns => 7, :id => :people do %>
      <thead>
        <tr>
          <th class="icon"/>
          <th class="name">Name</th>
          <th class="team">Team</th>
          <th class="aliases">Aliases</th>
          <th class="license">License</th>
          <th class="check_box">Member</th>
          <th class="actions"></th>
        </tr>
      </thead>
      <%= render :partial => "person", :collection => @people %>
    <% end -%>
  </div>

  <div class="row-fluid">
    <div class="span4">
      <%= link_to new_admin_person_path, :class => "btn", :id => "new_person" do %>
        <i class="icon-user"></i> New Person
      <% end %>
      <%= link_to cards_admin_people_path(:format => "pdf"), :class => "btn" do %>
        <i class="icon-print"></i> Print Cards
      <% end %>
    </div>
    <% unless mobile_request? %>
    <div class="span8 pull-right">
      <%= form_tag({}, { :class => "form-inline pull-right", :id => "export_form" }) do %>
      <%= button_tag :class => "btn", :id => "export_button" do %>
      <i class="icon-download"></i> Export
      <% end %>
        <select name="include" id="include">
          <option value="all">All</option>
          <option value="members_only" selected="selected">Current members only</option>
          <option value="print_cards">Print cards</option>
        </select>
        <select name="format" id="format">
          <option value="xls" selected="selected">Excel</option>
          <option value="ppl">FinishLynx</option>
          <option value="scoring_sheet">Scoring sheet</option>
          <option value="endicia">Endicia</option>
        </select>
      <% end %>
    </div>
    <% end %>
  </div>

  <hr/>
  
  <% unless mobile_request? %>
  <div class="row-fluid">
    <div class="span12">
      <%= form_tag preview_import_admin_people_path, :multipart => true, :class => "form-horizontal", :id => "import_form" do %>
        <label>Import</label>
        <%= file_field_tag "people_file", :onchange => "$('#import_form').submit();".html_safe %>
      <% end -%>
    </div>
  </div>
  <% end %>
</div>
