<% @page_title = "Admin: People" %>

<%= render :partial => "shared/search", :locals => { :name => @name } %>

<% table :class => "people top_margin clear", :id => :people do %>
  <tr>
    <th class="icon"/>
    <th class="name">Name</th>
    <th class="team">Team</th>
    <th class="aliases">Aliases</th>
    <th class="number">Road</th>
    <th class="number">MTB</th>
    <th class="check_box">Member</th>
    <th class="actions last"></th>
  </tr>
  <%= render :partial => "person", :collection => @people %>
  <% if @people.empty? %>
  <tr valign="top">
    <%- if @name.blank? -%>
    <td colspan="8" width="200" class="not_found">Enter part of a person's name</td>
    <%- else -%>
    <td colspan="8" width="200" class="not_found">No people found</td>
    <%- end -%>
  </tr>
  <% end %>
<% end -%>

<div class="buttons container">
  <div class="updatedon">
    <%= link_to(image_tag('/images/icons/user_add.png'), { :action => 'new' }, { :class => "image new" }) %>
  </div>
  <div class="right">
    <%= link_to('Print Cards',  cards_admin_people_path(:format => "pdf")) %>
  </div>
</div>

<%= render :partial => 'import_export' %>

<%= focus('name') %>

<% javascript_tag do %>
  $(document).ready(function() {
  <%- @people.each do |person| -%>
    $(<%= "'#person_#{person.id}'" %>).draggable({ 
      revert: 'invalid', 
      opacity: 0.7,
      helper: function(event) {
		    return $('<div><%= image_tag "icons/user.png" %>&nbsp;<%= person.name %></div>');
	    }
      });
    $(<%= "'#person_#{person.id}_row'" %>).droppable({
      hoverClass: 'hovering',
      drop: function(event, ui) {
        ui.helper.hide('scale');
        ui.draggable.closest('tr').hide('fade');
        $(this).addClass('merging');
        $.ajax({
          url: '/admin/people/merge?target_id=<%= person.id %>',
          type: 'POST',
          data: ({id: ui.draggable.attr('id')}),
          dataType: 'script'
        });
      }
    });
  <% end -%>
  });
<%- end -%>

