<%= f.hidden_field :promoter_id -%>
<%= f.hidden_field :promoter_name %>
<button type="button"
        class="btn btn-default <%= 'none' unless @event.promoter %>"
        data-toggle="modal"
        data-target="#event_promoter_select_modal"
        id="event_promoter_select_modal_button">
  <span class="glyphicon glyphicon-user"></span>
  <span id="event_promoter_name_button"><%= @event.promoter&.name || "Click to select" %></span>
</button>

<button type="button"
        class="btn btn-default"
        style="<%= 'display: none' unless @event.promoter %>"
        title="Remove promoter"
        id="event_promoter_remove_button">
  <span class="glyphicon glyphicon-remove"></span>
</button>
