<% @page_title = "Admin: Login" %>
<% @show_tabs = false %>

<% if session[:user] %>

<%= form_tag :action=> "login" %>
<% table :caption => "Logged In", :id => "login" do %>
  <tr><th colspan="2">&nbsp;</th></tr>
  <tr>
    <td>You are logged-in as <%= session[:user].name %></td>
  </tr>
  <tr>
    <td><input type="submit" name="logout" value="Logout"/></td>
  </tr>
<% end -%>
</form>

<% else %>

<h2>Welcome</h2>

<%= form_tag :action => "login" %>
  <div class="login centered">
    <%= labelled_text_field_tag "email", "Email", "" %><br/>
    <%= label_tag "user_password", "Password" %>
    <%= password_field_tag "user_password", "" %>
	<p><%= link_to "Forgot your password?", :action => "forgot" %></p>
    <div class="clear page_buttons">
      <div class="right"><input type="submit" name="login" value="Login"/></div>
    </div>
  </div>
</form>
  
<% end %>

<% focus('username') %>