<tr>
  <td><%= link_to show_whitespace(category.name), category_races_path(category) %></td>
  <td><%= category.abilities %>
  <td><%= category.ages %>
  <td><%= category.gender %>
  <td><%= category.equipment %>
  <td><%= category.weight %>
</tr>
