<% @page_title = "Categories" %>

<h3>Categories</h3>

<%= render "shared/search", placeholder: "Search by category name" %>

<%= will_paginate @categories %>

<%= table collection: @categories, columns: 2 do %>
  <thead>
    <tr>
      <td class="name">Name</td>
    </tr>
  </thead>
  <tbody>
    <%= render @categories %>
  </tbody>
<% end %>

<%= will_paginate @categories %>
