<% @page_title = "Admin: Users: #{@user.name}" %>

<%- if @event -%>
  <p class="top-margin centered">
    <%= link_to("Back to #{@event.name}", edit_admin_event_path(@event, :promoter_id => @user.id)) unless @user.new_record? %>
    <%= link_to("Back to #{@event.name}", edit_admin_event_path(@event)) if @user.new_record? %>
  </p>
<% end -%>

<%= error_messages_for :user %>

<h2><%= @user.name %></h2>

<% form_for([:admin, @user]) do |f| %>
<div class="column_grid_container">
  <div class="span-3">
    <%= f.labelled_text_field :name %>
    <%= f.labelled_text_field :email %>
    <%= f.labelled_text_field :phone %>
  </div>
  <% table :caption => "Events", :class => "box-3 last no_top_margin" do %>
    <tr>
      <th>Date</th>
      <th>Name</th>
    </tr>
    <%= render :partial => "event", :collection => @user.events.sort_by(&:date).reverse %>
  <% end -%>

  <div class="page_buttons clear span-6 last">
    <div class="updatedon span-3"><%= "Updated: #{time_ago_in_words(@user.updated_at, true)} ago" unless @user.updated_at.nil? %></div>
    <div class="right span-3 last">
      <%= submit_tag "Save", :id => "save" %>
    </div>
  </div>
</div>

  <%= hidden_field_tag('event_id', @event.id) if @event %>

<% end -%>
