<%= table collection: weekly_events, columns: 6 do %>
  <thead>
    <tr>
      <th>Day</th>
      <th>Event</th>
      <th>Time</th>
      <th>Contact</th>
      <th>Phone</th>
      <th>Notes</th>
    </tr>
  </thead>
  <% weekly_events.sort_by(&:day_of_week).each do |event| %>
  <tbody>
    <tr>
       <td><%= long_day_of_week(event.day_of_week) %></td>
       <td>
         <%= link_to(event.name, event.flyer, class: "obvious") if event.flyer? && event.flyer_approved? %>
         <%= event.name unless event.flyer? %>
       </td>
       <td><%= event.time %></td>
       <td><%= link_to_event_email event %></td>
       <td><%= link_to_event_phone event %></td>
       <td><small><%= event.notes %></small></td>
    </tr>
  </tbody>
  <% end -%>
<% end -%>
