<% @page_title = "Alpenrose Velodrome" %>

<div class="tabs">
  <%= link_to "Track Home", track_path %> |
  <%= link_to "History", "http://#{STATIC_HOST}/track/history/index.html" %> |
  <%= link_to "Information", "http://#{STATIC_HOST}/track/information/index.html" %> |
  <%= link_to "Records", "http://#{STATIC_HOST}/track/records/index.html" %> |
  <%= link_to "Schedule", track_schedule_path %> |
</div>

<table style="margin-left: auto; margin-right: auto;">
  <tr valign="top">
    <td style="padding-right: 12px;">
      <!-- Left-side cell for main content -->
      
      <table bgcolor="#000000" cellspacing="0" border="0" cellpadding="1" width="300">
       
        <tr>
          <td colspan="3">
            <%= image_tag "http://#{STATIC_HOST}/track/images/photos/avc_missandout.jpg", :border => 0, :size => "300x222", :alt => "AVC Miss and Out" %>
          </td>
            </tr>
            <tr bgcolor="black">
              <td>&nbsp;</td>
              <td><small><font color="#cccccc">Marty Nothstein leads the field during the Miss and Out competition of the Alpenrose Challenge.</font></small>
          </td>
              <td>&nbsp;</td>
        </tr>

      </table>

    </td>
    <td style="padding-left: 12px;">
      <%= upcoming_events_table(@upcoming_events,
                                link_to("Velodrome Schedule", track_schedule_path), 
                                "Please check the #{link_to("schedule page", track_schedule_path)} details and exceptions.")
      %>
    </td>
  </tr>
</table>

<div><%= image_tag "http://#{STATIC_HOST}/track/images/logos/alpenrose_logo.gif", :border => 0, :size => "200x65", :alt => "Alpenrose" %></div>
