<% @page_title = "Alpenrose Velodrome Schedule" %>

<div class="tabs">
  <%= link_to "Track Home", track_path %> |
  <%= link_to "History", "http://#{RacingAssociation.current.static_host}/track/history/index.html" %> |
  <%= link_to "Information", "http://#{RacingAssociation.current.static_host}/track/information/index.html" %> |
  <%= link_to "Records", "http://#{RacingAssociation.current.static_host}/track/records/index.html" %> |
  <%= link_to "Schedule", track_schedule_path %> |
</div>

<div class="column_grid_container">
  <div class="span-2 top_margin">
    <table bgcolor="#000000" cellspacing="0">
      <tr>
        <td colspan="3">
           <%= image_tag "http://#{RacingAssociation.current.static_host}/track/images/photos/points_qualifier.jpg", :border => 0, :width => "280", :alt => "AVC points qualifier" %>
        </td>
      </tr>
      <tr bgcolor="black">
        <td>&nbsp;</td>
        <td><small><font color="#cccccc">Points qualifer during the 2001 Alpenrose Challenge.</font></small></td>
        <td>&nbsp;</td>
      </tr>
    </table>
  </div>
  <div class="span-4 last">
    <% table :caption => "Schedule", :class => "box-4" do %>
      <tr>
          <th>Date</th>
          <th>Event</th>
          <th>Contact</th> 
          <th>Phone</th>
      </tr>
      <% if !@events.blank? %>
        <% @events.select { |e| (!e.respond_to?(:parent) || e.parent.nil?) && (e.class == SingleDayEvent || e.class == MultiDayEvent) }.sort_by(&:date).each do |event| %>
          <tr>
            <td><%= event.date_range_s(:short) %></td>
            <td>
              <%= link_to(event.name, event.flyer, :class => "obvious") if event.flyer? %>
              <%= event.name unless event.flyer? %>
            </td>
            <td><%= link_to_event_email event %></td>
            <td><%= link_to_event_phone event %></td>
          </tr>
        <% end %>
        <tr>
          <td colspan="4"><small>Please review the <a href="http://www.obra.org/track/information/index.html#rules">Alpenrose Velodrome rules</a>.<br>
          Call the velodrome during event hours to check on weather cancellations: 503-246-0330.</small></td>
        </tr>
      <% else %>
        <tr>
          <th colspan="4">
            No events
          </th>
        </tr>
      <% end %>        
    <% end %>        
  </div>
  
  <div class="span-6 last">
    <%= render :partial => 'weekly_events', 
               :locals => { :caption => "Weekly Racing Schedule", 
                            :weekly_events => @events.select { |e| e.class == WeeklySeries && !e.instructional? && !e.practice? } }%>

    <%= render :partial => 'weekly_events', 
               :locals => { :caption => "Weekly Instruction Schedule", 
                            :weekly_events => @events.select { |e| e.class == WeeklySeries && e.instructional? } }%>

    <%= render :partial => 'weekly_events', 
               :locals => { :caption => "Weekly Practice Schedule", 
                            :weekly_events => @events.select { |e| e.class == WeeklySeries && e.practice? } }%>
  </div>
</div>

