<div align="center">
<%- if flash[:notice] -%>
  <div class="message" id="message">
      <%= image_tag('icons/confirmed.gif', :height => 11, :width => 11, :id => 'confirmed') %>
      <%= flash[:notice] %>
  </div>
<%- end -%>

<%- if flash[:warn] -%>
  <div class="message" id="warn">
      <%= image_tag('icons/warn.gif', :height => 11, :width => 11, :id => 'confirmed') %>
      <%= flash[:warn] %>
  </div>
<%- end -%>

<%= error_messages_for "team" %>
  
<table class="base">
  <caption><%= @team.name %></caption>
  <tr>
    <th colspan="4">&nbsp;</th>
  </tr>
  <tr>
    <td class="field_label">Name:</td>
    <td><%= f.text_field :name %></td>
    <td class="field_label left">Sponsors</td>
    <td></td>
  </tr>
  <tr>
    <td class="field_label">Contact Name:</td>
    <td><%= f.text_field :contact_name %></td>
    <td rowspan="4" colspan="2"><%= f.text_area :sponsors %></td>
  </tr>
  <tr>
    <td class="field_label">Contact Email:</td>
    <td><%= f.text_field :contact_email %></td>
  </tr>
  <tr>
    <td class="field_label">Contact Phone:</td>
    <td><%= f.text_field :contact_phone %></td>
  </tr>
  <tr>
    <td class="field_label"></td>
    <td><%= f.check_box :member %> Member?</td>
  </tr>
  <tr valign="top">
    <td colspan="2">
      <table class="inline">
        <tr>
          <th>Racers</th>
        </tr>
        <%- @team.racers.sort { |x, y| x.last_name <=> y.last_name || x.first_name <=> y.first_name }.each do |racer| -%>
        <tr>
          <td><%= link_to racer.name, admin_racer_path(racer) %><br></td>
        </tr>
        <%- end -%>
        <%- if @team.racers.empty? %>
        <tr>
          <td colspan="2">None</td>
        </tr>
        <%- end -%>
      </table>
    </td>
    <td>
      <table class="inline">
        <tr>
          <th>Aliases</th>
          <th></th>
        </tr>
        <%- @team.aliases.sort_by {|a| a.name}.each do |name_alias| -%>
        <tr id="alias_<%= name_alias.id %>">
          <td><%= name_alias.name %></td>
          <td>
            <%= link_to_remote(image_tag('/images/buttons/remove_solo.gif', :border => 0, :height => 22, :width => 23), 
                 :url => { :action => "destroy_alias", :id => @team.id, :alias_id => name_alias.id}) %>
          </td>
        </tr>
        <%- end -%>
        <%- if @team.aliases.empty? %>
        <tr>
          <td colspan="2">None</td>
        </tr>
        <%- end -%>
      </table>
    </td>
    <td>
      <table class="inline">
        <tr>
          <th>Historical Names</th>
          <th></th>
          <th></th>
        </tr>
        <%- @team.historical_names.each do |historical_name| -%>
        <tr id="historical_name_<%= historical_name.id %>">
          <td><%= historical_name.name %></td>
          <td><%= historical_name.year %></td>
          <td>
            <%= link_to_remote(image_tag('/images/buttons/remove_solo.gif', :border => 0, :height => 22, :width => 23), 
                 :url => { :action => "destroy_historical_name", :id => @team.id, :alias_id => historical_name.id}) %>
          </td>
        </tr>
        <%- end -%>
        <%- if @team.historical_names.empty? %>
        <tr>
          <td colspan="2">None</td>
        </tr>
        <%- end -%>
      </table>
    </td>
  </tr>
  <tr class="buttons">
    <td class="updatedon" colspan="3"><%= "Updated: #{time_ago_in_words(@team.updated_at, true)} ago" unless @team.updated_at.nil? %></td>
    <td class="right">
      <%= link_to "Delete", admin_team_path(@team), :method => :delete, :class => 'obvious', :id => 'delete' %>
      <%= submit_tag "Save", :id => "save" %>
    </td>
  </tr>
</table>
