<td>
  <%= form_tag(:url => {:action => 'merge', :id => @team.id, :target_id => @existing_teams.first.id }, :html => { :id => "merge_form" }, :remote => true ) %>
    <div style="padding-top: 4px; width: 300px; white-space: normal;">
      <%= @existing_teams.first.name %> <%= aka(@existing_teams.first) %> already exists.
    </div>
    <div style="width: 300px; white-space: normal;">
      Delete <%= @original_name %> and move results to <%= @existing_teams.first.name %>?
    </div>
    <div style="padding-right: 2px; width: 300px; text-align: right;">
      <%= link_to( 
            image_tag('/images/icons/cancel.png'), 
            :url => { :action => "cancel_in_place_edit", :id => @team.to_param },
            :remote => true,
            :html => { :class => "image" }
          )
       %>
      <%= image_submit_tag '/images/icons/accept.png', :class => "button" %>
    </div>
  </form>
</td>
<td colspan="9">&nbsp;</td>
