<tr class="<%= cycle("even", "odd") %>" id="team_<%= team.id %>_row">
  <td class="name">
    <%- @team = team -%>
    <div class="editable" id="team_<%= team.id %>" style="background-image: url(/images/icons/people.gif); background-repeat: no-repeat;">
      <span id="team_<%= team.id %>_name" style="padding-left: 24px;"><%= render(:partial => 'team_name', :locals => { :team => team }) %></span>
    </div>
  </td>
  <td class="aliases">
    <%= render(:partial => 'aliases', :locals => { :team => team }) %>
  </td>
  <td class="member">
      <%= check_box_tag "team_member_#{team.id}", "1", team.member?, 
              :onchange => "new Ajax.Request('/admin/teams/toggle_attribute/#{team.id}?attribute=member', 
                            {asynchronous:true, evalScripts:true})" %>
  </td>
  <td class="right" style="white-space: nowrap;">
      <%= link_to 'Results', :controller => '/results', :action => 'team', :id => team.id %>
    |
    <%= link_to 'Edit', :action => 'show', :id => team.id %>
  </td>
   <td class="icon"><%= link_to_remote image_tag('/images/buttons/small_remove_solo.gif', :height => 16, :width => 16),
                          { :url => admin_team_url(team), :method => :delete, :confirm => "Really delete #{team.name}?" },
                          { :class => "image", :id => "delete_team_#{team.id}" } %>
    </td>
</tr>
