<%= content_tag :tr, :class => cycle("even", "odd"), :id => "team_#{team.id}_row" do %>
  <td class="icon"><%= image_tag "icons/group.png", :id => "team_#{team.id}", "data-name" => team.name %></td>
  <td class="name">
    <%= in_place_editor_field :team, :name, team, true %>
  </td>
  <td class="not_editable">
    <%= render :partial => "aliases", :locals => { :team => team } %>
  </td>
  <td class="check_box">
    <%= render :partial => "shared/member", :locals => { :record => team } %>
  </td>
  <td class="actions not_editable last">
    <%= link_to "Results", team_path(team) %> | <%= link_to "Edit", edit_admin_team_path(team), :id => "edit_#{team.id}" %>
  </td>
<% end -%>
