<tr class="<%= cycle("even", "odd") %>" id="team_<%= team.id %>_row">
  <td>
    <div class="record" id="team_<%= team.id %>">
      <%= in_place_editor_field(:team, :name, team, true) %>
    </div>
  </td>
  <td class="not_editable">
    <%= render(:partial => 'aliases', :locals => { :team => team }) %>
  </td>
  <td class="check_box">
    <%= render :partial => "shared/member", :locals => { :record => team } %>
  </td>
  <td class="actions not_editable last">
      <%= link_to "Results", team_path(team) %>
    |
    <%= link_to 'Edit', edit_admin_team_path(team) %>
  </td>
</tr>
