<% @page_title = 'Admin: Teams' %>

<%= render :partial => "shared/search", :locals => { :name => @name } %>

<% table :class => "teams", :id => :teams do %>
  <tr>
    <th class="name">Name</th>
    <th>Aliases</th>
    <th class="check_box">Member</th>
    <th class="last actions"></th>
  </tr>
  <%= render :partial => "team", :collection => @teams %>
  <% if @teams.empty? %>
  <tr>
    <%- if @name.blank? -%>
    <td colspan="4" class="not_found">Enter part of a team's name</td>
    <%- else -%>
    <td colspan="4" class="not_found">No teams found</td>
    <%- end -%>
  </tr>
  <% end %>
<% end -%>

<div class="buttons container">
  <%= link_to(image_tag('/images/buttons/add.gif'), { :action => 'new' }, { :class => "image" }) %>
</div>

<% focus('name') %>

<%- for team in @teams -%>
  <%= draggable_element("team_#{team.id}", :revert => true, :delay => 100,
                        :onStart => "function() { Droppables.remove('team_#{team.id}_row') }", 
                        :onEnd => "function() { Droppables.add('team_#{team.id}_row', {hoverclass:'hovering', onDrop:function(element){new Ajax.Request('/admin/teams/merge?target_id=#{team.id}', {asynchronous:true, evalScripts:true, parameters:'id=' + encodeURIComponent(element.id)})}})}")
  %>
  <%= drop_receiving_element("team_#{team.id}_row", 
    :url => { :action => "merge", :target_id => team.id },
    :onDrop => "function(element){$('team_#{team.id}').src='/images/icons/spinner.gif'; new Ajax.Request('/admin/teams/merge?target_id=#{team.id}', {asynchronous:true, evalScripts:true, parameters:'id=' + encodeURIComponent(element.id)});Droppables.remove('team_#{team.id}_row') }",
    :hoverclass => 'hovering' ) %>
<%- end -%>
