<% @page_title = 'Admin: Teams' %>

<div align="center">

  <%= form_tag({}, {:method => 'get', :id => 'search_form'}) %>
    <table style="margin-top: 16px; margin-bottom: 16px">
      <tr>
        <td class="field_label">Name:</td>
        <td><%= text_field_tag 'name', @name, :size => 30 %></td>
      </tr>
    </table>
  </form>

  <p class="message" id="notice" <%= "style='display: none;'" unless flash[:notice] %>><%= flash[:notice] %></p>
  <p class="message" id="warn" <%= "style='display: none;'" unless flash[:warn] %>><%= flash[:warn] %></p>

  <table style="position: relative;">
    <tr style="position: relative;">
      <td style="position: relative;">
        <table class="base" id="teams" style="position: relative;">
          <tr>
            <th class="name">Name</th>
            <th class="aliases">Aliases</th>
            <th class="center">Member</th>
            <th></th>
            <th></th>
          </tr>
          <%= render :partial => "team", :collection => @teams %>
          <% if @teams.empty? %>
          <tr valign="top">
            <%- if @name.blank? -%>
            <td colspan="5" width="200" class="not_found">Enter part of a team's name</td>
            <%- else -%>
            <td colspan="5" width="200" class="not_found">No teams found</td>
            <%- end -%>
          </tr>
          <% end %>
        </table>

        <table style="width: 100%;">
          <tr>
            <td><%= link_to(image_tag('/images/buttons/add.gif'), { :action => 'new' }, { :class => "image" }) %></td>
          </tr>
        </table>
      </td>
    </tr>
  </table>

  <% focus('name') %>

          <%- for team in @teams -%>
            <%= draggable_element("team_#{team.id}", :revert => true, :delay => 100,
                                  :onStart => "function() { Droppables.remove('team_#{team.id}_row') }", 
                                  :onEnd => "function() { Droppables.add('team_#{team.id}_row', {hoverclass:'hovering', onDrop:function(element){new Ajax.Request('/admin/teams/merge?target_id=#{team.id}', {asynchronous:true, evalScripts:true, parameters:'id=' + encodeURIComponent(element.id)})}})}")
            %>
            <%= drop_receiving_element("team_#{team.id}_row", 
              :url => { :action => "merge", :target_id => team.id },
              :onDrop => "function(element){$('team_#{team.id}').src='/images/icons/spinner.gif'; new Ajax.Request('/admin/teams/merge?target_id=#{team.id}', {asynchronous:true, evalScripts:true, parameters:'id=' + encodeURIComponent(element.id)});Droppables.remove('team_#{team.id}_row') }",
              :hoverclass => 'hovering' ) %>
          <%- end -%>

          <script type="text/javascript" charset="utf-8">
            function restripeTable() {
              index = 0;
              $A($('teams').rows).each(function(row) {
                if (row.className == 'even' || row.className == 'odd') {
                  if (index % 2 == 0) {
                    row.className = 'even';
                  }
                  else {
                    row.className = 'odd';
                  }
                  index = index + 1;
                }
              });
            }
          </script>
</div>
