<% @page_title = 'Admin: Teams' %>

<%= render :partial => "shared/search", :locals => { :name => @name } %>

<%= table :class => "teams top_margin clear", :id => :teams do %>
  <tr>
    <th class="icon"/>
    <th class="name">Name</th>
    <th>Aliases</th>
    <th class="check_box">Member</th>
    <th class="last actions"></th>
  </tr>
  <%= render :partial => "team", :collection => @teams %>
  <% if @teams.empty? %>
  <tr>
    <%- if @name.blank? -%>
    <td colspan="5" class="not_found">Enter part of a team's name</td>
    <%- else -%>
    <td colspan="5" class="not_found">No teams found</td>
    <%- end -%>
  </tr>
  <% end %>
<% end -%>

<div class="buttons container">
  <%= link_to(image_tag('icons/group_add.png'), { :action => 'new' }, { :class => "image" }) %>
</div>

<% content_for :javascript_include_tag do -%>
  <%= javascript_include_tag "teams" %>
<% end -%>
