<% @page_title = "Admin: Teams: #{@team.name}" %>

<table class="base">
  <tr>
    <th colspan="2"><%= @team.name %></th>
  </tr>
  <tr valign="top">
    <td>
    <%- for racer in @team.racers.sort_by {|r| r.last_name} -%>
      <%= link_to racer.name, admin_racer_path(racer) %><br>
    <%- end -%>
    </td>
    <td>
      <table class="inline">
        <tr>
          <th>Aliases</th>
          <th></th>
        </tr>
        <%- for name_alias in @team.aliases.sort_by {|a| a.name} -%>
        <tr id="alias_<%= name_alias.id %>">
          <td><%= name_alias.name %></td>
          <td>
            <%= link_to_remote(image_tag('/images/buttons/remove_solo.gif', :border => 0, :height => 22, :width => 23), 
                 :url => { :action => "destroy_alias", :id => @team.id, :alias_id => name_alias.id}) %>
          </td>
        </tr>
        <%- end -%>
        <%- if @team.aliases.empty? %>
        <tr>
          <td colspan="2">None</td>
        </tr>
        <%- end -%>
      </table>
    </td>
  </tr>
</table>

