<% @page_title = "Results: #{@event.date.year}: #{@event.full_name}" %>

<% cache cache_key(@event) do %>
  <h2><%= @event.year %> <%= @event.full_name %></h2>
  <%= render partial: "calculations/date_and_parent", locals: { event: @event } %>
  <%= render partial: "races", locals: { races: @races } %>
  <%= render partial: "notes", locals: { event: @event } %>
  <p class="created_updated">Updated <%= @event.updated_at.to_formatted_s :long_and_friendly_date_and_time %></p>
  <%= render partial: "results", locals: { event: @event, races: @races, results: @results } %>
<% end %>
