<% @page_title = "Results: #{@event.date.year}: #{@event.full_name}" %>

<% cache cache_key(@event, @page, @races) do %>
  <h2><%= @event.year %> <%= @event.full_name %></h2>
  <%= render partial: "calculations/date_and_parent", locals: { event: @event } %>
  <%= render partial: "calculation", locals: { calculation: @calculation } %>
  <%= render partial: "calculations/years", locals: { calculation: @calculation } %>
  <%= render partial: "calculations/group_events", locals: { calculation: @calculation } %>
  <% if @many_races %>
    <%= render partial: "separate_races", locals: { races: @races } %>
  <% else %>
    <%= render partial: "races", locals: { races: @races } %>
  <% end %>
  <%= render partial: "notes", locals: { event: @event } %>
  <p class="created_updated">Updated <%= @event.updated_at.to_formatted_s :long_and_friendly_date_and_time %></p>
  <%= will_paginate @results %>
  <%= render partial: "paginated_results", locals: { event: @event, race: @races.first, results: @results } %>
  <%= will_paginate @results %>
<% end %>
