<% @page_title = "Results: #{@event.date.year}: #{@event.full_name}" %>

<% cache cache_key(@event, @page) do %>
  <h2><%= @event.year %> <%= @event.full_name %></h2>
  <%= render partial: "date_and_parent", locals: { event: @event } %>
  <%= render partial: "races", locals: { races: @races } %>
  <%= render partial: "notes", locals: { event: @event } %>
  <p class="created_updated">Updated <%= @event.updated_at.to_formatted_s :long_and_friendly_date_and_time %></p>
  <%= will_paginate @results, page_links: !mobile_request? %>
  <%= render partial: "paginated_results", locals: { event: @event, race: @races.first, results: @results } %>
  <%= will_paginate @results, page_links: !mobile_request? %>
<% end %>
