<div class="column_grid_container owps">
  <div class="span-6 top_margin last" style="text-align: center">
    <img src="http://www.obra.org/images/logos/WPS.fullcolor.logo.jpg" height="150">
  </div>

  <div class="span-6 last">
    <h2>OBRA Women's Prestige Series</h2>

    <p>
      The OBRA Women’s Prestige Race Series is a five month long series, run by the OBRA Oregon Cup committee. 
      The series replaces and expands the previous Oregon Cup Women’s competition and OBRA Cat 4-5 race series.
    </p>

    <p style="text-align: center"><img src="http://www.obra.org/images/logos/obra.png" height="70"></p>
  </div>

  <div class="span-3 top_margin" style="text-align: right">
    <a class="image" href="http://www.giant-bicycles.com/en-us/livgiant/"><img src="http://www.obra.org/images/logos/liv-giant.png" height="70"></a>
  </div>
  <div class="span-3 top_margin last">    
    <a class="image" href="http://www.rapha.cc/"><img src="http://www.obra.org/images/logos/rapha.png" height="70"></a>
  </div>
  
  <div class="span-6 top_margin last" style="text-align: center">
    <a class="image" href="http://letsracebikes.com/"><img src="http://letsracebikes.com/wp-content/uploads/2012/11/letsracebikes_logo3.png" height="50"></a>
  </div>

  <div class="span-6 last">
    <h3>Series Details</h3>

    <p>
      The race series will consist of 10 races and three different competitions. Races will consist of road races, criteriums, time trials 
      and one stage race. The competitions will include a Cat 1/2/3 series, a Cat 4 series and an overall team competition. The Oregon Cup 
      committee will select the races and work directly with race promoters to ensure that the races provide the highest quality event possible.
    </p>

    <h3>Goals</h3>

    <ul>
      <li>Expand participation by providing a year long competition for teams and individuals</li>
      <li>Raise awareness of women’s racing as a fun, safe, active and healthy activity</li>
      <li>Provide focus races on the calendar for women and women’s teams to train and plan for</li>
      <li>Encourage teamwork and team strategy</li>
      <li>Provide resources for promoters increase the level of support and prizes for women’s categories.</li>
    </ul>

    <h3>Schedule</h3>

    <ul class="centered">
      <table class="base">
        <tr>
          <th colspan="3"></th>
        </tr>
      <% @event.competition_event_memberships.each do |membership| %>
      <tr>
        <td><%= membership.event.date.to_s(:short_with_week_day) %></td>
        <td>
          <% if membership.event.has_results? %>
          <%= link_to membership.event.full_name, event_path(membership.event) %>
          <% else %>
          <%= public_link_to_flyer membership.event %>
          <% end %>
        </td>
        <td><%= membership.notes %></td>
      </tr>
      <% end %>
      </table>
    </ul>
  </div>

  <hr class="space"/>

  <h3>Standings</h3>

  <ul class="centered">
    <% unless @event.new_record? %>
    <% @event.races.each do |race| %>
    <h3><%= race.name %></h3>
    <%= results_table race %>
    <% end %>
    <% end %>  

    <% unless @team_event.new_record? %>
    <% @team_event.races.each do |race| %>
    <h3><%= race.name %></h3>
    <%= results_table race %>
    <% end %>
    <% end %>  
  </ul>
      
  <hr class="space"/>

  <div class="span-6 last">
      
    <h3>OWPS Series Rules</h3>

    <h4>Individual Competition Points</h4>

    <ol>
      <li>Individual points will be awarded for each race in the series according to the points table. Only those riders who are annual OBRA members will be eligible for series awards and final series results. If a non-annual member becomes an annual OBRA member after earning series points, they will retain all previously earned individual points.</li>

      <li>Individual points earned in a stage race will be awarded according to overall GC placing only. Points will be awarded at 1.5x the value for individual placings according to the points table.</li>

      <li>In a team time trial, individual points will be calculated by dividing the points awarded for the team placing by the number of riders that started on the team. For example, if four riders start on a team and the team places 1st, each rider receives 25 points for the individual series standings.</li>
    </ol>
    <br/>
  </div>
  
  <div class="span-6 last">
    <h4>Team Competition Points</h4>

    <ol>
      <li>In a road race, criterium, individual time trial or stage race (GC only), team points will be calculated by adding the points of the top three riders from each team according to the points table.</li>

      <li>In a team time trial, team points will be awarded to one team per category (Senior Women and Category 4/5 Women) in the team competition, according to the points table. For example, if one OBRA team starts two separate teams in a team time trial, only the highest placed team will be awarded team points.</li>

      <li>Only registered OBRA teams are eligible for the competition and only annual OBRA members may earn points for their team.</li>
    </ol>
    <br/>
  </div>
  
  <div class="span-3">
    <h4 class="centered">Points Table</h4>
    <table class="centered points">
      <tr>
        <thead>
          <th>Place</th>
          <th>Points</th>
        </thead>
      </tr>
      <tbody>
        <tr>
          <td>1</td>
          <td>100</td>
        </tr>
        <tr>
          <td>2</td>
          <td>80</td>
        </tr>
        <tr>
          <td>3</td>
          <td>70</td>
        </tr>
        <tr>
          <td>4</td>
          <td>60</td>
        </tr>
        <tr>
          <td>5</td>
          <td>55</td>
        </tr>
        <tr>
          <td>6</td>
          <td>50</td>
        </tr>
        <tr>
          <td>7</td>
          <td>45</td>
        </tr>
        <tr>
          <td>8</td>
          <td>40</td>
        </tr>
        <tr>
          <td>9</td>
          <td>35</td>
        </tr>
        <tr>
          <td>10</td>
          <td>30</td>
        </tr>
        <tr>
          <td>11</td>
          <td>25</td>
        </tr>
      </tbody>
    </table>
  </div>
  
  <div class="span-3 last">
    <h4 class="centered">Points Table</h4>
    <table class="centered points">
      <tr>
        <thead>
          <th>Place</th>
          <th>Points</th>
        </thead>
      </tr>
      <tbody>
        <tr>
          <td>12</td>
          <td>20</td>
        </tr>
        <tr>
          <td>13</td>
          <td>18</td>
        </tr>
        <tr>
          <td>14</td>
          <td>16</td>
        </tr>
        <tr>
          <td>15</td>
          <td>14</td>
        </tr>
        <tr>
          <td>16</td>
          <td>12</td>
        </tr>
        <tr>
          <td>17</td>
          <td>10</td>
        </tr>
        <tr>
          <td>18</td>
          <td>8</td>
        </tr>
        <tr>
          <td>19</td>
          <td>6</td>
        </tr>
        <tr>
          <td>20</td>
          <td>4</td>
        </tr>
        <tr>
          <td>21-100</td>
          <td>2</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
