<tr class="scores_<%= @result.id %>">
  <td></td>
  <td class="place"><small><%= score.source_result.place %></small></td>
  <td class="result">
    <div class="event"><small><%= score.source_result.event.name %></small></div>
  </td>
  <td><small><%= score.source_result.race.name %></small></td>
  <td><small><%= score.source_result.event.date.strftime("%D") %></small></td>
  <td><small><%= number_with_precision(score.points, :precision => 0) %></small></td>
  <td></td>
</tr>