<div id="racer-days-by-discipline" class="stats-chart"></div>
<div id="total-racer-days" class="stats-chart"></div>
<div id="racers-by-discipline" class="stats-chart"></div>
<div id="total-racers" class="stats-chart"></div>
<div id="annual-memberships" class="stats-chart"></div>
<div id="total-juniors" class="stats-chart"></div>
<div id="junior-racer-days" class="stats-chart"></div>
<div id="racer-days-by-gender" class="stats-chart"></div>
<div id="racers-by-gender" class="stats-chart"></div>
<div id="racers-gender-ratio" class="stats-chart"></div>
<div id="racer-days-gender-ratio" class="stats-chart"></div>
<script>
  function loadCharts() {
    Highcharts.setOptions({
      lang: {
        thousandsSep: ','
      }
    });
    Highcharts.chart('racer-days-by-discipline', {
      title: {
        text: 'Racer Days by Discipline'
      },
      xAxis: {
        categories: <%= raw @years %>
      },
      yAxis: {
        title: {
          text: 'Racer Days'
        }
      },
      series: <%= raw @racer_days_by_discipline.to_json %>
    });
    Highcharts.chart('total-racer-days', {
      title: {
        text: 'Total Racer Days'
      },
      xAxis: {
        categories: <%= raw @years %>
      },
      yAxis: {
        title: {
          text: 'Racer Days'
        }
      },
      series: <%= raw @total_racer_days.to_json %>
    });
    Highcharts.chart('racers-by-discipline', {
      title: {
        text: 'Racers by Discipline'
      },
      xAxis: {
        categories: <%= raw @years %>
      },
      yAxis: {
        title: {
          text: 'Racers'
        }
      },
      series: <%= raw @racers_by_discipline.to_json %>
    });
    Highcharts.chart('total-racers', {
      title: {
        text: 'Racers'
      },
      xAxis: {
        categories: <%= raw @years %>
      },
      yAxis: {
        title: {
          text: 'Racers'
        }
      },
      series: <%= raw @total_racers.to_json %>
    });
    Highcharts.chart('annual-memberships', {
      title: {
        text: 'Annual Memberships'
      },
      xAxis: {
        categories: <%= raw @years %>
      },
      yAxis: {
        title: {
          text: 'Memberships'
        }
      },
      series: <%= raw @memberships.to_json %>
    });
    Highcharts.chart('total-juniors', {
      title: {
        text: 'Junior Racers'
      },
      xAxis: {
        categories: <%= raw @years %>
      },
      yAxis: {
        title: {
          text: 'Junior Racers'
        }
      },
      series: <%= raw @total_juniors.to_json %>
    });
    Highcharts.chart('junior-racer-days', {
      title: {
        text: 'Junior Racer Days'
      },
      xAxis: {
        categories: <%= raw @years %>
      },
      yAxis: {
        title: {
          text: 'Junior Racer Days'
        }
      },
      series: <%= raw @junior_racer_days.to_json %>
    });
    Highcharts.chart('racer-days-by-gender', {
      title: {
        text: 'Racers Days by Gender'
      },
      xAxis: {
        categories: <%= raw @years %>
      },
      yAxis: {
        title: {
          text: 'Racer Days'
        }
      },
      series: <%= raw @racer_days_by_gender.to_json %>
    });
    Highcharts.chart('racers-by-gender', {
      title: {
        text: 'Racers by Gender'
      },
      xAxis: {
        categories: <%= raw @years %>
      },
      yAxis: {
        title: {
          text: 'Racers'
        }
      },
      series: <%= raw @racers_by_gender.to_json %>
    });
    Highcharts.chart('racers-gender-ratio', {
      title: {
        text: 'Gender Ratio'
      },
      xAxis: {
        categories: <%= raw @years %>
      },
      yAxis: {
        title: {
          text: 'Ratio'
        }
      },
      series: <%= raw @gender_ratio.to_json %>
    });
    Highcharts.chart('racer-days-gender-ratio', {
      title: {
        text: 'Racer Days Gender Ratio'
      },
      xAxis: {
        categories: <%= raw @years %>
      },
      yAxis: {
        title: {
          text: 'Ratio'
        }
      },
      series: <%= raw @racer_days_gender_ratio.to_json %>
    });
  }
  document.addEventListener('DOMContentLoaded', loadCharts);
</script>
