<div id="racer-days-by-discipline" class="stats-chart"></div>
<div id="total-racer-days" class="stats-chart"></div>
<div id="racers-by-discipline" class="stats-chart"></div>
<div id="annual-memberships" class="stats-chart"></div>
<div id="total-juniors" class="stats-chart"></div>
<div id="racers-by-gender" class="stats-chart"></div>
<script>
  function loadCharts() {
    Highcharts.chart('racer-days-by-discipline', {
      title: {
        text: 'By Discipline'
      },
      xAxis: {
        categories: <%= raw @years %>
      },
      yAxis: {
        title: {
          text: 'Racer Days'
        },
        labels: {
            formatter: () => {
                return Highcharts.numberFormat(this.value, 0, '.', ',');
            }
        }
      },
      series: <%= raw @racer_days_by_discipline.to_json %>
    });
    Highcharts.chart('total-racer-days', {
      title: {
        text: 'Total Racer Days'
      },
      xAxis: {
        categories: <%= raw @years %>
      },
      yAxis: {
        title: {
          text: 'Racer Days'
        },
        labels: {
            formatter: () => {
                return Highcharts.numberFormat(this.value, 0, '.', ',');
            }
        }
      },
      series: <%= raw @total_racer_days.to_json %>
    });
    Highcharts.chart('racers-by-discipline', {
      title: {
        text: 'Racers By Discipline'
      },
      xAxis: {
        categories: <%= raw @years %>
      },
      yAxis: {
        title: {
          text: 'Racers'
        },
        labels: {
            formatter: () => {
                return Highcharts.numberFormat(this.value, 0, '.', ',');
            }
        }
      },
      series: <%= raw @racers_by_discipline.to_json %>
    });
    Highcharts.chart('annual-memberships', {
      title: {
        text: 'Annual Memberships'
      },
      xAxis: {
        categories: <%= raw @years %>
      },
      yAxis: {
        title: {
          text: 'Memberships'
        },
        labels: {
            formatter: () => {
                return Highcharts.numberFormat(this.value, 0, '.', ',');
            }
        }
      },
      series: <%= raw @memberships.to_json %>
    });
    Highcharts.chart('total-juniors', {
      title: {
        text: 'Junior Racers'
      },
      xAxis: {
        categories: <%= raw @years %>
      },
      yAxis: {
        title: {
          text: 'Junior Racers'
        },
        labels: {
            formatter: () => {
                return Highcharts.numberFormat(this.value, 0, '.', ',');
            }
        }
      },
      series: <%= raw @total_juniors.to_json %>
    });
    Highcharts.chart('racers-by-gender', {
      title: {
        text: 'Racers by Gender'
      },
      xAxis: {
        categories: <%= raw @years %>
      },
      yAxis: {
        title: {
          text: 'Racers'
        },
        labels: {
            formatter: () => {
                return Highcharts.numberFormat(this.value, 0, '.', ',');
            }
        }
      },
      series: <%= raw @racers_by_gender.to_json %>
    });
  }
  document.addEventListener('DOMContentLoaded', loadCharts);
</script>
