<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title><%= page_title %></title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= csrf_meta_tags %>

  <% cache [ RacingAssociation.current.short_name, :stylesheets ] do %>
    <%= render "layouts/stylesheets" %>
  <% end %>

  <% cache [ RacingAssociation.current.short_name, :javascripts ] do %>
    <%= render "layouts/javascripts" %>
  <% end %>

  <%= favicon_link_tag %>
  <%= favicon_link_tag "apple-touch-icon.png", rel: "apple-touch-icon", type: "image/png" %>
  <%= yield :head %>
  <%= render "shared/google" %>
</head>
<body>
  <%= render "layouts/nav" %>
  <div class="container">
    <div class="flash_messages">
      <% [ :warn, :notice ].each do |key| %>
        <% if flash[key] %>
          <%= render "layouts/flash_message", message: flash[key], alert_class: alert_class(key) %>
        <% end %>
      <% end %>
    </div>

    <div class="content">
      <%= render partial: "shared/tabs" %>
      <%= yield %>
    </div>
  </div>
  <div class="container page-nav">
    <footer>
      <ul>
        <li><%= link_to "Account", account_path, class: "account_link" %></li><li><%=
          link_to "Login", new_person_session_path, class: "login_link" %></li>
      </ul>
    </footer>
  </div>

  <p class="copyright">&copy; <%= Time.zone.now.year %> <%= RacingAssociation.current.name %></p>
</body>
</html>
